<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}">

<title>Specie Admin - Log in </title>

<!-- Vendors Style-->
<link rel="stylesheet" href="{{ url_for('static', filename='css/vendors_css.css') }}">

<!-- Style-->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/horizontal-menu.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/skin_color.css') }}">
