<!-- Vendor JS -->
<script type="text/javascript" src="{{ url_for('static', filename='js/vendors.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='icons/feather-icons/feather.min.js') }}"></script>

<script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
<script src="https://www.amcharts.com/lib/3/serial.js"></script>
<script src="https://www.amcharts.com/lib/3/amstock.js"></script>
<script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
<script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
<script src="https://www.amcharts.com/lib/3/gauge.js" type="text/javascript"></script>
<script src="https://www.amcharts.com/lib/3/pie.js" type="text/javascript"></script>
<script src="https://www.amcharts.com/lib/3/plugins/animate/animate.min.js" type="text/javascript"></script>
<script src="https://www.amcharts.com/lib/4/core.js"></script>
<script src="https://www.amcharts.com/lib/4/charts.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>

<script type="text/javascript" src="{{ url_for('static', filename='vendor_components/Web-Ticker-master/jquery.webticker.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='vendor_components/apexcharts-bundle/irregular-data-series.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='vendor_components/apexcharts-bundle/dist/apexcharts.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='vendor_components/Web-Ticker-master/jquery.webticker.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='vendor_components/moment/min/moment.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='vendor_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='vendor_components/chart.js-master/Chart.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='vendor_components/select2/dist/js/select2.full.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='vendor_components/echarts/dist/echarts-en.min.js') }}"></script>

<!-- specific -->
<script src="{{ url_for('static', filename='js/demo.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.smartmenus.js') }}"></script>
<script src="{{ url_for('static', filename='js/menus.js') }}"></script>
<script src="{{ url_for('static', filename='js/template.js') }}"></script>

<script src="{{ url_for('static', filename='js/pages/toastr.js') }}"></script>
<script src="{{ url_for('static', filename='js/pages/notification.js') }}"></script>

<!-- Others -->
<script>
    // For the theme change
    document.addEventListener('DOMContentLoaded', function() {
    var themeSwitch = document.getElementById('toggle_left_sidebar_skin');
    themeSwitch.addEventListener('change', function(event) {
        var theme = event.target.checked ? 'dark' : 'light';
        fetch('/set_theme?theme=' + theme, {method: 'GET'});
    });
    });
    document.addEventListener('DOMContentLoaded', function() {
        var themeSwitch = document.getElementById('toggle_left_sidebar_skin');
        {% if session['theme'] == 'dark' %}
            themeSwitch.checked = true;
        {% else %}
            themeSwitch.checked = false;
        {% endif %}
    });
</script>