<!-- Vendor JS -->
<script type="text/javascript" src="{{ url_for('static', filename='js/vendors.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='icons/feather-icons/feather.min.js') }}"></script>

<script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
<script src="https://www.amcharts.com/lib/3/serial.js"></script>
<script src="https://www.amcharts.com/lib/3/amstock.js"></script>
<script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
<script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
<script src="https://www.amcharts.com/lib/3/gauge.js" type="text/javascript"></script>
<script src="https://www.amcharts.com/lib/3/pie.js" type="text/javascript"></script>
<script src="https://www.amcharts.com/lib/3/plugins/animate/animate.min.js" type="text/javascript"></script>
<script src="https://www.amcharts.com/lib/4/core.js"></script>
<script src="https://www.amcharts.com/lib/4/charts.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>

<script type="text/javascript"
        src="{{ url_for('static', filename='vendor_components/Web-Ticker-master/jquery.webticker.min.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='vendor_components/apexcharts-bundle/irregular-data-series.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='vendor_components/apexcharts-bundle/dist/apexcharts.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='vendor_components/Web-Ticker-master/jquery.webticker.min.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='vendor_components/moment/min/moment.min.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='vendor_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='vendor_components/chart.js-master/Chart.min.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='vendor_components/select2/dist/js/select2.full.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='vendor_components/echarts/dist/echarts-en.min.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='vendor_components/sweetalert/sweetalert.min.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='vendor_components/sweetalert/jquery.sweet-alert.custom.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='vendor_components/c3/c3.min.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='vendor_components/c3/d3.min.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='vendor_components/datatable/datatables.min.js') }}"></script>

<!-- specific -->
<script src="{{ url_for('static', filename='js/demo.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.smartmenus.js') }}"></script>
<script src="{{ url_for('static', filename='js/menus.js') }}"></script>
<script src="{{ url_for('static', filename='js/template.js') }}"></script>

<script src="{{ url_for('static', filename='js/pages/toastr.js') }}"></script>
<script src="{{ url_for('static', filename='js/pages/notification.js') }}"></script>
<script src="{{ url_for('static', filename='js/pages/data-table.js') }}"></script>


<!-- Others -->
<script>
    // For the theme change
    document.addEventListener('DOMContentLoaded', function () {
        var themeSwitch = document.getElementById('toggle_left_sidebar_skin');
        themeSwitch.addEventListener('change', function (event) {
            var theme = event.target.checked ? 'dark' : 'light';
            fetch('/set_theme?theme=' + theme, {method: 'GET'});

            // Obtenir l'élément conteneur du graphique et vérifier s'il existe
            var chartContainer = document.getElementById('USD_spent_vs_crypto_wallet_value');
            if (chartContainer) {
                if (theme === 'dark') {
                    chartContainer.classList.add('dark-mode');
                } else {
                    chartContainer.classList.remove('dark-mode');
                }
            }
        });

        // Définir l'état initial du switch et du graphique
        var themeSwitch = document.getElementById('toggle_left_sidebar_skin');
        {% if session['theme'] == 'dark' %}
            themeSwitch.checked = true;
            var chartContainer = document.getElementById('USD_spent_vs_crypto_wallet_value');
            if (chartContainer) {
                chartContainer.classList.add('dark-mode');
            }
        {% else %}
            themeSwitch.checked = false;
            var chartContainer = document.getElementById('USD_spent_vs_crypto_wallet_value');
            if (chartContainer) {
                chartContainer.classList.remove('dark-mode');
            }
        {% endif %}
    });


    var symbol_to_name = {
        'BTC-USD': 'Bitcoin',
        'ETH-USD': 'Ethereum',
        'LTC-USD': 'Litecoin',
        'USDT-USD': 'Tether',
        'ADA-USD': 'Cardano',
        'XRP-USD': 'XRP',
        'DOGE-USD': 'Dogecoin',
        'QTUM-USD': 'Qtum',
        'BAT-USD': 'Basic Attention Token',
        'NEO-USD': 'NEO'
    }
    var name_to_symbol = {
        'Bitcoin': 'BTC-USD',
        'Ethereum': 'ETH-USD',
        'Litecoin': 'LTC-USD',
        'Tether': 'USDT-USD',
        'Cardano': 'ADA-USD',
        'XRP': 'XRP-USD',
        'Dogecoin': 'DOGE-USD',
        'Qtum': 'QTUM-USD',
        'Basic Attention Token': 'BAT-USD',
        'NEO': 'NEO-USD'
    }

    // ---------- Notification manager
    document.addEventListener('DOMContentLoaded', function () {
        var dropdownButton = document.querySelector('.dropdown-toggle');
        dropdownButton.onclick = function () {
            get_notifications()
        };
    });
    document.addEventListener('DOMContentLoaded', function () {
        var clearButton = document.getElementById('clear_notifications_button')
        clearButton.onclick = function (event) {
            event.preventDefault(); // Empêche le comportement par défaut du lien
            event.stopPropagation(); // Empêche l'événement de se propager aux éléments parents
            clear_notifications();
        };
    });

    // call toggle_icon_notifications() after all page elements are loaded
    if (document.readyState === "loading") {
        document.addEventListener('DOMContentLoaded', function () {
            toggle_icon_notifications();
        });
    } else {
        toggle_icon_notifications();
    }


    // insert all notifications in the ul with id="notifications_space"
    // API url is '/api/get_notifications'
    // each notification looks like :
    /* <li>
            <a href="#">
                <i class="fa fa-ICON text-info"></i> TEXT
            </a>
        </li>
    */
    // where ICON is the icon to be used and TEXT is the text to be displayed
    function get_notifications() {
        $.ajax({
            url: '/api/get_notifications',
            type: 'GET',
            success: function (data) {
                var notifications_space = document.getElementById('notifications_space');
                notifications_space.innerHTML = '';
                var clear_all_button = document.getElementById('clear_notifications_button');

                if (data.length === 0) { // Vérifier si data est vide
                    var li = document.createElement('li');
                    var a = document.createElement('a');
                    var icon = document.createElement('i');
                    icon.setAttribute('class', 'fa fa-check text-success');
                    a.appendChild(icon);
                    a.appendChild(document.createTextNode('No new notifications'));
                    li.appendChild(a);
                    notifications_space.appendChild(li);

                    // hide the clear all button
                    clear_all_button.style.display = 'none';
                    // change the icon
                    toggle_icon_notifications();

                } else {
                    // Affichage des notifications
                    data.forEach(function (notification) { // Utiliser forEach pour itérer sur les notifications
                        var li = document.createElement('li');
                        var a = document.createElement('a');
                        var icon = document.createElement('i');
                        icon.setAttribute('class', 'fa fa-' + notification['icon'] + ' text-info');
                        a.appendChild(icon);
                        a.appendChild(document.createTextNode(notification['message']));
                        li.appendChild(a);
                        notifications_space.appendChild(li);
                    });

                    // show the clear all button
                    clear_all_button.style.display = 'block';
                    // change the icon
                    toggle_icon_notifications();
                }
            },
            error: function (error) {
                alert('Error while getting notifications: ' + JSON.stringify(error));
            }
        });
    }

    function toggle_icon_notifications() {
        var icon_notifications = document.getElementById('icon_notifications');
        $.ajax({
            url: '/api/get_notifications',
            type: 'GET',
            success: function (data) {
                if (data.length === 0) { // Vérifier si data est vide
                    icon_notifications.setAttribute('data-feather', 'bell');
                } else {
                    icon_notifications.setAttribute('data-feather', 'alert-circle');
                    console.log(icon_notifications);
                }
                feather.replace();
            },
            error: function (error) {
                alert('Error while getting notifications: ' + JSON.stringify(error));
            }
        });
    }

    function clear_notifications() {
        $.ajax({
            url: '/api/delete_all_notifications',
            type: 'GET',
            success: function (data) {
                get_notifications();
            },
            error: function (error) {
                alert('Error while clearing notifications: ' + JSON.stringify(error));
            }
        });
    }

</script>