<nav class="main-nav" role="navigation">

    <!-- Mobile menu toggle button (hamburger/x icon) -->
    <input id="main-menu-state" type="checkbox"/>
    <label class="main-menu-btn" for="main-menu-state">
        <span class="main-menu-btn-icon"></span> Toggle main menu visibility
    </label>

    <!-- Sample menu definition -->
    <ul id="main-menu" class="sm sm-blue">
        <li>
            <a href="{{ url_for('BLP_general.home') }}"
               class="{{ 'active_navbar' if request.path == url_for('BLP_general.home') else '' }}"><i
                    data-feather="monitor"></i>Dashboard</a>
        </li>

        <li><a href="{{ url_for('BLP_general.crypto_dashboard') }}"
               class="{{ 'active_navbar' if request.path == url_for('BLP_general.crypto_dashboard') else '' }}"><i
                data-feather="cpu"></i>Crypto</a>
        </li>
        <li><a href="{{ url_for('BLP_general.nft_marketplace') }}"
               class="{{ 'active_navbar' if request.path == url_for('BLP_general.nft_marketplace') else '' }}"><i
                data-feather="box"></i>NFT</a></li>

        <li><a href="{{ url_for('BLP_general.mining_place') }}"
               class="{{ 'active_navbar' if request.path == url_for('BLP_general.mining_place') else '' }}"><i
                data-feather="server"></i>Mining</a>
        </li>

        <li><a href="{{ url_for('BLP_general.player_quests') }}"
               class="{{ 'active_navbar' if request.path == url_for('BLP_general.player_quests') else '' }}"><i
                data-feather="server"></i>Quests</a>
        </li>
    </ul>
</nav>