<nav class="main-nav" role="navigation">

    <!-- Mobile menu toggle button (hamburger/x icon) -->
    <input id="main-menu-state" type="checkbox"/>
    <label class="main-menu-btn" for="main-menu-state">
        <span class="main-menu-btn-icon"></span> Toggle main menu visibility
    </label>

    <!-- Sample menu definition -->
    <ul id="main-menu" class="sm sm-blue">
        <li><a href="{{ url_for('BLP_general.home') }}"><i data-feather="monitor"></i>Dashboard</a></li>
        <li><a href="{{ url_for('BLP_general.crypto_dashboard') }}"><i data-feather="cpu"></i>Crypto</a></li>
        <li><a href="{{ url_for('BLP_general.nft_dashboard') }}"><i data-feather="box"></i>NFT</a></li>

        <li><a href="#"><i data-feather="lock"></i>Login &amp; Error</a>
            <ul>
                <li><a href="#"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Authentication</a>
                    <ul>
                        <li><a href="auth_login.html"><i class="icon-Commit"><span class="path1"></span><span
                                class="path2"></span></i>Login</a></li>
                        <li><a href="auth_register.html"><i class="icon-Commit"><span class="path1"></span><span
                                class="path2"></span></i>Register</a></li>
                        <li><a href="auth_lockscreen.html"><i class="icon-Commit"><span class="path1"></span><span
                                class="path2"></span></i>Lockscreen</a></li>
                        <li><a href="auth_user_pass.html"><i class="icon-Commit"><span class="path1"></span><span
                                class="path2"></span></i>Recover password</a></li>
                    </ul>
                </li>
                <li><a href="#"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Miscellaneous</a>
                    <ul>
                        <li><a href="error_404.html"><i class="icon-Commit"><span class="path1"></span><span
                                class="path2"></span></i>Error 404</a></li>
                        <li><a href="error_500.html"><i class="icon-Commit"><span class="path1"></span><span
                                class="path2"></span></i>Error 500</a></li>
                        <li><a href="error_maintenance.html"><i class="icon-Commit"><span class="path1"></span><span
                                class="path2"></span></i>Maintenance</a></li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</nav>