<!DOCTYPE html>
<html lang="en">
<head>
    {% include('includes/head_content.html') %}
    <title>Wallet</title>

</head>
<body class="layout-top-nav {% if session['theme'] == 'dark' %}dark-skin{% else %}light-skin{% endif %} theme-primary fixed">

<div class="wrapper">
    <div id="loader"></div>

    <!-- Top navbar -->
    {% include('includes/top_navbar.html') %}

    <!-- Navbar -->
    {% include('includes/navbar.html') %}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <div class="container-full">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="d-flex align-items-center">
                    <div class="me-auto">
                        <h4 class="page-title">Crypto Wallet</h4>
                        <div class="d-inline-block align-items-center">
                            <nav>
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{{ url_for('BLP_general.home') }}"><i
                                            class="mdi mdi-home-outline"></i></a>
                                    </li>
                                    <li class="breadcrumb-item active" aria-current="page">Crypto Wallet</li>
                                </ol>
                            </nav>
                        </div>
                    </div>

                </div>
            </div>

            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <div class="col-xl-6 col-12">
                        <div class="box">
                            <div class="box-header">
                                <h4 class="box-title">
                                    Your crypto Wallet
                                </h4>
                            </div>
                            <div class="box-body p-0">
                                <div>
                                    {% for symbol, name in zip(top_cryptos_symbols, top_cryptos_names) %}
                                        <div class="d-flex justify-content-between bb-1 py-10 px-15 crypto-wallet"
                                             data-symbol="{{ symbol }}">
                                            <a href="{{ url_for('BLP_general.one_crypto_dashboard', symbol=symbol) }}">
                                                <div>
                                                    <i class="cc {{ symbol.split('-')[0] }}"></i>
                                                    <h4 class="mb-0">{{ name }} Wallet</h4>
                                                    <p class="text-fade crypto-balance"><small></small></p>
                                                </div>
                                            </a>
                                            <div>
                                                <div type="button"
                                                     class="waves-effect waves-light btn btn-outline btn-primary mb-5"
                                                     data-bs-toggle="modal"
                                                     data-bs-target=".bs-example-modal-lg"
                                                     onclick="$('.selected_crypto_to_sell').html('{{ name }}'); init_pop_up()">
                                                    <i class="fa fa-paper-plane"></i> Convert
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog"
                                         aria-labelledby="myLargeModalLabel" aria-hidden="true"
                                         style="display: none;">
                                        <div class="modal-dialog modal-lg">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h4 class="modal-title" id="myLargeModalLabel">
                                                        Convert </h4>
                                                    <button type="button" class="btn-close"
                                                            data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <p>
                                                        You're about to convert
                                                        <strong class="selected_crypto_to_sell"></strong> to
                                                        <strong class="selected_crypto_to_buy"></strong>.
                                                    </p>
                                                    <p>
                                                        You have <strong id="balance_crypto_to_sell"></strong>
                                                        and <strong id="balance_crypto_to_buy"></strong>.
                                                    </p>
                                                    <div class="box" style="text-align: center">
                                                        <div class="exchange-calculator">
                                                            <input type="text"
                                                                   class="form-control"
                                                                   name="coins-exchange"
                                                                   placeholder=""
                                                                   id="input_crypto_to_sell"
                                                            >
                                                            <div class="equal"> =</div>
                                                            <input type="text" class="form-control"
                                                                   name="money-exchange"
                                                                   placeholder=""
                                                                   id="input_crypto_to_buy">
                                                            <select class="coins-exchange front-select"
                                                                    name="state"
                                                                    onchange="update_modal_info()">
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button"
                                                            class="btn btn-success btn-outline-success text-start"
                                                            data-bs-dismiss="modal"
                                                            onclick="button_convert_crypto()"
                                                            id="btn_convert_crypto">Convert
                                                    </button>
                                                    <button type="button"
                                                            class="btn btn-warning btn-outline-warning text-start"
                                                            onclick="set_max_amount()"
                                                            id="sell_max_crypto">Convert Max
                                                    </button>
                                                    <button type="button"
                                                            class="btn btn-danger btn-outline-danger text-start"
                                                            data-bs-dismiss="modal">Cancel
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12">
                        <div class="row">
                            <div class="col-xl-12 col-12">
                                <div class="box">
                                    <div class="box-header with-border">
                                        <h4 class="box-title">USD spent vs Crypto Wallet value</h4>
                                    </div>
                                    <div class="box-body">
                                        <div id="USD_spent_vs_crypto_wallet_value"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-12 col-12">
                                <div class="box">
                                    <div class="box-body">
                                        <div class="tab-content">
                                            <div class="tab-pane active" id="tabid1" role="tabpanel">
                                                <h4 class="box-title mb-15">Payment Method</h4>
                                                <div class="row bb-1 pb-15 mb-15">
                                                    <div class="col-6">
                                                        <div class="sel-coin-type-outer">
                                                            <input type="radio" name="pay-type" id="pay-1" checked>
                                                            <label for="pay-1" class="sel-coin-type">
                                                                <i class="fa fa-google-wallet"></i>
                                                                <span class="d-block mb-5">Wallet</span>
                                                                <span class="d-block mb-0"><small
                                                                        id="mini_wallet"></small></span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="sel-coin-type-outer">
                                                            <input type="radio" name="pay-type" id="pay-2">
                                                            <label for="pay-2" class="sel-coin-type">
                                                                <i class="fa fa-bank"></i>
                                                                <span class="d-block mb-5">USA Bank</span>
                                                                <span class="d-block mb-0"><small
                                                                        id="bank_wallet"></small></span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>

                                                <h4 class="box-title mb-15">Amount</h4>
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div class="buy-input-block-content row">
                                                            <div class="buy-input-box col-md-5">
                                                                <div class="form-group">
                                                                    <input type="text" class="form-control"
                                                                           id="input_usd"
                                                                           placeholder="10 USD">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-2 text-center">
                                                                <i class="fa fa-exchange dir-icon"></i>
                                                            </div>
                                                            <div class="buy-input-box col-md-5">
                                                                <div class="form-group">
                                                                    <input type="text" class="form-control"
                                                                           id="input_crypto"
                                                                           placeholder="1 BTC">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <button type="button" id="buy_button"
                                                                class="waves-effect waves-light btn btn-primary mt-10 d-block w-p100">
                                                            Buy Bitcoin
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-12 col-12">
                                <div class="box">
                                    <h3 class="title w-p100 mt-10 mb-0 p-20">Last 7 crypto transactions</h3>
                                    <div class="media-list media-list-hover w-p100 mt-0">
                                        <div id="wallet_history_container"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- /.content -->

        </div>
    </div>
    <!-- /.content-wrapper -->

    <!-- Footer -->
    {% include('includes/footer.html') %}

</div>
<!-- ./wrapper -->

<!-- Page Content overlay -->
{% include('includes/javascript_include_dashboard.html') %}

<script>
    // GAME WALLET JAVA SCRIPT

    // call /api/get_crypto_wallet_evolution to get evolution of the wallet USD value per day
    function get_and_update_wallet_evolution() {
    var url = "/api/get_crypto_wallet_evolution";
    $.ajax({
        url: url,
        type: "GET",
        success: function (data) {
            var dates = ['x']; // Dates
            var data1 = ['wallet value']; // Wallet value in USD
            var data2 = ['USD spent']; // USD spent to buy crypto

            console.log(data1, data2, dates);

            data[0].forEach(function (item) {
                dates.push(item.date);
                data1.push(item.value);
            });


            data[1].forEach(function (item) {
                data2.push(item.value);
            });

            console.log(data1, data2, dates);

            // Créer le graphique avec les données transformées
            c3.generate({
                bindto: "#USD_spent_vs_crypto_wallet_value",
                size: { height: 350 },
                point: { r: 4 },
                color: { pattern: ["#3e8ef7", "#ff4c52"] },
                data: {
                    x: 'x',
                    columns: [
                        dates,
                        data1,
                        data2
                    ],
                    types: { data1: "area", data2: "area-spline" }
                },
                axis: {
                    x: {
                        type: 'timeseries', // Changement pour un axe temporel
                        tick: {
                            format: function (d) { return ""; }, // Suppression des dates pour rendre plus lisible
                            show: false
                        }
                    },
                    y: {
                        tick: {
                            format: function (d) { return "$" + d; } // Ajout du symbole du dollar
                        }
                    }
                },
                tooltip: {
                format: {
                    title: function (d) {
                        // garder uniquement la date (sans l'heure)
                        return d.toDateString();
                    },
                    value: function (value, ratio, id, index) {
                        // Vous pouvez personnaliser davantage l'affichage des valeurs ici si nécessaire
                        return "$" + value;
                        }
                    }
                }
                ,
                grid: { y: { show: true } }
            });
        },
        error: function (error) {
            // Gérer l'erreur ici
            console.log("Erreur lors de la récupération des données : ", error);
        }
    });
}

    function update_game_wallet() {
        /*
        Update the 2 divs with id="mini_wallet" and "bank_wallet" with the balance of the user
        */
        // Get game_wallet balance from API : /api/get_game_wallet
        // using ajax to get the data
        var url = "/api/get_game_wallet";
        $.ajax({
            url: url,
            type: "GET",
            success: function (data) {
                // Get the response data
                var game_wallet = data;
                // Update the balance in the div with id="mini_wallet" and "bank_wallet"
                $("#mini_wallet").html(game_wallet["mini_wallet"].toLocaleString() + "$");
                $("#bank_wallet").html(game_wallet["bank_wallet"].toLocaleString() + "$");
            }
        });
    }

    // Function to disable the buy button if the amount is not valid
    function validateAmount() {
        var balanceUSD = 0;  // Variable pour stocker le montant disponible
        var selectedWallet = "mini_wallet";  // Wallet sélectionné par défaut

        // Fonction pour récupérer le montant disponible dans le wallet sélectionné
        function fetchGameWalletBalance() {
            $.ajax({
                url: "/api/get_game_wallet",
                type: "GET",
                success: function (data) {
                    balanceUSD = data[selectedWallet];
                    validateAmount();
                }
            });
        }

        // Mise à jour du wallet sélectionné
        $("input[name='pay-type']").change(function () {
            selectedWallet = $(this).is("#pay-1") ? "mini_wallet" : "bank_wallet";
            fetchGameWalletBalance();
        });

        // Fonction pour valider le montant et activer/désactiver le bouton d'achat
        function validateAmount() {
            var usdAmount = parseFloat($("#input_usd").val().replace(" USD", ""));
            if (!isNaN(usdAmount) && usdAmount <= balanceUSD) {
                $("#buy_button").prop('disabled', false);
            } else {
                $("#buy_button").prop('disabled', true);
            }
        }

        // Vérifier le montant à chaque modification des valeurs
        $("#input_usd, #input_crypto").on('keyup', function () {
            validateAmount();
        });

        // Récupération initiale du montant disponible
        fetchGameWalletBalance();
    }

    function reset_buy_with_usd() {
        // Reset the input fields of the buy form from USD
        $("#input_usd").val("");
        $("#input_crypto").val("");
    }

    function setupEventHandlers() {
        // Fonction pour enlever les unités de la valeur
        function cleanInputValue(value, unit) {
            return value.replace(unit, '').trim();
        }

        $("#buy_button").click(function () {
            // Récupérer le symbole de la cryptomonnaie (ici, je suppose que c'est toujours BTC-USD)
            var symbol = "BTC-USD";

            // Déterminer la source du paiement sélectionnée
            var paymentSource = $("input[name='pay-type']:checked").is("#pay-1") ? "mini_wallet" : "bank_wallet";

            // Récupérer et nettoyer les montants entrés
            var cryptoAmount = cleanInputValue($("#input_crypto").val(), "BTC");
            var usdAmount = cleanInputValue($("#input_usd").val(), "USD");

            // Construire l'URL pour l'appel AJAX
            var url = "/api/buy_crypto_with_USD/" + symbol + "/" + paymentSource + "/" + usdAmount + "/" + 'USD';

            $.ajax({
                url: url,
                type: "POST",
                success: function (response) {
                    // response is eather {'error': ...} or {'success': ...}
                    if (response.error) {
                        swal("Error", response.error, "error");
                    } else if (response.success) {
                        // Actions supplémentaires après l'achat réussi
                        updateWalletBalances();
                        update_game_wallet();
                        validateAmount()
                        update_wallet_crypto_transactions_history();
                        get_and_update_wallet_evolution();
                        swal("Achat réussi!", "Votre achat de " + cryptoAmount + " BTC a été effectué avec succès.", "success");
                        reset_buy_with_usd();
                    }
                },
                error: function () {
                    swal("Erreur!", "Une erreur est survenue lors de l'achat de cryptomonnaie.", "error");
                }
            });
        });
    }

    // Display the conversion in the exchange calculator from mini or bank wallet
    $(document).ready(function () {
        // Fonction pour valider si l'entrée est un nombre
        function isValidNumber(value) {
            return !isNaN(value) && value.trim() !== '';
        }

        // Fonction pour enlever l'unité des valeurs
        function cleanInputValue(value, unit) {
            return value.replace(unit, '').trim();
        }

        // Fonction pour mettre à jour la valeur en USD lorsque la crypto change
        $("#input_crypto").on('input', function () {
            var cryptoQuantity = cleanInputValue($(this).val(), "BTC");
            var symbol = "BTC-USD";

            if (isValidNumber(cryptoQuantity)) {
                var url = "/api/get_USD_from_crypto/" + symbol + "/" + cryptoQuantity;

                $.ajax({
                    url: url,
                    type: "GET",
                    success: function (data) {
                        $("#input_usd").val(data + " USD");
                    },
                    error: function () {
                        $("#input_usd").val("Erreur");
                    }
                });
            } else {
                // if empty, set the value to '', else set it to 'Erreur'
                $("#input_usd").val(cryptoQuantity === '' ? '' : 'Erreur');
            }
        });

        // Fonction pour mettre à jour la valeur en crypto lorsque l'USD change
        $("#input_usd").on('input', function () {
            var usdAmount = cleanInputValue($(this).val(), "USD");
            var symbol = "BTC-USD";

            if (isValidNumber(usdAmount)) {
                var url = "/api/get_crypto_from_USD/" + symbol + "/" + usdAmount;

                $.ajax({
                    url: url,
                    type: "GET",
                    success: function (data) {
                        $("#input_crypto").val(data + " BTC");
                    },
                    error: function () {
                        $("#input_crypto").val("Erreur");
                    }
                });
            } else {
                // if empty, set the value to '', else set it to 'Erreur'
                $("#input_crypto").val(usdAmount === '' ? '' : 'Erreur');
            }
        });
    });
</script>

<script>
    // POPUP JAVA SCRIPT

    // update modal info (popup) when user select a crypto to convert
    function update_modal_info() {
        // Updated with the select dropdown of the crypto to buy
        // == text at the top of the modal
        var selected_crypto = $(".coins-exchange").val();
        $(".selected_crypto_to_buy").html(selected_crypto);
        // display the amount of the crypto to sell and to buy
        var symbol_to_buy = name_to_symbol[$(".selected_crypto_to_buy").html()];
        var symbol_to_sell = name_to_symbol[$(".selected_crypto_to_sell").html()];
        var url = "/api/get_user_balance";
        $.ajax({
            url: url,
            type: "GET",
            success: function (data) {
                // Get the response data
                var user_balance = data;
                // Get the balance of the crypto to sell
                var balanceInfo = user_balance["crypto_balance_by_symbol"][symbol_to_sell];
                var balance_to_sell = balanceInfo["quantity"];
                var balance_to_sell_usd = balanceInfo["balance"];
                // Get the balance of the crypto to buy
                var balanceInfo = user_balance["crypto_balance_by_symbol"][symbol_to_buy];
                var balance_to_buy = balanceInfo["quantity"];
                var balance_to_buy_usd = balanceInfo["balance"];
                // display the balance of the crypto to sell and to buy
                $("#balance_crypto_to_sell").html(balance_to_sell + " " + symbol_to_sell.split("-")[0] + " ~ $" + balance_to_sell_usd.toLocaleString());
                $("#balance_crypto_to_buy").html(balance_to_buy + " " + symbol_to_buy.split("-")[0] + " ~ $" + balance_to_buy_usd.toLocaleString());
                validateConversionAmount();
            }
        });
        // update the placeholder of the input of the crypto to buy
        $("#input_crypto_to_buy").attr("placeholder", "10 " + name_to_symbol[$(".coins-exchange").val()].split("-")[0]);
    }

    // for currency exchange
    if ($('.coins-exchange').length) {
        $('.coins-exchange').select2({
            minimumResultsForSearch: -1,
        });
    }

    $("#input_crypto_to_sell").on('keyup', function () {
        // delete the buy input
        $("#input_crypto_to_buy").val("");
        update_modal_info();
    });

    $("#input_crypto_to_buy").on('keyup', function () {
        // delete the sell input
        $("#input_crypto_to_sell").val("");
        update_modal_info();
    });

    function reset_buy_crypto_with_crypto() {
        // Reset the input fields of the buy form from crypto
        $("#input_crypto_to_sell").val("");
        $("#input_crypto_to_buy").val("");
    }

    // init popup
    function init_pop_up() {
        // clean the input fields if they are not empty
        reset_buy_crypto_with_crypto();
        // Create the option for the select with the jinja list top_cryptos_names
        // removing the selected crypto
        var selected_crypto = $(".selected_crypto_to_sell").html();
        var options = "";
        {% for symbol, name in zip(top_cryptos_symbols,top_cryptos_names) %}
            if ("{{ name }}" !== selected_crypto) {
                options += '<option value="{{ name }}">{{ name }}</option>';
            }
        {% endfor %}
        $(".coins-exchange").html(options);
        // init placeholder for the input with the balance of the selected crypto and the first option
        $("#input_crypto_to_sell").attr("placeholder", "10 " + name_to_symbol[selected_crypto].split("-")[0]);
        $("#input_crypto_to_buy").attr("placeholder", "10 " + name_to_symbol[$(".coins-exchange").val()].split("-")[0]);
        // update the modal info
        update_modal_info();
    }

    // function to convert crypto and display the button to convert
    function validateConversionAmount() {
        var input_crypto_to_sell = parseFloat($("#input_crypto_to_sell").val());
        var input_crypto_to_buy = parseFloat($("#input_crypto_to_buy").val());
        var maxAmount = parseFloat($("#balance_crypto_to_sell").text().split(" ")[0]);
        var symbol_to_buy = name_to_symbol[$(".selected_crypto_to_buy").html()];
        var symbol_to_sell = name_to_symbol[$(".selected_crypto_to_sell").html()];

        // Convert crypto to crypto
        // 2 cases:
        // if we have the amount to sell, convert it to the amount to buy
        if (input_crypto_to_sell) {
            // convert the amount to buy to the amount to sell
            var url = "/api/get_crypto_from_crypto/" + symbol_to_sell + "/" + symbol_to_buy + "/" + input_crypto_to_sell;
            $.ajax({
                url: url,
                type: "GET",
                success: function (data) {
                    // display the amount to sell
                    $("#input_crypto_to_buy").val(data + " " + symbol_to_buy.split("-")[0]);
                    // add the symbol in the field to sell after the amount
                    $("#input_crypto_to_sell").val(input_crypto_to_sell + " " + symbol_to_sell.split("-")[0]);
                    // Display the button to convert if the amount to sell is valid
                    if (input_crypto_to_sell <= maxAmount && input_crypto_to_sell > 0) {
                        // display the button to convert
                        $("#btn_convert_crypto").prop('disabled', false);
                    } else {
                        // hide the button to convert
                        $("#btn_convert_crypto").prop('disabled', true);
                    }
                },

                error: function () {
                    $("#input_crypto_to_buy").val("Erreur");
                    // hide the button to convert
                    $("#btn_convert_crypto").prop('disabled', true);
                }
            });
        } else if (input_crypto_to_buy) {
            // if we have the amount to buy, convert it to the amount to sell
            // convert the amount to sell to the amount to buy
            var url = "/api/get_crypto_from_crypto/" + symbol_to_buy + "/" + symbol_to_sell + "/" + input_crypto_to_buy;
            $.ajax({
                url: url,
                type: "GET",
                success: function (data) {
                    // display the amount to buy
                    $("#input_crypto_to_sell").val(data + " " + symbol_to_sell.split("-")[0]);
                    // add the symbol in the field to buy after the amount
                    $("#input_crypto_to_buy").val(input_crypto_to_buy + " " + symbol_to_buy.split("-")[0]);
                    // Display the button to convert if the amount to sell is valid
                    if (data <= maxAmount && data > 0) {
                        // display the button to convert
                        $("#btn_convert_crypto").prop('disabled', false);
                    } else {
                        // hide the button to convert
                        $("#btn_convert_crypto").prop('disabled', true);
                    }
                },
                error: function () {
                    $("#input_crypto_to_sell").val("Erreur");
                    // hide the button to convert
                    $("#btn_convert_crypto").prop('disabled', true);
                }
            });
        }
    }

    function button_convert_crypto() {
        var symbol_to_buy = name_to_symbol[$(".selected_crypto_to_buy").html()];
        var symbol_to_sell = name_to_symbol[$(".selected_crypto_to_sell").html()];
        var quantity_to_sell = parseFloat($("#input_crypto_to_sell").val());
        var url = "/api/buy_crypto_with_crypto/" + symbol_to_sell + "/" + symbol_to_buy + "/" + quantity_to_sell + "/sell";
        // test if quantity_to_sell is a number different from 0
        if (isNaN(quantity_to_sell) || quantity_to_sell <= 0) {
            swal("Error", "Please enter a valid amount.", "error");
            return;
        }
        $.ajax({
            url: url,
            type: "POST",
            success: function (response) {
                // Gérer la réponse ici
                if (response.error) {
                    // Afficher un message d'erreur
                    swal("Error", response.error, "error");
                } else {
                    // Mettre à jour les soldes et informer l'utilisateur du succès
                    swal("Conversion successful!", "Your conversion of " + quantity_to_sell + " " + symbol_to_sell.split("-")[0] + " to " + symbol_to_buy.split("-")[0] + " has been successful.", "success");
                    reset_buy_crypto_with_crypto()
                    updateWalletBalances();
                    update_wallet_crypto_transactions_history();
                    update_modal_info();
                }
            },
            error: function () {
                // Gérer les erreurs de communication avec le serveur
                swal("Error!", "An error occurred while converting crypto.", "error");
            }
        });
    }

    function set_max_amount() {
        // set the max amount to sell
        var symbol_to_sell = name_to_symbol[$(".selected_crypto_to_sell").html()];
        var url = "/api/get_user_balance";
        $.ajax({
            url: url,
            type: "GET",
            success: function (data) {
                // Get the balance of the crypto to sell
                var balanceInfo = data["crypto_balance_by_symbol"][symbol_to_sell];
                var balance_to_sell = balanceInfo["quantity"];
                // display the balance of the crypto to sell
                $("#input_crypto_to_sell").val(balance_to_sell + " " + symbol_to_sell.split("-")[0]);
                update_modal_info();
            }
        });
    }

</script>

<script>
    // WHOLE PAGE JAVA SCRIPT
    $(document).ready(function () {
        updateWalletBalances();
        update_game_wallet();
        validateAmount();
        setupEventHandlers();
        update_wallet_crypto_transactions_history();
        get_and_update_wallet_evolution()
    });

    function updateWalletBalances() {
        /*
        Update the amount for each crypto in the divs with class="crypto-wallet"
        */
        // Get crypto balance from API : /api/get_user_balance
        /* That's return a JSON like this:
        {
                "crypto_balance": 0, # all crypto balance in USD,
                'web3_balance': 0,   # web3 balance in USD,
                "crypto_balance_by_symbol": {
                    "BTC": {Quantity: 0, Balance: 0},   # Quantity in BTC, Balance in USD
                    "ETH": {Quantity: 0, Balance: 0},   # Quantity in ETH, Balance in USD
                    ...
                }
            }

         */
        // using ajax to get the data
        var url = "/api/get_user_balance";
        $.ajax({
            url: url,
            type: "GET",
            success: function (data) {
                // Get the response data
                var user_balance = data;

                // Display amount for each crypto
                // Go through each crypto-wallet div
                $(".crypto-wallet").each(function () {
                    var symbol = $(this).data("symbol"); // Récupérer le symbole de la cryptomonnaie
                    var balanceInfo = user_balance["crypto_balance_by_symbol"][symbol];
                    if (balanceInfo) {
                        // Update the balance in the div with id="crypto_balance"
                        // The balance in USD must be formatted with commas to separate thousands
                        $(this).find(".crypto-balance small").text(balanceInfo["quantity"] + " " + symbol.split('-')[0] + " ~ $" + balanceInfo["balance"].toLocaleString());
                    }
                });
            }
        });
    }

    function convertCryptoToUSD(transaction) {
        return new Promise((resolve, reject) => {
            var url = "/api/get_USD_from_crypto/" + transaction.symbol + "-USD/" + transaction.quantity;
            $.ajax({
                url: url,
                type: "GET",
                success: function (data) {
                    transaction["USD"] = data;
                    resolve(transaction);
                },
                error: function (error) {
                    reject(error);
                }
            });
        });
    }

    async function update_wallet_crypto_transactions_history() {
        var url = "/api/get_wallet_crypto_transactions_history";
        $.ajax({
            url: url,
            type: "GET",
            success: async function (data) {
                $("#wallet_history_container").empty();

                var wallet_history = data["wallet_history"].slice(-7);
                wallet_history.reverse();

                if (wallet_history.length === 0) {
                    $("#wallet_history_container").append('<h5 class="media media-single py-10 px-0 w-p100 justify-content-between">' +
                        '<span>' +
                        '<i class="fa fa-circle text-danger pe-10 fs-12"></i>' +
                        'No transaction yet' +
                        '</span>' +
                        '</h5>');
                } else {
                    try {
                        const transactionsWithUSD = await Promise.all(wallet_history.map(convertCryptoToUSD));
                        transactionsWithUSD.forEach(function (transaction) {
                            var historyElement = '<h5 class="media media-single py-10 px-0 w-p100 justify-content-between">' +
                                '<span>' +
                                '<i class="fa fa-circle ' + (transaction.transaction_type === 'sell' ? 'text-danger' : 'text-success') + ' pe-10 fs-12"></i>' +
                                transaction.date + '<br>' +
                                '</span>' +
                                '<span class="text-end pull-right">' +
                                '<span class="badge badge-sm badge-' + (transaction.transaction_type === 'sell' ? 'danger' : 'success') + ' mb-10">' +
                                transaction.transaction_type + '</span><br>' +
                                transaction.quantity + ' ' + transaction.symbol + ' ~ $' + transaction["USD"].toLocaleString() +
                                '</span>' +
                                '</h5>';
                            $("#wallet_history_container").append(historyElement);
                        });
                    } catch (error) {
                        console.error("Erreur lors de la conversion des cryptos en USD", error);
                    }
                }
            }
        });
    }

</script>

</body>
</html>
