<!DOCTYPE html>
<html lang="en">
<head>
    {% include('includes/head_content.html') %}

    <title>Dashboard | Crypto Admin</title>

</head>

<body class="layout-top-nav dark-skin theme-primary fixed">

<div class="wrapper">
    <div id="loader"></div>

    <!-- Top navbar -->
    {% include('includes/top_navbar.html') %}

    <!-- Navbar -->
    {% include('includes/navbar.html') %}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <div class="container-full">
            <!-- Main content -->
            <section class="content">
                <div class="row">


                </div>
            </section>
            <!-- /.content -->
        </div>
    </div>
    <!-- /.content-wrapper -->
    <!-- Footer -->
    {% include('includes/footer.html') %}

    <!-- Control Sidebar -->
    {% include('includes/sidebar_settings.html') %}

</div>
<!-- ./wrapper -->

<!-- Page Content overlay -->


{% include('includes/javascript_include_dashboard.html') %}

</body>
</html>
