<!DOCTYPE html>
<html lang="en">
<head>
    {% include('includes/head_content.html') %}

    <title>Your servers</title>

</head>

<body class="layout-top-nav {% if session['theme'] == 'dark' %}dark-skin{% else %}light-skin{% endif %} theme-primary fixed">

<div class="wrapper">
    <div id="loader"></div>

    <!-- Top navbar -->
    {% include('includes/top_navbar.html') %}

    <!-- Navbar -->
    {% include('includes/navbar.html') %}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <div class="container-full">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="d-flex align-items-center">
                    <div class="me-auto">
                        <h3 class="page-title">Server details</h3>
                        <div class="d-inline-block align-items-center">
                            <nav>
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#"><i class="mdi mdi-home-outline"></i></a>
                                    </li>
                                    <li class="breadcrumb-item" aria-current="page"><a
                                            href="{{ url_for('BLP_general.mining_place') }}">Mining server
                                        marketplace</a>
                                    </li>
                                    <li class="breadcrumb-item active" aria-current="page">{{ server_data.name }}
                                        details
                                    </li>
                                </ol>
                            </nav>
                        </div>
                    </div>

                </div>
            </div>

            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="box">
                            <div class="box-header with-border">
                                <a href="#"><i class="cc {{ server_data.symbol }} no-margin me-10"
                                               title="{{ server_data.symbol }}"></i></a>
                                <h4 class="box-title">{{ server_data.name }}
                                    <small class="subtitle mt-0">Mining {{ server_data.symbol }} token</small></h4>
                            </div>
                            <div class="box-body">
                                <p>Experience the ultimate cryptocurrency mining performance with our advanced mining
                                    server <b>{{ server_data.name }}</b>, designed to deliver exceptional hash rates
                                    with
                                    minimal power consumption.
                                    Our robust and reliable server ensure 99.9% uptime, allowing for uninterrupted
                                    mining operations. Navigating and managing your mining activities is a breeze with
                                    our user-friendly interface, accessible from any device. Gain insightful real-time
                                    analytics to make data-driven decisions swiftly and keep your mining operation ahead
                                    of the curve. Whether you're scaling up or just starting out, our servers offer
                                    scalable solutions to meet your evolving needs. Embrace the full potential of
                                    professional mining and elevate your mining
                                    venture to new heights with our powerful and efficient servers.</p>

                                <div class="row">
                                    <div class="col-lg-2">
                                    </div>
                                    <div class="col-12 col-lg-8">
                                        <div class="box text-center bg-info">
                                            <div class="box-body">
                                                <h2 class="mt-10">Current power</h2>
                                                <h4 class="text-bold" id="total_server_number"></h4>
                                                <h2 class="text-bold text-warning mt-20 mb-20" id="total_power"></h2>
                                                <a href="{{ url_for('BLP_general.mining_server_invoices', server_name=server_data.name) }}"
                                                   class="btn btn-warning mb-20">View invoices</a><br>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="box">
                            <div class="box-header">
                                <h4 class="mb-0 fw-500">Details</h4>
                            </div>
                            <div class="box-body">
                                <div class="row mb-30">
                                    <div class="col-12 col-lg-6">
                                        <h5 class="p-15 mb-0"><strong>Token:</strong> {{ server_data.symbol }}</h5>
                                        <h5 class="p-15 mb-0"><strong>Rent
                                            price:</strong> {{ server_data.rent_amount_per_week }} {{ server_data.symbol }}/week
                                        </h5>
                                        <h5 class="p-15 mb-0"><strong>Server
                                            power:</strong> {{ server_data.power }} {{ server_data.symbol }}/day
                                        </h5>
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <h5 class="p-15 mb-0"><strong>Server
                                            category:</strong> {{ server_data.category }}</h5>
                                        <h5 class="p-15 mb-0"><strong>Buy
                                            price:</strong> {{ server_data.buy_amount }} {{ server_data.symbol }}</h5>
                                    </div>
                                    <div class="col-12 col-lg-12">
                                        <h5 class="p-15 mb-0"><strong>Maintenance (only if
                                            rent):</strong> {{ server_data.maintenance_cost_per_week }} {{ server_data.symbol }}/week
                                        </h5>
                                    </div>
                                </div>
                            </div>
                            <div class="box-header">
                                <h4 class="mb-0 fw-500">Your configuration</h4>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-12 col-lg-6">
                                        <h5 class="p-15 mb-0"><strong>Server rented:</strong><a id="server_rented"></a>&nbsp;&nbsp;<span
                                                class="badge badge-lg badge-danger" onclick="" href="#"
                                                data-bs-toggle="modal" data-bs-target="#rent_server"
                                        ><i
                                                class="fa fa-plus faa-horizontal animated"></i></span>&nbsp;&nbsp;<span
                                                class="badge badge-lg badge-info" onclick="" href="#"
                                                data-bs-toggle="modal" data-bs-target="#unrent_server"
                                        ><i
                                                class="fa fa-minus faa-horizontal animated"></i></span></h5>
                                        <h5 class="p-15 mb-0"><strong>{{ server_data.symbol }}
                                            spent to buy:</strong><a id="token_spent_to_buy"></a></h5>
                                        <h5 class="p-15 mb-0"><strong>{{ server_data.symbol }}
                                            spent for maintenance:</strong><a id="maintenance_cost"></a></h5>
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <h5 class="p-15 mb-0"><strong>Server bought:</strong><a id="server_bought"></a>&nbsp;&nbsp;<span
                                                class="badge badge-lg badge-danger" onclick="" href="#"
                                                data-bs-toggle="modal" data-bs-target="#buy_server"
                                        ><i
                                                class="fa fa-plus faa-horizontal animated"></i></span>&nbsp;&nbsp;<span
                                                class="badge badge-lg badge-info" onclick="" href="#"
                                                data-bs-toggle="modal" data-bs-target="#sell_server"
                                        ><i
                                                class="fa fa-minus faa-horizontal animated"></i></span></h5>
                                        <h5 class="p-15 mb-0"><strong>{{ server_data.symbol }}
                                            spent to rent:</strong><a id="token_spent_to_rent"></a></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- /.content -->

        </div>
    </div>
    <!-- /.content-wrapper -->

    <!-- Modals -->
    <div id="rent_server" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Rent {{ server_data.name }}</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>You will immediately receive your {{ server_data.symbol }} tokens after the rent.</p>
                    <div class="form-group">
                        <label class="form-label">Choose the number of server to rent </label>
                        <input id="range_int_selector_rent" type="text" value="1" name="range_int_selector_rent"
                               data-bts-button-down-class="btn btn-secondary"
                               data-bts-button-up-class="btn btn-secondary">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success" data-bs-dismiss="modal"
                            id="validate_rent_server">Validate
                    </button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <div id="unrent_server" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Stop {{ server_data.name }} rental</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>You will immediately receive your {{ server_data.symbol }} tokens after the unrent.</p>
                    <div class="form-group">
                        <label class="form-label">Choose the number of server to unrent </label>
                        <input id="range_int_selector_unrent" type="text" value="1" name="range_int_selector_unrent"
                               data-bts-button-down-class="btn btn-secondary"
                               data-bts-button-up-class="btn btn-secondary">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success" data-bs-dismiss="modal"
                            id="validate_unrent_server">Validate
                    </button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <div id="buy_server" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Buy {{ server_data.name }}</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>You will immediately receive your {{ server_data.symbol }} tokens after the purchase.</p>
                    <div class="form-group">
                        <label class="form-label">Choose the number of server to buy </label>
                        <input id="range_int_selector_buy" type="text" value="1" name="range_int_selector_buy"
                               data-bts-button-down-class="btn btn-secondary"
                               data-bts-button-up-class="btn btn-secondary">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success" data-bs-dismiss="modal"
                            id="validate_buy_server">Validate
                    </button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <div id="sell_server" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Sell {{ server_data.name }}</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>You will immediately receive your {{ server_data.symbol }} tokens after the sale.</p>
                    <div class="form-group">
                        <label class="form-label">Choose the number of server to sell </label>
                        <input id="range_int_selector_sell" type="text" value="1" name="range_int_selector_sell"
                               data-bts-button-down-class="btn btn-secondary"
                               data-bts-button-up-class="btn btn-secondary">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success" data-bs-dismiss="modal"
                            id="validate_sell_server">Validate
                    </button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <!-- Footer -->
    {% include('includes/footer.html') %}

</div>
<!-- ./wrapper -->

<!-- Page Content overlay -->


{% include('includes/javascript_include_dashboard.html') %}

<script>
    // Get user details of this server with '/api/get_user_mining_server_details/<server_id>/<user_id>'
    function loadUserMiningServerDetails(serverId, userId) {
        $.ajax({
            url: `/api/get_user_mining_server_details/${serverId}/${userId}`, // URL de votre endpoint API
            method: 'GET',
            success: function (serverDetails) {
                $('#server_rented').html(` ${serverDetails.number_of_servers_rented}`);
                $('#server_bought').html(` ${serverDetails.number_of_servers_bought}`);
                $('#total_server_number').html(` ${serverDetails.number_of_servers_rented +
                serverDetails.number_of_servers_bought} running server(s)`);
                $('#token_spent_to_buy').html(` ${serverDetails.total_buy_amount}`);
                $('#token_spent_to_rent').html(` ${serverDetails.total_rent_amount_per_week}/week`);
                $('#maintenance_cost').html(` ${serverDetails.total_maintenance_cost_per_week}/week`);
                $('#total_power').html(` ${(serverDetails.number_of_servers_rented +
                    serverDetails.number_of_servers_bought) * serverDetails.power} ${serverDetails.symbol}/day`);
            },
            error: function (error) {
                console.error('Error:', error);
            }
        });
    }

    // Function to manage the servers modal Validation
    // 1. function to buy a server
    // Api call : /api/buy_mining_server/<server_id>/<user_id>/<number_of_servers_to_buy>'
    // 2. function to sell a server
    // Api call : /api/sell_mining_server/<server_id>/<user_id>/<number_of_servers_to_sell>'
    // 3. function to rent a server
    // Api call : /api/rent_mining_server/<server_id>/<user_id>/<number_of_servers_to_rent>'
    // 4. function to unrent a server
    // Api call : /api/stop_renting_mining_server/<server_id>/<user_id>/<number_of_servers_to_unrent>'

    function manageServerModalValidation(serverId, userId, number_of_servers, action) {
        // Make sure that the number of servers is an integer superior to 0 strictly (convert it to int)
        // else, swal an error
        if (parseInt(number_of_servers) <= 0) {
            swal("Error", "The number of servers must be an integer superior to 0", "error");
            return 0;
        } else {
            $.ajax({
                url: `/api/${action}_mining_server/${serverId}/${userId}/${number_of_servers}`,
                method: 'GET',
                success: function (serverDetails) {
                    success_call = serverDetails.success;
                    message_call = serverDetails.message;
                    if (success_call) {
                        loadUserMiningServerDetails('{{ server_data.id }}', '{{ current_user.id }}');
                        swal("Success", message_call, "success");
                    } else {
                        swal("Error", message_call, "error");
                    }
                },
                error: function (error) {
                    console.error('Error:', error);
                }
            });
        }
    }

    // attach the function to the validate button
    $('#validate_buy_server').click(function () {
        manageServerModalValidation('{{ server_data.id }}', '{{ current_user.id }}', $('#range_int_selector_buy').val(), 'buy');
    });
    $('#validate_sell_server').click(function () {
        manageServerModalValidation('{{ server_data.id }}', '{{ current_user.id }}', $('#range_int_selector_sell').val(), 'sell');
    });
    $('#validate_rent_server').click(function () {
        manageServerModalValidation('{{ server_data.id }}', '{{ current_user.id }}', $('#range_int_selector_rent').val(), 'rent');
    });
    $('#validate_unrent_server').click(function () {
        manageServerModalValidation('{{ server_data.id }}', '{{ current_user.id }}', $('#range_int_selector_unrent').val(), 'stop_renting');
    });

    $(document).ready(function () {
        loadUserMiningServerDetails('{{ server_data.id }}', '{{ current_user.id }}');
    });

</script>

</body>
</html>
