<!DOCTYPE html>
<html lang="en">
<head>
    {% include('includes/head_content.html') %}
    <title>Mining invoices</title>

</head>
<body class="layout-top-nav {% if session['theme'] == 'dark' %}dark-skin{% else %}light-skin{% endif %} theme-primary fixed">

<div class="wrapper">
    <div id="loader"></div>

    <!-- Top navbar -->
    {% include('includes/top_navbar.html') %}

    <!-- Navbar -->
    {% include('includes/navbar.html') %}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <div class="container-full">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="d-flex align-items-center">
                    <div class="me-auto">
                        <h3 class="page-title">Mining Invoices</h3>
                        <div class="d-inline-block align-items-center">
                            <nav>
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#"><i class="mdi mdi-home-outline"></i></a>
                                    </li>
                                    <li class="breadcrumb-item" aria-current="page"><a
                                            href="{{ url_for('BLP_general.mining_place') }}">Mining server
                                        marketplace</a></li>
                                    <li class="breadcrumb-item" aria-current="page"><a
                                            href="{{ url_for('BLP_general.mining_manage_server', server_name=server_name) }}">{{ server_name }}
                                        details</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Invoice List</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <div class="col-xl-10 col-lg-9 col-12">
                        <div class="box">
                            <div class="box-header with-border">
                                <h4 class="box-title">Invoice List for <b>{{ server_name }}</b></h4>
                            </div>
                            <div class="box-body">
                                <div class="table-responsive">

                                    <table id="invoices" class="table table-lg invoice-archive">
                                        <thead>
                                        <tr>
                                            <th>Period</th>
                                            <th>Issued to</th>
                                            <th>Issue date</th>
                                            <th>Type</th>
                                            <th>Server name</th>
                                            <th>Amount</th>
                                        </tr>
                                        </thead>
                                        <tbody id="invoices_tbody">
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-12">
                        <div class="box box-inverse box-success">
                            <div class="box-body">
                                <div class="flexbox">
                                    <h5>Invoice</h5>
                                    <div class="dropdown">
                                        <span class="dropdown-toggle no-caret" data-bs-toggle="dropdown"><i
                                                class="ion-android-more-vertical rotate-90"></i></span>
                                        <div class="dropdown-menu dropdown-menu-end">
                                            <a class="dropdown-item" href="#"><i class="ion-android-list"></i>
                                                Details</a>
                                            <a class="dropdown-item" href="#"><i class="ion-android-add"></i> Add
                                                new</a>
                                            <a class="dropdown-item" href="#"><i class="ion-android-refresh"></i>
                                                Refresh</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="text-center my-2">
                                    <div class="fs-60" id="total_invoice_number"></div>
                                    <span>Total Invoice</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- /.content -->
        </div>
    </div>
    <!-- /.content-wrapper -->


    <!-- Footer -->
    {% include('includes/footer.html') %}
</div>
<!-- ./wrapper -->


{% include('includes/javascript_include_dashboard.html') %}


<script>
    // Get invoices from server at the loading of the page
    // Api call : '/api/get_user_mining_servers_invoices/<server_name>'
    // response : list of dict with keys : period, issuer, due_date, amount, type_payment
    function get_invoices() {
        $.ajax({
            url: '/api/get_user_mining_servers_invoices/{{ server_name }}',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                console.log(data);
                // Update the invoices table by adding object like this :
                /*
                <tbody id="invoices_tbody">
                <tr>
                    <td>February 2018</td>
                    <td>
                        <h6 class="mb-0">
                            <a href="#">Antonin</a>
                        </h6>
                    </td>
                    <td>February 8 2018</td>
                    <td>
                        <span class="badge badge-pill badge-success">Rent</span>
                    </td>
                    <td>Server name</td>
                    <td>
                        <h6 class="mb-0 fw-bold">$36,890</h6>
                    </td>
                </tr>
                </tbody>
                */
                // in the tbody with id : 'invoices_tbody'
                var invoices_tbody = $('#invoices_tbody');
                for (var i = 0; i < data.length; i++) {
                    var invoice = data[i];
                    var period = invoice['period'];
                    var issuer = invoice['issuer'];
                    var due_date = invoice['due_date'];
                    var amount = invoice['amount'];
                    var type_payment = invoice['type_payment'];
                    var server_name = invoice['server_name'];

                    var tr = $('<tr></tr>');
                    var td_period = $('<td></td>').text(period);
                    var td_issuer = $('<td></td>').html('<h6 class="mb-0"><a href="#">' + issuer + '</a></h6>');
                    var td_due_date = $('<td></td>').text(due_date);
                    if (type_payment === 'rent') {
                        var td_type_payment = $('<td></td>').html('<span class="badge badge-pill badge-info"> Rent </span>');
                    } else {
                        var td_type_payment = $('<td></td>').html('<span class="badge badge-pill badge-success"> Buy </span>');
                    }
                    var td_server_name = $('<td></td>').text(server_name);
                    var td_amount = $('<td></td>').html('<h6 class="mb-0 fw-bold">' + amount + ' {{ server_symbol }}</h6>');

                    tr.append(td_period);
                    tr.append(td_issuer);
                    tr.append(td_due_date);
                    tr.append(td_type_payment);
                    tr.append(td_server_name);
                    tr.append(td_amount);

                    invoices_tbody.append(tr);
                }

                // Refresh the datatable
                $('#invoices').DataTable();

                // Get the number of invoices
                var nb_invoices = data.length;
                $('#total_invoice_number').text(nb_invoices);

            },
            error: function (data) {
                console.log(data);
            }
        });
    }

    // Load invoices in the invoices table at the loading of the page
    $(document).ready(function () {
        get_invoices();
    });

</script>


</body>
</html>
