<!DOCTYPE html>
<html lang="en">
<head>
    {% include('includes/head_content.html') %}

    <title>Mining marketplace</title>

</head>

<body class="layout-top-nav {% if session['theme'] == 'dark' %}dark-skin{% else %}light-skin{% endif %} theme-primary fixed">

<div class="wrapper">
    <div id="loader"></div>

    <!-- Top navbar -->
    {% include('includes/top_navbar.html') %}

    <!-- Navbar -->
    {% include('includes/navbar.html') %}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <div class="container-full">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="d-flex align-items-center">
                    <div class="me-auto">
                        <h3 class="page-title">Server list</h3>
                        <div class="d-inline-block align-items-center">
                            <nav>
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#"><i class="mdi mdi-home-outline"></i></a>
                                    </li>
                                    <li class="breadcrumb-item active" aria-current="page">Mining server types</li>
                                </ol>
                            </nav>
                        </div>
                    </div>

                </div>
            </div>

            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <div class="col-12">
                        <div class="box">
                            <div class="box-body p-0">
                                <div class="radio-group radios-filter d-flex justify-content-between">
                                    <div class="p-30">
                                        <div class="radio">
                                            <input name="group1" value="all" type="radio"
                                                   class="with-gap radio-col-warning" id="radio_0">
                                            <label for="radio_0" class="mb-0 fw-600">All</label>
                                        </div>
                                    </div>
                                    <div class="p-30">
                                        <div class="radio">
                                            <input name="group1" value=".PulseSeries" type="radio"
                                                   class="with-gap radio-col-warning" id="radio_1">
                                            <label for="radio_1" class="mb-0 fw-600">PulseSeries</label>
                                        </div>
                                    </div>
                                    <div class="p-30">
                                        <div class="radio">
                                            <input name="group1" value=".NovaSeries" type="radio"
                                                   class="with-gap radio-col-warning" id="radio_2">
                                            <label for="radio_2" class="mb-0 fw-600">NovaSeries</label>
                                        </div>
                                    </div>
                                    <div class="p-30">
                                        <div class="radio">
                                            <input name="group1" value=".QuantumSeries" type="radio"
                                                   class="with-gap radio-col-warning" id="radio_3">
                                            <label for="radio_3" class="mb-0 fw-600">QuantumSeries</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row ico-filter" data-ref="ico-filter" id="mining_server_div">
                            <!-- Mining servers will be loaded here -->
                        </div>
                    </div>
                </div>
            </section>
            <!-- /.content -->

        </div>
    </div>
    <!-- /.content-wrapper -->
    <!-- Footer -->
    {% include('includes/footer.html') %}

</div>
<!-- ./wrapper -->

<!-- Page Content overlay -->


{% include('includes/javascript_include_dashboard.html') %}

<script>

    var mixer;
    var BONUS_FROM_BTC_WALLET = {{ BONUS_FROM_BTC_WALLET }};

    function loadMiningServers() {
        $.ajax({
            url: '/api/get_all_mining_servers', // Votre endpoint API
            method: 'GET',
            success: function (servers) {
                var serversDiv = $('#mining_server_div');

                servers.forEach(function (server) {
                    var logoBaseURL = "{{ url_for('static', filename='PATH') }}";
                    server.logo_path = logoBaseURL.replace('PATH', server.logo_path);

                    var urlDetails = "{{ url_for('BLP_general.mining_manage_server', server_name= 'SERVER_NAME') }}";
                    urlDetails = urlDetails.replace('SERVER_NAME', server.name);

                    var serverHTML = `
                    <div class="col-12 col-md-6 col-lg-4 mix ${server.category}">
                        <div class="box box-body pull-up">
                            <div class="d-flex justify-content-between">
                                <div class="media align-items-center p-0">
                                    <div class="text-center">
                                        <a href="${urlDetails}">
                                            <img src="${server.logo_path}" alt="${server.name} logo" style="height:50px;">
                                        </a>
                                    </div>
                                    <div>
                                        <a href="${urlDetails}">
                                            <h3 class="no-margin text-bold">${server.name}</h3>
                                        </a>
                                        Power: <span class="text-success">${server.power}</span> ${server.symbol}/day
                                        <small class="fs-11 mb-0 text-uppercase text-mute">($${server.power_USD})</small>
                                        <br>
                                        Buy price: <span class="text-danger">${server.buy_amount}</span> ${server.symbol} <small class="fs-11 mb-0 text-uppercase text-mute">($${server.buy_amount_USD})</small><br>
                                        ${BONUS_FROM_BTC_WALLET > 0 ? 'Bonus: + <span class="text-info">'+ BONUS_FROM_BTC_WALLET*100 + '% </span>' :''}
                                    </div>
                                </div>
                                <div>
									<div>
									  <p class="no-margin fw-600"><span class="text-info">${server.number_of_servers}</span> / {{ max_servers }}</p>
                                      <p class="no-margin">Bought</p>
									</div>
								</div>
                            </div>
                        </div>
                    </div>`;
                    serversDiv.append(serverHTML);  // Ajouter le nouveau HTML
                });

                // reset mixitup with new documents in the DOM
                initMixItUp();
                mixer.forceRefresh();
            },
            error: function (error) {
                console.error('Error:', error);
            }
        });
    }

    function initMixItUp() {
        mixer = mixitup('.ico-filter', {
            load: {
                filter: 'all'
            }
        });
        $('#radio_0').prop('checked', true);
    }


    $(document).ready(function () {
        loadMiningServers();
    });
</script>

</body>
</html>
