<!DOCTYPE html>
<html lang="en">
<head>
    {% include('includes/head_content.html') %}
    <title>NFT marketplace</title>

</head>
<body class="layout-top-nav {% if session['theme'] == 'dark' %}dark-skin{% else %}light-skin{% endif %} theme-primary fixed">

<div class="wrapper">
    <div id="loader"></div>

    <!-- Top navbar -->
    {% include('includes/top_navbar.html') %}

    <!-- Navbar -->
    {% include('includes/navbar.html') %}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <div class="container-full">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="d-flex align-items-center">
                    <div class="me-auto">
                        <h3 class="page-title">NFT Marketplace</h3>
                        <div class="d-inline-block align-items-center">
                            <nav>
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{{ url_for('BLP_general.home') }}"><i
                                            class="mdi mdi-home-outline"></i></a>
                                    </li>
                                    <li class="breadcrumb-item active" aria-current="page">NFT dashboard</li>
                                </ol>
                            </nav>
                        </div>
                    </div>

                </div>
            </div>

            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <!-- Research area -->
                    <div class="col-xl-2 col-lg-4 col-12">
                        <div class="box">
                            <div class="box-header with-border">
                                <h4 class="box-title">Collections</h4>
                            </div>
                            <div class="box-body no-padding mailbox-nav">
                                <ul class="nav nav-pills flex-column" id="collection_picker">
                                    <li class="nav-item"><a class="nav-link active" href="#" id="show_all_nft"
                                                            onclick="active_collection(this)"><i
                                            class="ion ion-ios-albums-outline"></i> All</a>
                                    </li>
                                    {% for collection in NFT_collections %}
                                        <li class="nav-item">
                                            <a class="nav-link" href="#" id="{{ collection.replace(' ', '_') }}"
                                               onclick="active_collection(this)">
                                                <i class="ion ion-ios-albums"></i>
                                                {{ collection }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /. box -->
                        <div class="box">
                            <div class="box-header with-border">
                                <h4 class="box-title">Labels</h4>
                            </div>
                            <div class="box-body no-padding mailbox-nav">
                                <ul class="nav nav-pills flex-column">
                                    <li class="nav-item"><a class="nav-link" href="#" onclick="active_liked()"
                                    id="liked_section"><i
                                            class="fa fa-heart-o text-danger"></i> Liked</a>
                                    </li>
                                    <li class="nav-item"><a class="nav-link" href="#" onclick="active_owned()"
                                    id="owned_section"><i
                                            class="fa fa-bank text-danger"></i> Owned</a>
                                    </li>
                                </ul>
                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->
                    </div>
                    <!-- NFT grid -->
                    <div class="col-xl-10 col-lg-8 col-12">
                        <div class="row" id="markeplace_NFT_div">

                        </div>
                    </div>
                </div>
            </section>
            <!-- /.content -->

        </div>
    </div>
    <!-- /.content-wrapper -->

    <!-- Footer -->
    {% include('includes/footer.html') %}

</div>


{% include('includes/javascript_include_dashboard.html') %}

<script>
function active_collection(collectionElement) {
    var collection = collectionElement.id;

    // Mettre en surbrillance la collection active
    $('#collection_picker .nav-link').removeClass('active');
    $(collectionElement).addClass('active');

    // Requête AJAX à l'API Flask
    $.ajax({
        url: `/api/get_NFT_marketplace${collection === 'show_all_nft' ? '' : '/'+collection}`,
        method: 'GET',
        success: function(NFTs) {

            var marketplaceDiv = $('#markeplace_NFT_div');
            marketplaceDiv.empty();  // Nettoyer le contenu existant

            // Générer le HTML pour chaque NFT et l'ajouter à la div
            NFTs.forEach(function(nft) {
                var staticBaseURL_img = "{{ url_for('static', filename='PATH') }}";
                nft.image_path = staticBaseURL_img.replace('PATH', nft.image_path);
                var staticBaseURL_details = "{{ url_for('BLP_general.nft_details', nft_id='PATH') }}";
                nft.details_path = staticBaseURL_details.replace('PATH', nft.id);
                var nftHTML = `
                <div class="col-md-12 col-lg-3">
                    <div class="card">
                        <a href="${nft.details_path}"><img class="card-img-top" src="${nft.image_path}" alt="Card image cap"></a>
                        <div class="card-body">
                            <h4 class="card-title"><a href="${nft.details_path}">${nft.name}</a></h4>
                            <h6 class="card-text">${nft.collection} collection</h6>
                            <p class="card-subtitle">${nft.price} ETH</p>
                        </div>
                        <div class="card-footer justify-content-between d-flex">
                            <ul class="list-inline mb-0 me-2">
                                <li class="list-inline-item">
                                    <a href="#" onclick=like_nft(${nft.id})><i class="fa fa-heart${nft.liked}"></i></a>
                                </li>
                            </ul>
                            <ul class="list-inline mb-0">
                                <li><a href="${nft.details_path}">Buy now</a></li>
                            </ul>
                        </div>
                    </div>
                </div>`;
                marketplaceDiv.append(nftHTML);  // Append the new HTML
            });
            // deactivate liked section
            $('#liked_section').removeClass('active');
            // deactivate owned section
            $('#owned_section').removeClass('active');
        },
        error: function(error) {
            console.error('Error:', error);
        }
    });
}

function active_liked() {
    // Requête AJAX à l'API Flask
    $.ajax({
        url: '/api/get_liked_NFTs',
        method: 'GET',
        success: function(NFTs) {

            var marketplaceDiv = $('#markeplace_NFT_div');
            marketplaceDiv.empty();  // Nettoyer le contenu existant

            // Générer le HTML pour chaque NFT et l'ajouter à la div
            NFTs.forEach(function(nft) {
                var staticBaseURL_img = "{{ url_for('static', filename='PATH') }}";
                nft.image_path = staticBaseURL_img.replace('PATH', nft.image_path);
                var staticBaseURL_details = "{{ url_for('BLP_general.nft_details', nft_id='PATH') }}";
                nft.details_path = staticBaseURL_details.replace('PATH', nft.id);
                var nftHTML = `
                <div class="col-md-12 col-lg-3">
                    <div class="card">
                        <a href="${nft.details_path}"><img class="card-img-top" src="${nft.image_path}" alt="Card image cap"></a>
                        <div class="card-body">
                            <h4 class="card-title
                            "><a href="${nft.details_path}">${nft.name}</a></h4>
                            <h6 class="card-text">${nft.collection} collection</h6>
                            <p class="card-subtitle">${nft.price} ETH</p>
                        </div>
                        <div class="card-footer justify-content-between d-flex">
                            <ul class="list-inline mb-0 me-2">
                                <li class="list-inline-item">
                                    <a href="#" onclick=like_nft(${nft.id})><i class="fa fa-heart"></i></a>
                                </li>
                            </ul>
                            <ul class="list-inline mb-0">
                                <li><a href="${nft.details_path}">Buy now</a></li>
                            </ul>
                        </div>
                    </div>
                </div>`;
                marketplaceDiv.append(nftHTML);  // Append the new HTML
            });

            // deactivate all collections
            $('#collection_picker .nav-link').removeClass('active');
            // activate liked section
            $('#liked_section').addClass('active');
            // deactivate owned section
            $('#owned_section').removeClass('active');

        },
        error: function(error) {
            console.error('Error:', error);
        }
    });
}

function active_owned() {
    // Requête AJAX à l'API Flask
    $.ajax({
        url: '/api/get_owned_NFTs',
        method: 'GET',
        success: function(NFTs) {

            var marketplaceDiv = $('#markeplace_NFT_div');
            marketplaceDiv.empty();  // Nettoyer le contenu existant

            // Générer le HTML pour chaque NFT et l'ajouter à la div
            NFTs.forEach(function(nft) {
                var staticBaseURL_img = "{{ url_for('static', filename='PATH') }}";
                nft.image_path = staticBaseURL_img.replace('PATH', nft.image_path);
                var staticBaseURL_details = "{{ url_for('BLP_general.nft_details', nft_id='PATH') }}";
                nft.details_path = staticBaseURL_details.replace('PATH', nft.id);
                var nftHTML = `
                <div class="col-md-12 col-lg-3">
                    <div class="card">
                        <a href="${nft.details_path}"><img class="card-img-top" src="${nft.image_path}" alt="Card image cap"></a>
                        <div class="card-body">
                            <h4 class="card-title
                            "><a href="${nft.details_path}">${nft.name}</a></h4>
                            <h6 class="card-text">${nft.collection} collection</h6>
                            <p class="card-subtitle">${nft.price} ETH</p>
                        </div>
                        <div class="card-footer justify-content-between d-flex">
                            <ul class="list-inline mb-0 me-2">
                                <li class="list-inline-item">
                                    <a href="#" onclick=like_nft(${nft.id})><i class="fa fa-heart${nft.liked}"></i></a>
                                </li>
                            </ul>
                            <ul class="list-inline mb-0">
                                <li><a href="${nft.details_path}">Sell now</a></li>
                            </ul>
                        </div>
                    </div>
                </div>`;
                marketplaceDiv.append(nftHTML);  // Append the new HTML
            });

            // deactivate all collections
            $('#collection_picker .nav-link').removeClass('active');
            // activate owned section
            $('#owned_section').addClass('active');
            // deactivate liked section
            $('#liked_section').removeClass('active');
        },
        error: function(error) {
            console.error('Error:', error);
        }
    });
}

function like_nft(nft_id) {
    // Requête AJAX à l'API Flask
    $.ajax({
        url: `/api/like_NFT/${nft_id}`,
        method: 'GET',
        success: function(response) {
            // change the heart icon, if class is fa fa-heart-o, change to fa fa-heart
            // if class is fa fa-heart, change to fa fa-heart-o
            var heartIcon = $(`a[onclick="like_nft(${nft_id})"] i`);
            if (heartIcon.hasClass('fa-heart-o')) {
                heartIcon.removeClass('fa-heart-o');
                heartIcon.addClass('fa-heart');
            } else {
                heartIcon.removeClass('fa-heart');
                heartIcon.addClass('fa-heart-o');
            }
        },
        error: function(error) {
            console.error('Error:', error);
        }
    });
}

// Charger les NFTs quand la page est chargée entièrement
$(document).ready(function() {
    // Simuler un clic sur le lien "All" pour charger tous les NFTs
    var collection = "show_all_nft"
    // test if flask variable is defined
    {% if collection is defined %}
        collection = "{{ collection }}"
    {% endif %}
    active_collection(document.getElementById(collection));
});
</script>


</body>
</html>
