<!DOCTYPE html>
<html lang="en">
<head>
    {% include('includes/head_content.html') %}
    <title>NFT marketplace</title>

</head>
<body class="layout-top-nav {% if session['theme'] == 'dark' %}dark-skin{% else %}light-skin{% endif %} theme-primary fixed">

<div class="wrapper">
    <div id="loader"></div>

    <!-- Top navbar -->
    {% include('includes/top_navbar.html') %}

    <!-- Navbar -->
    {% include('includes/navbar.html') %}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <div class="container-full">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="d-flex align-items-center">
                    <div class="me-auto">
                        <h3 class="page-title">NFT Marketplace</h3>
                        <div class="d-inline-block align-items-center">
                            <nav>
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{{ url_for('BLP_general.home') }}"><i
                                            class="mdi mdi-home-outline"></i></a>
                                    </li>
                                    <li class="breadcrumb-item active" aria-current="page">NFT dashboard</li>
                                </ol>
                            </nav>
                        </div>
                    </div>

                </div>
            </div>

            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <!-- Research area -->
                    <div class="col-xl-2 col-lg-4 col-12">
                        <div class="box">
                            <div class="box-header with-border">
                                <h4 class="box-title">Collections</h4>
                            </div>
                            <div class="box-body no-padding mailbox-nav">
                                <ul class="nav nav-pills flex-column" id="collection_picker">
                                    <li class="nav-item"><a class="nav-link active" href="#" id="show_all_nft"
                                                            onclick="active_collection(this)"><i
                                            class="ion ion-ios-albums-outline"></i> All</a>
                                    </li>
                                    {% for collection in NFT_collections %}
                                        <li class="nav-item">
                                            <a class="nav-link" href="#" id="{{ collection.replace(' ', '_') }}"
                                               onclick="active_collection(this)">
                                                <i class="ion ion-ios-albums"></i>
                                                {{ collection }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /. box -->
                        <div class="box">
                            <div class="box-header with-border">
                                <h4 class="box-title">Labels</h4>
                            </div>
                            <div class="box-body no-padding mailbox-nav">
                                <ul class="nav nav-pills flex-column">
                                    <li class="nav-item"><a class="nav-link" href="#"><i
                                            class="fa fa-heart-o text-danger"></i> Liked</a>
                                    </li>
                                </ul>
                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->
                    </div>
                    <!-- NFT grid -->
                    <div class="col-xl-10 col-lg-8 col-12">
                        <div class="row" id="markeplace_NFT_div">

                        </div>
                    </div>
                </div>
            </section>
            <!-- /.content -->

        </div>
    </div>
    <!-- /.content-wrapper -->

    <!-- Footer -->
    {% include('includes/footer.html') %}

</div>


{% include('includes/javascript_include_dashboard.html') %}

<script>
function active_collection(collectionElement) {
    var collection = collectionElement.id;

    // Mettre en surbrillance la collection active
    $('#collection_picker .nav-link').removeClass('active');
    $(collectionElement).addClass('active');

    // Requête AJAX à l'API Flask
    $.ajax({
        url: `/api/get_NFT_marketplace${collection === 'show_all_nft' ? '' : '/'+collection}`,
        method: 'GET',
        success: function(NFTs) {

            var marketplaceDiv = $('#markeplace_NFT_div');
            marketplaceDiv.empty();  // Nettoyer le contenu existant

            // Générer le HTML pour chaque NFT et l'ajouter à la div
            NFTs.forEach(function(nft) {
                var staticBaseURL = "{{ url_for('static', filename='PATH') }}";
                nft.image_path = staticBaseURL.replace('PATH', nft.image_path);
                var nftHTML = `
                <div class="col-md-12 col-lg-3">
                    <div class="card">
                        <img class="card-img-top" src="${nft.image_path}" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">${nft.name}</h4>
                            <h6 class="card-text">${nft.collection} collection</h6>
                            <p class="card-subtitle">${nft.price} ETH</p>
                        </div>
                        <div class="card-footer justify-content-between d-flex">
                            <ul class="list-inline mb-0 me-2">
                                <li class="list-inline-item">
                                    <a href="#"><i class="fa fa-heart-o"></i></a>
                                </li>
                            </ul>
                            <ul class="list-inline mb-0">
                                <li><a href="#">Buy now</a></li>
                            </ul>
                        </div>
                    </div>
                </div>`;
                marketplaceDiv.append(nftHTML);  // Append the new HTML
            });
        },
        error: function(error) {
            console.error('Error:', error);
        }
    });
}

// Charger les NFTs quand la page est chargée entièrement
$(document).ready(function() {
    // Simuler un clic sur le lien "All" pour charger tous les NFTs
    active_collection(document.getElementById('show_all_nft'));
});





</script>



</body>
</html>
