<!DOCTYPE html>
<html lang="en">
<head>
    {% include('includes/head_content.html') %}
    <title>NFT marketplace</title>

</head>
<body class="layout-top-nav {% if session['theme'] == 'dark' %}dark-skin{% else %}light-skin{% endif %} theme-primary fixed">

<div class="wrapper">
    <div id="loader"></div>

    <!-- Top navbar -->
    {% include('includes/top_navbar.html') %}

    <!-- Navbar -->
    {% include('includes/navbar.html') %}
    <div class="content-wrapper">
        <div class="container-full">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="d-flex align-items-center">
                    <div class="me-auto">
                        <h4 class="page-title">{{ nft_data['name'] }} details</h4>
                        <div class="d-inline-block align-items-center">
                            <nav>
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#"><i class="mdi mdi-home-outline"></i></a>
                                    </li>
                                    <li class="breadcrumb-item" aria-current="page"><a
                                            href="{{ url_for('BLP_general.nft_marketplace') }}">NFT marketplace</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">{{ nft_data['name'] }}</li>
                                </ol>
                            </nav>
                        </div>
                    </div>

                </div>
            </div>

            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <div class="col-xl-5 col-lg-5">
                        <!-- Profile Image -->
                        <img class="rounded img-fluid mx-auto d-block"
                             src="{{ url_for('static', filename=nft_data['image_path']) }}"
                             alt="User profile picture">
                    </div>
                    <!-- /.col -->
                    <div class="col-xl-7 col-lg-7">
                        <div class="col-12">
                            <div class="box">
                                <div class="box-body">
                                    <a href="{{ url_for('BLP_general.nft_marketplace', collection=nft_data['collection']) }}">Collection {{ nft_data['collection'] }}</a><br>
                                    <br>
                                    <h2 class="box-title"><b>{{ nft_data['name'] }}</b></h2>
                                    <H5 id="owned_status"></H5>&nbsp;
                                    <h5 id="set_as_profile_picture"></h5>

                                    <h6>Current price</h6>
                                    <h3><a id="NFT_price"></a>&nbsp;<a id="NFT_symbol">ETH</a>&nbsp;<small class="fs-11 mb-0 text-uppercase text-mute">($<a id="NFT_price_USD"></a>)</small><small><span class="d-block text-{% if nft_data['price_change_24h']<0 %}danger{% else %}success{% endif %}"> ${{ nft_data['price_change_24h'] }}<i
                                                    class="fa fa-arrow-{% if nft_data['price_change_24h']<0 %}down{% else %}up{% endif %}"></i></span></small></h3>


                                </div>
                                <div class="box-body">
                                    <ul class="list-inline mb-0 me-2">
                                        <li class="list-inline-item">
                                            <a href="#" onclick="like_nft({{ nft_data['id'] }})"><i class="fa fa-heart{{ nft_data['liked'] }}"></i>&nbsp;&nbsp;<a id="number_likes">{{ nft_data['number_of_likes'] }} </a> favorite{% if nft_data['number_of_likes']>1 %}s{% endif %}</a>

                                            <a style="margin-left: 40px"><i class="fa fa-eye"></i>&nbsp;&nbsp;<a id="number_of_views"></a> Views</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div id="nft_data"
                                 data-owned="{{ nft_data['owned'] }}"
                                 data-is_for_sale="{{ nft_data['is_for_sale'] }}"
                                    data-owner_id="{{ nft_data['owner_id'] }}"
                                 >
                            </div>

                            <div class="box" id="buy_box" style="display:none;">
                                <div class="box-header with-border">
                                    <h4 class="box-title">Buy</h4>
                                </div>
                                <div class="box-body">

                                    <div class="clearfix" style="display: flex;">
                                        <button type="button" style="width: 100%; box-sizing: border-box; margin-top: 10px;" class="waves-effect waves-light btn btn-primary mb-5" data-bs-toggle="modal" data-bs-target="#buy_NFT" onclick="display_ETH_of_user()">Buy now</button>
                                    </div>
                                </div>
                            </div>
                                <div class="box" id="bid_section">
                                    <div class="box-header with-border">
                                        <h4 class="box-title">Bid</h4>
                                    </div>
                                    <div class="box-body">
                                        <div class="table-responsive">
                                            <div id="bids_table">

                                            </div>
                                        </div>

                                        <div class="clearfix" style="display: flex;" id="button_place_bid">
                                            <button type="button" style="width: 100%; box-sizing: border-box; margin-top: 10px;" class="waves-effect waves-light btn btn-primary mb-5" data-bs-toggle="modal"
                                            data-bs-target="#place_bid_modal" id="place_bid" onclick="display_ETH_of_user()">Place a bid</button>
                                        </div>

                                    </div>
                                </div>
                                <!-- Graph of history price -->
                                <div class="col-12" id="div_NFT_history">
                                    <div class="box">
                                      <div class="box-header with-border">
                                        <h4 class="box-title"><i class="fa fa-line-chart"></i> &nbsp; Price and owner history</h4>
                                      </div>
                                      <div class="box-body row" id="NFT_history" style="height:40vh;">

                                      </div>
                                    </div>
                                </div>
                                <!-- More from the collection -->
                                <div class="col-12">
                                    <div class="box">
                                      <div class="box-header with-border">
                                        <h4 class="box-title"><i class="fa fa-bookmark"></i> &nbsp; More from this collection</h4>
                                      </div>
                                      <div class="box-body row" id="NFT_collection_div">

                                      </div>
                                      <div class="box-footer text-center">
                                        <a href="{{ url_for('BLP_general.nft_marketplace', collection=nft_data['collection']) }}" class="btn btn-default btn-sm">View collection</a>
                                      </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->

            </section>
            <!-- /.content -->

        </div>
    </div>

    <!-- Footer -->
    {% include('includes/footer.html') %}

</div>

<div id="buy_NFT" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Buy {{ nft_data['name'] }} NFT</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h5>You are going to pay {{ nft_data['price'] }} ETH </h5>
                <br>
                <h5>You have <a id="number_ETH_user_buy"></a> ETH in your wallet</h5>
                <br>
                <p>You will immediately receive your NFT after the sale.</p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" data-bs-dismiss="modal"
                        id="validate_buy_NFT">Buy now
                </button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>


<div id="place_bid_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Place a bid for {{ nft_data['name'] }} NFT</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h5>You are going to place a bid in ETH. </h5>
                <br>
                <h5>You have <a id="number_ETH_user_bid"></a> ETH in your wallet</h5>
                <br>
                <input type="text" id="bid_amount" value="0" class=" form-control" data-bts-button-down-class="btn btn-secondary" data-bts-button-up-class="btn btn-secondary">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" data-bs-dismiss="modal"
                        id="validate_place_bid">Place the bid
                </button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>



{% include('includes/javascript_include_dashboard.html') %}

<script>
function show_collection_preview() {
    // Requête AJAX à l'API Flask
    $.ajax({
        url: '/api/get_NFT_collections_preview/{{ nft_data["collection"] }}/{{ nft_data["id"] }}',
        method: 'GET',
        success: function(NFTs) {

            var NFT_collection_div = $('#NFT_collection_div');
            NFT_collection_div.empty();  // Nettoyer le contenu existant

            // Générer le HTML pour chaque NFT et l'ajouter à la div
            NFTs.forEach(function(nft) {
                var staticBaseURL_img = "{{ url_for('static', filename='PATH') }}";
                nft.image_path = staticBaseURL_img.replace('PATH', nft.image_path);
                var staticBaseURL_details = "{{ url_for('BLP_general.nft_details', nft_id='PATH') }}";
                nft.details_path = staticBaseURL_details.replace('PATH', nft.id);
                var nftHTML = `
                <div class="col-3">
                    <div class="card">
                        <a href="${nft.details_path}"><img class="card-img-top" src="${nft.image_path}" alt="Card image cap"></a>
                        <div class="card-body">
                            <h4 class="card-title
                            "><a href="${nft.details_path}">${nft.name}</a></h4>
                            <h6 class="card-text">${nft.collection} collection</h6>
                            <p class="card-subtitle">${nft.price} ETH</p>
                        </div>
                    </div>
                </div>`;
                NFT_collection_div.append(nftHTML);  // Append the new HTML
            });

        },
        error: function(error) {
            console.error('Error:', error);
        }
    });
}

function like_nft(nft_id) {
    // Requête AJAX à l'API Flask
    $.ajax({
        url: `/api/like_NFT/${nft_id}`,
        method: 'GET',
        success: function(response) {
            // change the heart icon, if class is fa fa-heart-o, change to fa fa-heart
            // if class is fa fa-heart, change to fa fa-heart-o
            var heartIcon = $(`a[onclick="like_nft(${nft_id})"] i`);
            var numberOfLikes = parseInt($('#number_likes').text());

            if (heartIcon.hasClass('fa-heart-o')) {
                heartIcon.removeClass('fa-heart-o');
                heartIcon.addClass('fa-heart');
                // compute the number of likes with the new number of likes
                numberOfLikes += 1;
                // update the number of likes
                $('#number_likes').text(numberOfLikes);

            } else {
                heartIcon.removeClass('fa-heart');
                heartIcon.addClass('fa-heart-o');
                // decrement the number of likes

                numberOfLikes -= 1;
                // update the number of likes
                $('#number_likes').text(numberOfLikes);
            }

        },
        error: function(error) {
            console.error('Error:', error);
        }
    });
}


// Buy NFT by calling /api/buy_NFT/<nft_id>
function buy_NFT(nft_id) {
    // Requête AJAX à l'API Flask
    $.ajax({
        url: `/api/buy_NFT/${nft_id}`,
        method: 'GET',
        success: function(response) {
            owned_status(nft_id);
            if (response['status'] !== 'error') {
                // change data-owned to true
                $('#nft_data').data('owned', 'True');
                // change data-is_for_sale to false
                $('#nft_data').data('is_for_sale', 'False');
                // change data-owner_id to the current user id
                $('#nft_data').data('owner_id', {{ current_user.id }});
            }
            get_bids(nft_id);
            update_buy_bid_box({{ nft_data['id'] }});
            swal(response['status'], response['message'], response['status']);
            if (response['refresh']){
                location.reload();
            }
        },
        error: function(error) {
            console.error('Error:', error['message']);
        }
    });
}


// Validate buy NFT
$('#validate_buy_NFT').click(function() {
    buy_NFT({{ nft_data['id'] }});
});

// Get bids for this nft using /api/get_bids/<nft_id>
function get_bids(nft_id) {
    $.ajax({
        url: `/api/get_bids/${nft_id}`,
        method: 'GET',
        success: function(response) {
            var nftData = $('#nft_data');
            var owner_id = nftData.data('owner_id');
            // to int
            owner_id = parseInt(owner_id);
            if (response.length === 0) {
                // if the user is not the owner of the NFT, display Be the first to place a bid !
                // else display No bids yet
                if (owner_id !== {{ current_user.id }}) {
                    $('#bids_table').html('<p style="text-align: center;">Be the first to place a bid !</p>');
                } else {
                    $('#bids_table').html('<p style="text-align: center;">No bid yet</p>');
                }

                return;
            }
            // Display the bids in a table
            var table = '<table class="table table-hover">';
            table += '<tr>';
            table += '<th>User</th>';
            table += '<th>Bid</th>';
            table += '<th>Date</th>';
            table += '<th></th>';
            table += '<th></th>';
            table += '</tr>';
            for (var i = 0; i < response.length; i++) {
                var bid = response[i];
                table += '<tr>';
                table += `<td><a href="javascript:void(0)">User #${bid['username']}</a></td>`;
                table += `<td>${bid['bid_price_crypto']} ${bid['bid_crypto_symbol']}</td>`;
                table += `<td><span class="text-muted"><i class="fa fa-clock-o"></i> ${bid['bid_date']}</span> </td>`;
                // Add button to accept the bid (if the user is the owner of the NFT)
                if ({{ nft_data['owner_id'] }} === {{ current_user.id }}) {
                    table += `<td><button type="button" class="waves-effect waves-light btn btn-success btn-xs" onclick="accept_bid(${bid['id']})">Accept</button></td>`;
                } else {
                    table += '<td></td>';
                }
                // Add button to reject the bid (if the user is the owner (reject) of the NFT or the bidder (delete)

                // convert current_user.id to int
                var current_user_id = parseInt("{{ current_user.id }}");
                if (owner_id === current_user_id) {
                    table += `<td><button type="button" class="waves-effect waves-light btn btn-danger btn-xs" onclick="delete_bid(${bid['id']})">Reject</button></td>`;
                } else if (current_user_id === bid['user_id']) {
                    table += `<td><button type="button" class="waves-effect waves-light btn btn-danger btn-xs" onclick="delete_bid(${bid['id']})">Delete</button></td>`;
                } else {
                    table += '<td></td>';
                }
                table += '</tr>';
            }
            table += '</table>';
            $('#bids_table').html(table);
        },
        error: function(error) {
            console.error('Error:', error);
        }
    });
}

// Accept a bid
function accept_bid(bid_id) {
    $.ajax({
        url: `/api/accept_bid/${bid_id}`,
        method: 'GET',
        success: function(response) {
            owned_status({{ nft_data['id'] }});
            get_bids({{ nft_data['id'] }});
            update_price();
            swal(response['status'], response['message'], response['status']);
        },
        error: function(response) {
            console.error('Error:', response);
        }
    });
}


// Delete a bid
function delete_bid(bid_id) {
    $.ajax({
        url: `/api/delete_bid/${bid_id}`,
        method: 'GET',
        success: function(response) {
            get_bids({{ nft_data['id'] }});
            owned_status({{ nft_data['id'] }});
            swal(response['status'], response['message'], response['status']);
        },
        error: function(response) {
            console.error('Error:', response);
        }
    });
}


$('#validate_place_bid').click(function() {
        var bidAmount = $('#bid_amount').val();
        var nftId = '{{ nft_data['id'] }}';

        if ($.isNumeric(bidAmount) && bidAmount > 0) {
            bidAmount = parseFloat(bidAmount).toFixed(2);

            $.ajax({
                url: `/api/place_bid/${nftId}`,
                type: 'POST',
                contentType: 'application/json', // Indiquer que l'on envoie du JSON
                data: JSON.stringify({bid_amount: bidAmount}), // Convertir l'objet en chaîne JSON
                success: function(response) {
                    swal(response['status'], response['message'], response['status']);
                    get_bids(nftId);
                },
                error: function(response) {
                    swal(response['status'], response['message'], response['status']);
                }
            });
        } else {
            swal(
                'Error',
                'Please enter a valid amount',
                'error')
        }
    });


// Views count
function increment_views(nft_id) {
    $.ajax({
        url: `/api/increment_views/${nft_id}`,
        method: 'GET',
        success: function(response) {
            $('#number_of_views').text(response['number_of_views']);
        },
        error: function(error) {
            console.error('Error:', error);
        }
    });
}


function owned_status(nft_id) {
    // Requête AJAX à l'API Flask
    $.ajax({
        url: `/api/owned_status/${nft_id}`,
        method: 'GET',
        success: function(response) {
            $('#owned_status').html(response['message']);
            // if field "owned" is true, add a button "Set as profile picture"
            if (response['owned'] === true) {
                $('#set_as_profile_picture').html('<a href="#" onclick="set_as_profile_picture({{ nft_data['id'] }})">'+response["set_profile_text"]+'</a>');
            }
            else {
                $('#set_as_profile_picture').html('');
            }
        },
        error: function(error) {
            console.error('Error:', error);
        }
    });
}


function set_as_profile_picture(nft_id) {
    $.ajax({
        url: `/api/set_as_profile_picture/${nft_id}`,
        method: 'GET',
        success: function(response) {
            // Supposons que response['image_path'] contienne le nouveau chemin de l'image
            var baseUrl = "{{ url_for('static', filename='') }}"; // Récupère la base de l'URL des fichiers statiques
            var newImagePath = baseUrl + response['image_path'] + '?v=' + new Date().getTime();
            $('#profile_picture_top_navbar').attr('src', newImagePath);

        },
        error: function(error) {
            console.error('Error:', error);
        }
    });
}


// Display the buy, bid box depending on the status of the NFT
// if nobody own the NFT, display the buy box and not the bid box
// if the NFT is owned:
// - if the user is the owner, display bid box but not the button
// - if the user is not the owner, display the buy box with the button


function update_buy_bid_box() {
    var nftData = $('#nft_data');
    var owned = nftData.data('owned') === 'True';
    var isForSale = nftData.data('is_for_sale') === 'True';
    if (owned) {
        $('#buy_box').hide();
        $('#bid_section').show();
        if (nftData.data('owner_id') === {{ current_user.id }}) {
            $('#button_place_bid').hide();
        }

    } else if (isForSale) {
        $('#buy_box').show();
        $('#bid_section').hide();
    }
}


function update_price() {
    $.ajax({
        url: `/api/get_NFT_details/{{ nft_data['id'] }}`,
        method: 'GET',
        success: function(response) {
            $('#NFT_price').text(response['price']);
            $('#NFT_price_USD').text(response['price_usd_format']);
        },
        error: function(error) {
            console.error('Error:', error);
        }
    });
}


function display_ETH_of_user(){
    $.ajax({
        url: '/api/get_user_balance',
        method: 'GET',
        success: function(response) {
            var eth_balance = response['crypto_balance_by_symbol']['ETH-USD']['quantity'];
            // keep 2 decimal places
            eth_balance = parseFloat(eth_balance).toFixed(4);
            $('#number_ETH_user_bid').text(eth_balance);
            $('#number_ETH_user_buy').text(eth_balance);
        },
        error: function(error) {
            console.error('Error:', error);
        }
    });
}


function show_NFT_history(nft_id) {
    fetch(`/api/get_NFT_history/${nft_id}`)
        .then(response => response.json())
        .then(data => {
            if (data.length <= 1) {
                document.getElementById('div_NFT_history').style.display = 'none';
            } else {
                document.getElementById('div_NFT_history').style.display = 'block';
                var gradiantChart = echarts.init(document.getElementById('NFT_history'));

                var dateList = data.map(item => item.date);
                var valueList = data.map(item => item.price);

                alert(valueList);
                alert(dateList);

                var option = {
                    visualMap: [{
                        show: false,
                        type: 'continuous',
                        seriesIndex: 0,
                        min: Math.min(...valueList),
                        max: Math.max(...valueList)
                    }],
                    tooltip: {
                        trigger: 'axis'
                    },
                    xAxis: {
                        type: 'category',
                        data: dateList
                    },
                    yAxis: {
                        type: 'value',
                        splitLine: { show: false }
                    },
                    series: [{
                        type: 'line',
                        showSymbol: false,
                        data: valueList
                    }]
                };

                gradiantChart.setOption(option);

                alert(gradiantChart)

            }
        })
        .catch(error => {
            console.error('Error fetching NFT history:', error);
        });
}



$(document).ready(function() {
    // Get the owned status of the NFT
    owned_status({{ nft_data['id'] }});
    // Display the buy, sell or bid box depending on the status of the NFT
    update_buy_bid_box({{ nft_data['id'] }});
    // Get the bids for this NFT
    get_bids({{ nft_data['id'] }});
    // Update the price of the NFT
    update_price();
    // Increment the views count
    increment_views({{ nft_data['id'] }});
    // Show the collection preview
    show_collection_preview();
    // show history of the NFT
    show_NFT_history({{ nft_data['id'] }});

});

</script>
</body>
</html>
