<!DOCTYPE html>
<html lang="en">
<head>
    {% include('includes/head_content.html') %}
    <title>NFT marketplace</title>

</head>
<body class="layout-top-nav {% if session['theme'] == 'dark' %}dark-skin{% else %}light-skin{% endif %} theme-primary fixed">

<div class="wrapper">
    <div id="loader"></div>

    <!-- Top navbar -->
    {% include('includes/top_navbar.html') %}

    <!-- Navbar -->
    {% include('includes/navbar.html') %}
    <div class="content-wrapper">
        <div class="container-full">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="d-flex align-items-center">
                    <div class="me-auto">
                        <h4 class="page-title">{{ nft_data['name'] }} details</h4>
                        <div class="d-inline-block align-items-center">
                            <nav>
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#"><i class="mdi mdi-home-outline"></i></a>
                                    </li>
                                    <li class="breadcrumb-item" aria-current="page"><a
                                            href="{{ url_for('BLP_general.nft_marketplace') }}">NFT marketplace</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">{{ nft_data['name'] }}</li>
                                </ol>
                            </nav>
                        </div>
                    </div>

                </div>
            </div>

            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <div class="col-xl-5 col-lg-5">
                        <!-- Profile Image -->
                        <img class="rounded img-fluid mx-auto d-block"
                             src="{{ url_for('static', filename=nft_data['image_path']) }}"
                             alt="User profile picture">
                    </div>
                    <!-- /.col -->
                    <div class="col-xl-7 col-lg-7">
                        <div class="col-12">
                            <div class="box">
                                <div class="box-header with-border">
                                    <h4 class="box-title">NFT details</h4>
                                </div>
                                <div class="box-body">
                                    <a href="{{ url_for('BLP_general.nft_marketplace', collection=nft_data['collection']) }}">Collection {{ nft_data['collection'] }}</a><br>
                                    <br>
                                    <h3 class="box-title">{{ nft_data['name'].split(' ')[1] }}</h3><br>
                                    <small>Not owned</small>
                                </div>
                                <div class="box-body">
                                    <ul class="list-inline mb-0 me-2">
                                        <li class="list-inline-item">
                                            <a href="#"><i class="fa fa-heart-o"></i> 0 favorites</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="box">
                                <div class="box-header with-border">
                                    <h4 class="box-title">Buy or bid</h4>
                                </div>
                                <div class="box-body">

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.col -->
                </div>
            </section>
            <!-- /.content -->

        </div>
    </div>

    <!-- Footer -->
    {% include('includes/footer.html') %}

</div>


{% include('includes/javascript_include_dashboard.html') %}
</body>
</html>
