<!DOCTYPE html>
<html lang="en">
<head>
    {% include('includes/head_content.html') %}
    <title>Crypto overview</title>

</head>
<body class="layout-top-nav {% if session['theme'] == 'dark' %}dark-skin{% else %}light-skin{% endif %} theme-primary fixed">

<div class="wrapper">
	<div id="loader"></div>

    <!-- Top navbar -->
    {% include('includes/top_navbar.html') %}

    <!-- Navbar -->
    {% include('includes/navbar.html') %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
	  <div class="container-full">
		<!-- Content Header (Page header) -->
		<div class="content-header">
			<div class="d-flex align-items-center">
				<div class="me-auto">
					<h3 class="page-title">{{ symbol }} Overview</h3>
					<div class="d-inline-block align-items-center">
						<nav>
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="#"><i class="mdi mdi-home-outline"></i></a></li>
                                <li class="breadcrumb-item" aria-current="page"><a
                                            href="{{ url_for('BLP_general.crypto_dashboard') }}">Crypto dashboard</a>
                                    </li>
								<li class="breadcrumb-item active" aria-current="page">{{ symbol }}</li>
							</ol>
						</nav>
					</div>
				</div>

			</div>
		</div>

		<!-- Main content -->
		<section class="content">
			<div class="row">
				<div class="col-lg-12 col-12">
                        <div class="box">
                            <div class="box-header with-border">
                                <h4 class="box-title">Stock Events</h4>
                            </div>
                            <div class="box-body">
                                <div class="chart">
                                    <div id="chart_stock_events" class="h-500"></div>
                                </div>
                            </div>
                        </div>
                    </div>
			</div>
		</section>
		<!-- /.content -->

	  </div>
  </div>
  <!-- /.content-wrapper -->

    <!-- Footer -->
    {% include('includes/footer.html') %}
</div>
<!-- ./wrapper -->

{% include('includes/javascript_include_dashboard.html') %}


<!-- Stock events graphic -->
<script>
var chartData = [];
fetchData().then(() => {
    createChart();
    chart.addListener("dataUpdated", zoomChart);
});

function fetchData() {
    // Récupération des données
    return fetch('/api/get_specific_crypto_data/{{ symbol }}')
        .then(response => response.json())
        .then(data => {
            generateChartData(data);
        })
        .catch(error => console.error('Erreur lors de la récupération des données:', error));
}
function generateChartData(data) {
    if (!data) {
        console.error('Les données reçues sont undefined.');
        return;
    }

    if (!Array.isArray(data.date) || !Array.isArray(data.price)) {
        console.error('Les données reçues ne contiennent pas de tableaux valides pour "date" et "price".');
        return;
    }

    for (let i = 0; i < data.date.length; i++) {
        var date = new Date(data.date[i]);
        var value = data.price[i];

        chartData.push({
            "date": date,
            "value": value,
        });
    }
}
function createChart() {
    // Configuration et création du graphique AmCharts ici
    chart = AmCharts.makeChart( "chart_stock_events", {
  "type": "stock",
  "theme": "light",
  "dataSets": [ {
    "color": "#fbae1c",
    "fieldMappings": [ {
      "fromField": "value",
      "toField": "value"
    }, {
      "fromField": "volume",
      "toField": "volume"
    } ],
    "dataProvider": chartData,
    "categoryField": "date",
    // EVENTS
      /*
    "stockEvents": [ {
      "date": new Date( 2020, 8, 19 ),
      "type": "sign",
      "backgroundColor": "#fc00ff",
      "graph": "g1",
      "text": "S",
      "description": "This is description of an event"
    }, {
      "date": new Date( 2020, 10, 19 ),
      "type": "flag",
      "backgroundColor": "#FFFFFF",
      "backgroundAlpha": 0.5,
      "graph": "g1",
      "text": "F",
      "description": "Some longer\ntext can also\n be added"
    }, {
      "date": new Date( 2020, 11, 10 ),
      "showOnAxis": true,
      "backgroundColor": "#85CDE6",
      "type": "pin",
      "text": "X",
      "graph": "g1",
      "description": "This is description of an event"
    }, {
      "date": new Date( 2020, 11, 26 ),
      "showOnAxis": true,
      "backgroundColor": "#85CDE6",
      "type": "pin",
      "text": "Z",
      "graph": "g1",
      "description": "This is description of an event"
    }, {
      "date": new Date( 2021, 0, 3 ),
      "type": "sign",
      "backgroundColor": "#85CDE6",
      "graph": "g1",
      "text": "U",
      "description": "This is description of an event"
    }, {
      "date": new Date( 2021, 1, 6 ),
      "type": "sign",
      "graph": "g1",
      "text": "D",
      "description": "This is description of an event"
    }, {
      "date": new Date( 2021, 3, 5 ),
      "type": "sign",
      "graph": "g1",
      "text": "L",
      "description": "This is description of an event"
    }, {
      "date": new Date( 2021, 3, 5 ),
      "type": "sign",
      "graph": "g1",
      "text": "R",
      "description": "This is description of an event"
    }, {
      "date": new Date( 2021, 5, 15 ),
      "type": "arrowUp",
      "backgroundColor": "#00CC00",
      "graph": "g1",
      "description": "This is description of an event"
    }, {
      "date": new Date( 2021, 6, 25 ),
      "type": "arrowDown",
      "backgroundColor": "#CC0000",
      "graph": "g1",
      "description": "This is description of an event"
    }, {
      "date": new Date( 2021, 8, 1 ),
      "type": "text",
      "graph": "g1",
      "text": "Longer text can\nalso be displayed",
      "description": "This is description of an event"
    } ]*/
  } ],


  "panels": [ {
    "title": "Value",
    "stockGraphs": [ {
      "id": "g1",
      "valueField": "value"
    } ],
    "stockLegend": {
      "valueTextRegular": " ",
      "markerType": "none"
    }
  } ],

  "chartScrollbarSettings": {
    "graph": "g1"
  },

  "chartCursorSettings": {
    "valueBalloonsEnabled": true,
    "graphBulletSize": 1,
    "valueLineBalloonEnabled": true,
    "valueLineEnabled": true,
    "valueLineAlpha": 0.5
  },

  "periodSelector": {
    "periods": [ {
      "period": "DD",
      "count": 10,
      "label": "10 days"
    }, {
      "period": "MM",
      "count": 1,
      "label": "1 month"
    }, {
      "period": "YYYY",
      "count": 1,
      "label": "1 year"
    }, {
      "period": "YTD",
      "label": "YTD"
    }, {
      "period": "MAX",
      "label": "MAX"
    } ]
  },


  "panelsSettings": {
    "usePrefixes": true
  },
  "export": {
    "enabled": true
  }
} );
}
function zoomChart() {
    if (chartData && chartData.length > 1) {
        var firstDate = chartData[0].date;
        var lastDate = chartData[chartData.length - 1].date;
        chart.zoomToDates(firstDate, lastDate);
    }
}

</script>
</body>
</html>
