<!DOCTYPE html>
<html lang="en">
<head>
    {% include('includes/head_content.html') %}

    <title>Profile</title>

</head>
<body class="layout-top-nav {% if session['theme'] == 'dark' %}dark-skin{% else %}light-skin{% endif %} theme-primary fixed">

<div class="wrapper">
    <div id="loader"></div>

    <!-- Top navbar -->
    {% include('includes/top_navbar.html') %}

    <!-- Navbar -->
    {% include('includes/navbar.html') %}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <div class="container-full">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="d-flex align-items-center">
                    <div class="me-auto">
                        <h4 class="page-title">My Profile</h4>
                        <div class="d-inline-block align-items-center">
                            <nav>
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{{ url_for('BLP_general.home') }}"><i class="mdi mdi-home-outline"></i></a>
                                    </li>
                                    <li class="breadcrumb-item active" aria-current="page">My Profile</li>
                                </ol>
                            </nav>
                        </div>
                    </div>

                </div>
            </div>

            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <div class="col-xl-12 col-lg-12">

                        <!-- Profile Image -->
                        <div class="box bg-transparent no-border">
                            <div class="box-body box-profile">
                                <img class="rounded img-fluid mx-auto d-block max-w-150"
                                     src="{{ url_for('static', filename='images/avatar/avatar-1.png') }}"
                                     alt="User profile picture">

                                <h3 class="profile-username text-center mb-0">{{ user.username }}</h3>

                                <h4 class="text-center mt-0"><i class="fa fa-envelope-o me-10"></i>{{ user.email }}
                                </h4>

                                <div class="row social-states">
                                    <div class="col-6 text-end"><a href="#" class="link text-white"><i
                                            class="ion ion-ios-people-outline"></i> 254</a></div>
                                    <div class="col-6 text-start"><a href="#" class="link text-white"><i
                                            class="ion ion-images"></i> 54</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-5">
                        <div class="row">
                            <h3 class="title w-p100 mt-10 mb-0 p-20">Last Transactions</h3>
                            <div class="col-12">
                                <div class="media-list media-list-hover w-p100 mt-0">
                                    <h5 class="media media-single py-10 px-0 w-p100 justify-content-between">
									  <span>
									  <i class="fa fa-circle text-danger pe-10 fs-12"></i>Deal number 1548
									  <span class="subtitle ps-20 mt-10">by<span
                                              class="text-danger">Johen Doe</span></span>
									  </span>
                                        <span class="text-end pull-right"><span
                                                class="badge badge-sm badge-danger mb-10">sell</span><br>0.12458921 BTC</span>
                                    </h5>
                                    <h5 class="media media-single py-10 px-0 w-p100 justify-content-between">
									  <span>
									  <i class="fa fa-circle text-success pe-10 fs-12"></i>Deal number 1548
									  <span class="subtitle ps-20 mt-10">by<span
                                              class="text-success">Johen Doe</span></span>
									  </span>
                                        <span class="text-end pull-right"><span
                                                class="badge badge-sm badge-success mb-10">sell</span><br>0.12458921 BTC</span>
                                    </h5>
                                    <h5 class="media media-single py-10 px-0 w-p100 justify-content-between">
									  <span>
									  <i class="fa fa-circle text-success pe-10 fs-12"></i>Deal number 1548
									  <span class="subtitle ps-20 mt-10">by<span
                                              class="text-success">Johen Doe</span></span>
									  </span>
                                        <span class="text-end pull-right"><span
                                                class="badge badge-sm badge-success mb-10">sell</span><br>0.12458921 BTC</span>
                                    </h5>
                                    <h5 class="media media-single py-10 px-0 w-p100 justify-content-between">
									  <span>
									  <i class="fa fa-circle text-danger pe-10 fs-12"></i>Deal number 1548
									  <span class="subtitle ps-20 mt-10">by<span
                                              class="text-danger">Johen Doe</span></span>
									  </span>
                                        <span class="text-end pull-right"><span
                                                class="badge badge-sm badge-danger mb-10">sell</span><br>0.12458921 BTC</span>
                                    </h5>
                                    <h5 class="media media-single py-10 px-0 w-p100 justify-content-between">
									  <span>
									  <i class="fa fa-circle text-success pe-10 fs-12"></i>Deal number 1548
									  <span class="subtitle ps-20 mt-10">by<span
                                              class="text-success">Johen Doe</span></span>
									  </span>
                                        <span class="text-end pull-right"><span
                                                class="badge badge-sm badge-success mb-10">sell</span><br>0.12458921 BTC</span>
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2"></div>
                    <div class="col-xl-5 col-lg-5">
                        <div class="row">
                            <h3 class="title w-p100 mt-10 mb-0 p-20">Last Transactions</h3>
                            <div class="col-12">
                                <div class="media-list media-list-hover w-p100 mt-0">
                                    <h5 class="media media-single py-10 px-0 w-p100 justify-content-between">
									  <span>
									  <i class="fa fa-circle text-danger pe-10 fs-12"></i>Deal number 1548
									  <span class="subtitle ps-20 mt-10">by<span
                                              class="text-danger">Johen Doe</span></span>
									  </span>
                                        <span class="text-end pull-right"><span
                                                class="badge badge-sm badge-danger mb-10">sell</span><br>0.12458921 BTC</span>
                                    </h5>
                                    <h5 class="media media-single py-10 px-0 w-p100 justify-content-between">
									  <span>
									  <i class="fa fa-circle text-success pe-10 fs-12"></i>Deal number 1548
									  <span class="subtitle ps-20 mt-10">by<span
                                              class="text-success">Johen Doe</span></span>
									  </span>
                                        <span class="text-end pull-right"><span
                                                class="badge badge-sm badge-success mb-10">sell</span><br>0.12458921 BTC</span>
                                    </h5>
                                    <h5 class="media media-single py-10 px-0 w-p100 justify-content-between">
									  <span>
									  <i class="fa fa-circle text-success pe-10 fs-12"></i>Deal number 1548
									  <span class="subtitle ps-20 mt-10">by<span
                                              class="text-success">Johen Doe</span></span>
									  </span>
                                        <span class="text-end pull-right"><span
                                                class="badge badge-sm badge-success mb-10">sell</span><br>0.12458921 BTC</span>
                                    </h5>
                                    <h5 class="media media-single py-10 px-0 w-p100 justify-content-between">
									  <span>
									  <i class="fa fa-circle text-danger pe-10 fs-12"></i>Deal number 1548
									  <span class="subtitle ps-20 mt-10">by<span
                                              class="text-danger">Johen Doe</span></span>
									  </span>
                                        <span class="text-end pull-right"><span
                                                class="badge badge-sm badge-danger mb-10">sell</span><br>0.12458921 BTC</span>
                                    </h5>
                                    <h5 class="media media-single py-10 px-0 w-p100 justify-content-between">
									  <span>
									  <i class="fa fa-circle text-success pe-10 fs-12"></i>Deal number 1548
									  <span class="subtitle ps-20 mt-10">by<span
                                              class="text-success">Johen Doe</span></span>
									  </span>
                                        <span class="text-end pull-right"><span
                                                class="badge badge-sm badge-success mb-10">sell</span><br>0.12458921 BTC</span>
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
    <!-- /.content -->

</div>
</div>
<!-- /.content-wrapper -->

<!-- Footer -->
    {% include('includes/footer.html') %}

</div>
<!-- ./wrapper -->


<!-- Page Content overlay -->


{% include('includes/javascript_include_dashboard.html') %}


</body>
</html>
