<!DOCTYPE html>
<html lang="en">
<head>
    {% include('includes/head_content.html') %}
    <title>Crypto platform</title>

</head>
<body class="layout-top-nav {% if session['theme'] == 'dark' %}dark-skin{% else %}light-skin{% endif %} theme-primary fixed">

<div class="wrapper">
	<div id="loader"></div>

    <!-- Top navbar -->
    {% include('includes/top_navbar.html') %}

    <!-- Navbar -->
    {% include('includes/navbar.html') %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
	  <div class="container-full">
		<!-- Content Header (Page header) -->
		<div class="content-header">
			<div class="d-flex align-items-center">
				<div class="me-auto">
					<h3 class="page-title">Player quests</h3>
					<div class="d-inline-block align-items-center">
						<nav>
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="#"><i class="mdi mdi-home-outline"></i></a></li>
								<li class="breadcrumb-item" aria-current="page">Sample Page</li>
								<li class="breadcrumb-item active" aria-current="page">Blank page</li>
							</ol>
						</nav>
					</div>
				</div>

			</div>
		</div>

		<!-- Main content -->
		<section class="content">
			<div class="row">
                <!-- fa-lock and timeline-point-default -->
                <!-- fa-check and timeline-point-success -->
				<div class="col-12 col-lg-6 mb-50">
					<div class="box" id="buy_nft_quests">
					<div class="box-header">
						<h4 class="box-title">Buy NFTs &nbsp; (<span class="text-info">{{ quests_stats_nfts_bought }}</span>/{{ NFTs_bought_steps[-1] }})</h4>
					</div>
					<div class="box-body">
						<div class="timeline timeline-line-dotted">
                            {% for step in NFTs_bought_steps %}
                                <div class="timeline-item">
                                    <div class="timeline-point timeline-point-{% if step <= step_nft_bought %}success{% else %}default{% endif %}">
                                        <i class="fa fa-{% if step <= step_nft_bought %}check{% else %}lock{% endif %}"></i>
                                    </div>
                                    <div class="timeline-event">
                                        <div class="timeline-heading">
                                            <h5 class="timeline-title">Buy {{ step }} NFT{% if step>1 %}s{% endif %}</h5>
                                        </div>
                                        {% if step <= step_nft_bought %}
                                            <!-- if the quest is completed -->
                                            {% if step not in step_nft_bought_recovered %}
                                                <!-- if the reward is not recovered -->
                                                <div class="timeline-body">
                                                    <button type="button" class="btn btn-success btn-xs"
                                                            onclick="recover_reward({{ step }}, 'nfts_bought')"
                                                    id="nfts_bought_{{ step }}">Get reward</button>
                                                </div>
                                            {% else %}
                                                <!-- if the reward is recovered -->
                                                <div class="timeline-body">
                                                <button type="button" class="btn btn-success btn-xs" disabled>
                                                    Reward recovered
                                                </button>
                                                </div>
                                            {% endif %}
                                        {% endif %}
                                        <div class="timeline-footer">
                                            <p class="text-end">Reward: {{ reward_factor*step }} BTC</p>
                                        </div>
                                    </div>
                                </div>
                                <span class="timeline-label"></span>
                            {% endfor %}
                            <span class="timeline-label">
                                <a href="#" class="btn btn-info" title="">
                                    <i class="fa fa-fw fa-flag-checkered"></i>
                                </a>
                            </span>
						</div>
					</div>
				</div>
				</div>
                <div class="col-12 col-lg-6 mb-50">
					<div class="box" id="sold_nft_quests">
					<div class="box-header">
                        <h4 class="box-title">Sold NFTs &nbsp; (<span class="text-info">{{ quests_stats_nfts_sold }}</span>/{{ NFTs_sold_steps[-1] }})</h4>
					</div>
					<div class="box-body">
						<div class="timeline timeline-line-dotted">
							{% for step in NFTs_sold_steps %}
                                <div class="timeline-item">
                                    <div class="timeline-point timeline-point-{% if step <= step_nft_sold %}success{% else %}default{% endif %}">
                                        <i class="fa fa-{% if step <= step_nft_sold %}check{% else %}lock{% endif %}"></i>
                                    </div>
                                    <div class="timeline-event">
                                        <div class="timeline-heading">
                                            <h5 class="timeline-title">Sold {{ step }} NFT{% if step>1 %}s{% endif %}</h5>
                                        </div>
                                        {% if step <= step_nft_sold %}
                                            <!-- if the quest is completed -->
                                            {% if step not in step_nft_sold_recovered %}
                                                <!-- if the reward is not recovered -->
                                                <div class="timeline-body">
                                                    <button type="button" class="btn btn-success btn-xs"
                                                            onclick="recover_reward({{ step }}, 'nfts_sold')"
                                                    id="nfts_sold_{{ step }}">Get reward</button>
                                                </div>
                                            {% else %}
                                                <!-- if the reward is recovered -->
                                                <div class="timeline-body">
                                                <button type="button" class="btn btn-success btn-xs" disabled>
                                                    Reward recovered
                                                </button>
                                                </div>
                                            {% endif %}
                                        {% endif %}
                                        <div class="timeline-footer">
                                            <p class="text-end">Reward: {{ reward_factor*step }} BTC</p>
                                        </div>
                                    </div>
                                </div>
                                <span class="timeline-label"></span>
                            {% endfor %}
                            <span class="timeline-label">
                                <a href="#" class="btn btn-info" title="">
                                    <i class="fa fa-fw fa-flag-checkered"></i>
                                </a>
                            </span>
						</div>
					</div>
				</div>
				</div>
                <div class="col-12 col-lg-6 mb-50">
					<div class="box" id="bids_nft_quests">
					<div class="box-header">
                        <h4 class="box-title">Place Bids &nbsp; (<span class="text-info">{{ quests_stats_bids_made }}</span>/{{ NFTs_bid_steps[-1] }})</h4>
					</div>
					<div class="box-body">
						<div class="timeline timeline-line-dotted">
							{% for step in NFTs_bid_steps %}
                                <div class="timeline-item">
                                    <div class="timeline-point timeline-point-{% if step <= step_nft_bid %}success{% else %}default{% endif %}">
                                        <i class="fa fa-{% if step <= step_nft_bid %}check{% else %}lock{% endif %}"></i>
                                    </div>
                                    <div class="timeline-event">
                                        <div class="timeline-heading">
                                            <h5 class="timeline-title">Place {{ step }} Bid{% if step>1 %}s{% endif %}</h5>
                                        </div>
                                        {% if step <= step_nft_bid %}
                                            <!-- if the quest is completed -->
                                            {% if step not in step_nft_bid_recovered %}
                                                <!-- if the reward is not recovered -->
                                                <div class="timeline-body">
                                                    <button type="button" class="btn btn-success btn-xs"
                                                            onclick="recover_reward({{ step }}, 'bids_made')"
                                                    id="nfts_bid_{{ step }}">Get reward</button>
                                                </div>
                                            {% else %}
                                                <!-- if the reward is recovered -->
                                                <div class="timeline-body">
                                                <button type="button" class="btn btn-success btn-xs" disabled>
                                                    Reward recovered
                                                </button>
                                                </div>
                                            {% endif %}
                                        {% endif %}
                                        <div class="timeline-footer">
                                            <p class="text-end">Reward: {{ reward_factor*step }} BTC</p>
                                        </div>
                                    </div>
                                </div>
                                <span class="timeline-label"></span>
                            {% endfor %}
                            <span class="timeline-label">
                                <a href="#" class="btn btn-info" title="">
                                    <i class="fa fa-fw fa-flag-checkered"></i>
                                </a>
                            </span>
						</div>
					</div>
				</div>
				</div>
                <div class="col-12 col-lg-6 mb-50">
					<div class="box" id="buy_servers_quests">
					<div class="box-header">
                        <h4 class="box-title">Buy Servers &nbsp; (<span class="text-info">{{ quests_stats_servers_bought }}</span>/{{ Servers_bought_steps[-1] }})</h4>
					</div>
					<div class="box-body">
						<div class="timeline timeline-line-dotted">
							{% for step in Servers_bought_steps %}
                                <div class="timeline-item">
                                    <div class="timeline-point timeline-point-{% if step <= step_servers_bought %}success{% else %}default{% endif %}">
                                        <i class="fa fa-{% if step <= step_servers_bought %}check{% else %}lock{% endif %}"></i>
                                    </div>
                                    <div class="timeline-event">
                                        <div class="timeline-heading">
                                            <h5 class="timeline-title">Buy {{ step }} Server{% if step>1 %}s{% endif %}</h5>
                                        </div>
                                        {% if step <= step_servers_bought %}
                                            <!-- if the quest is completed -->
                                            {% if step not in step_servers_bought_recovered %}
                                                <!-- if the reward is not recovered -->
                                                <div class="timeline-body">
                                                    <button type="button" class="btn btn-success btn-xs"
                                                            onclick="recover_reward({{ step }}, 'servers_bought')"
                                                    id="servers_bought_{{ step }}">Get reward</button>
                                                </div>
                                            {% else %}
                                                <!-- if the reward is recovered -->
                                                <div class="timeline-body">
                                                <button type="button" class="btn btn-success btn-xs" disabled>
                                                    Reward recovered
                                                </button>
                                                </div>
                                            {% endif %}
                                        {% endif %}
                                        <div class="timeline-footer">
                                            <p class="text-end">Reward: {{ reward_factor*step }} BTC</p>
                                        </div>
                                    </div>
                                </div>
                                <span class="timeline-label"></span>
                            {% endfor %}
                            <span class="timeline-label">
                                <a href="#" class="btn btn-info" title="">
                                    <i class="fa fa-fw fa-flag-checkered"></i>
                                </a>
                            </span>
						</div>
					</div>
				</div>
				</div>
			</div>
		</section>
		<!-- /.content -->

	  </div>
  </div>
  <!-- /.content-wrapper -->

    <!-- Footer -->
    {% include('includes/footer.html') %}

</div>
<!-- ./wrapper -->

{% include('includes/javascript_include_dashboard.html') %}

<script>
$('#buy_nft_quests').slimScroll({
        height: $(window).height() + 'px'
});
$('#sold_nft_quests').slimScroll({
        height: $(window).height() + 'px'
});
$('#bids_nft_quests').slimScroll({
        height: $(window).height() + 'px'
});
$('#buy_servers_quests').slimScroll({
        height: $(window).height() + 'px'
});


function recover_reward(step, type){
    $.ajax({
        url: 'api/recover_quest',
        type: 'POST',
        data: {
            step: step,
            quest_type: type
        },
        success: function(data){
            if(data.status === 'success'){
                // disable button and change text to "reward recovered"
                $('#'+type+'_'+step).attr('disabled', true);
                $('#'+type+'_'+step).text('Reward recovered');
        }
            else {
                swal("Error", data.message, "error")
            }
        }
    });
}

</script>

</body>
</html>
