<!DOCTYPE html>
<html lang="en">
<head>
    {% include('includes/head_content.html') %}
    <title>Quests</title>

</head>
<body class="layout-top-nav {% if session['theme'] == 'dark' %}dark-skin{% else %}light-skin{% endif %} theme-primary fixed">

<div class="wrapper">
	<div id="loader"></div>

    <!-- Top navbar -->
    {% include('includes/top_navbar.html') %}

    <!-- Navbar -->
    {% include('includes/navbar.html') %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
	  <div class="container-full">
		<!-- Content Header (Page header) -->
		<div class="content-header">
			<div class="d-flex align-items-center">
				<div class="me-auto">
					<h3 class="page-title">Player quests</h3>
					<div class="d-inline-block align-items-center">
						<nav>
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="#"><i class="mdi mdi-home-outline"></i></a></li>
								<li class="breadcrumb-item" aria-current="page">Sample Page</li>
								<li class="breadcrumb-item active" aria-current="page">Blank page</li>
							</ol>
						</nav>
					</div>
				</div>

			</div>
		</div>

		<!-- Main content -->
		<section class="content">
			<div class="row">
				<div class="col-12 col-lg-6 mb-50">
					<div class="box" id="buy_nft_quests">
					<div class="box-header">
						<h4 class="box-title">Buy NFTs</h4>
					</div>
					<div class="box-body">
						<div class="timeline timeline-line-dotted">
							<span class="timeline-label">
								<span class="badge badge-pill badge-primary badge-lg">17.03.2016</span>
							</span>
							<div class="timeline-item">
								<div class="timeline-point timeline-point-success">
									<i class="fa fa-money"></i>
								</div>
								<div class="timeline-event">
									<div class="timeline-heading">
										<h4 class="timeline-title">Nunc viverra purus sit</h4>
									</div>
									<div class="timeline-body">
										<p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment.</p>
									</div>
									<div class="timeline-footer">
										<p class="text-end">17.03.2016 10:00</p>
									</div>
								</div>
							</div>
							<span class="timeline-label">
								<span class="badge badge-pill badge-primary badge-lg">09.03.2016</span>
							</span>
							<div class="timeline-item">
								<div class="timeline-point timeline-point-success">
									<i class="fa fa-money"></i>
								</div>
								<div class="timeline-event">
									<div class="timeline-heading">
										<h4 class="timeline-title">Nunc viverra purus sit</h4>
									</div>
									<div class="timeline-body">
										<p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment.</p>
									</div>
									<div class="timeline-footer">
										<p class="text-end">09.03.2016 09:00</p>
									</div>
								</div>
							</div>
							<span class="timeline-label">
								<span class="badge badge-pill badge-primary badge-lg">09.02.2016</span>
							</span>
							<div class="timeline-item">
								<div class="timeline-point timeline-point-success">
									<i class="fa fa-money"></i>
								</div>
								<div class="timeline-event">
									<div class="timeline-heading">
										<h4 class="timeline-title">Nunc viverra purus sit</h4>
									</div>
									<div class="timeline-body">
										<p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment.</p>
									</div>
									<div class="timeline-footer">
										<p class="text-end">09.02.2016 08:00</p>
									</div>
								</div>
							</div>
							<span class="timeline-label">
								<span class="badge badge-pill badge-primary badge-lg">08.02.2016</span>
							</span>
							<div class="timeline-item">
								<div class="timeline-point timeline-point-success">
									<i class="fa fa-money"></i>
								</div>
								<div class="timeline-event">
									<div class="timeline-heading">
										<h4 class="timeline-title">Nunc viverra purus sit</h4>
									</div>
									<div class="timeline-body">
										<p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment.</p>
									</div>
									<div class="timeline-footer">
										<p class="text-end">08.02.2016 14:00</p>
									</div>
								</div>
							</div>
							<div class="timeline-item">
								<div class="timeline-point timeline-point-success">
									<i class="fa fa-money"></i>
								</div>
								<div class="timeline-event">
									<div class="timeline-heading">
										<h4 class="timeline-title">Nunc viverra purus sit</h4>
									</div>
									<div class="timeline-body">
										<p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment.</p>
									</div>
									<div class="timeline-footer">
										<p class="text-end">08.02.2016 12:00</p>
									</div>
								</div>
							</div>
							<div class="timeline-item">
								<div class="timeline-point timeline-point-danger">
									<i class="fa fa-times"></i>
								</div>
								<div class="timeline-event">
									<div class="timeline-heading">
										<h4 class="timeline-title">Nunc viverra purus sit</h4>
									</div>
									<div class="timeline-body">
										<p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment.</p>
									</div>
									<div class="timeline-footer">
										<p class="text-end">08.02.2016 11:30</p>
									</div>
								</div>
							</div>
							<div class="timeline-item">
								<div class="timeline-point timeline-point-danger">
									<i class="fa fa-times"></i>
								</div>
								<div class="timeline-event">
									<div class="timeline-heading">
										<h4 class="timeline-title">Nunc viverra purus sit</h4>
									</div>
									<div class="timeline-body">
										<p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment.</p>
									</div>
									<div class="timeline-footer">
										<p class="text-end">08.02.2016 11:00</p>
									</div>
								</div>
							</div>
							<div class="timeline-item">
								<div class="timeline-point timeline-point-danger">
									<i class="fa fa-times"></i>
								</div>
								<div class="timeline-event">
									<div class="timeline-heading">
										<h4 class="timeline-title">Nunc viverra purus sit</h4>
									</div>
									<div class="timeline-body">
										<p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment.</p>
									</div>
									<div class="timeline-footer">
										<p class="text-end">08.02.2016 10:00</p>
									</div>
								</div>
							</div>
							<span class="timeline-label">
								<span class="badge badge-pill badge-primary badge-lg">13.01.2016</span>
							</span>
							<div class="timeline-item">
								<div class="timeline-point timeline-point-success">
									<i class="fa fa-money"></i>
								</div>
								<div class="timeline-event">
									<div class="timeline-heading">
										<h4 class="timeline-title">Nunc viverra purus sit</h4>
									</div>
									<div class="timeline-body">
										<p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment.</p>
									</div>
									<div class="timeline-footer">
										<p class="text-end">13.01.2016 15:00</p>
									</div>
								</div>
							</div>
							<div class="timeline-item">
								<div class="timeline-point timeline-point-success">
									<i class="fa fa-money"></i>
								</div>
								<div class="timeline-event">
									<div class="timeline-heading">
										<h4 class="timeline-title">Nunc viverra purus sit</h4>
									</div>
									<div class="timeline-body">
										<p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment.</p>
									</div>
									<div class="timeline-footer">
										<p class="text-end">13.01.2016 10:00</p>
									</div>
								</div>
							</div>
							<span class="timeline-label">
								<a href="#" class="btn btn-info" title="More...">
									<i class="fa fa-fw fa-history"></i>
								</a>
							</span>
						</div>
					</div>
				</div>
				</div>
                <div class="col-12 col-lg-6 mb-50">
					<div class="box" id="sold_nft_quests">>
					<div class="box-header">
						<h4 class="box-title">Example One</h4>
					</div>
					<div class="box-body">
						<div class="timeline timeline-line-dotted">
							<span class="timeline-label">
								<span class="badge badge-pill badge-primary badge-lg">17.03.2016</span>
							</span>
							<div class="timeline-item">
								<div class="timeline-point timeline-point-success">
									<i class="fa fa-money"></i>
								</div>
								<div class="timeline-event">
									<div class="timeline-heading">
										<h4 class="timeline-title">Nunc viverra purus sit</h4>
									</div>
									<div class="timeline-body">
										<p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment.</p>
									</div>
									<div class="timeline-footer">
										<p class="text-end">17.03.2016 10:00</p>
									</div>
								</div>
							</div>
							<span class="timeline-label">
								<span class="badge badge-pill badge-primary badge-lg">09.03.2016</span>
							</span>
							<div class="timeline-item">
								<div class="timeline-point timeline-point-success">
									<i class="fa fa-money"></i>
								</div>
								<div class="timeline-event">
									<div class="timeline-heading">
										<h4 class="timeline-title">Nunc viverra purus sit</h4>
									</div>
									<div class="timeline-body">
										<p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment.</p>
									</div>
									<div class="timeline-footer">
										<p class="text-end">09.03.2016 09:00</p>
									</div>
								</div>
							</div>
							<span class="timeline-label">
								<span class="badge badge-pill badge-primary badge-lg">09.02.2016</span>
							</span>
							<div class="timeline-item">
								<div class="timeline-point timeline-point-success">
									<i class="fa fa-money"></i>
								</div>
								<div class="timeline-event">
									<div class="timeline-heading">
										<h4 class="timeline-title">Nunc viverra purus sit</h4>
									</div>
									<div class="timeline-body">
										<p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment.</p>
									</div>
									<div class="timeline-footer">
										<p class="text-end">09.02.2016 08:00</p>
									</div>
								</div>
							</div>
							<span class="timeline-label">
								<span class="badge badge-pill badge-primary badge-lg">08.02.2016</span>
							</span>
							<div class="timeline-item">
								<div class="timeline-point timeline-point-success">
									<i class="fa fa-money"></i>
								</div>
								<div class="timeline-event">
									<div class="timeline-heading">
										<h4 class="timeline-title">Nunc viverra purus sit</h4>
									</div>
									<div class="timeline-body">
										<p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment.</p>
									</div>
									<div class="timeline-footer">
										<p class="text-end">08.02.2016 14:00</p>
									</div>
								</div>
							</div>
							<div class="timeline-item">
								<div class="timeline-point timeline-point-success">
									<i class="fa fa-money"></i>
								</div>
								<div class="timeline-event">
									<div class="timeline-heading">
										<h4 class="timeline-title">Nunc viverra purus sit</h4>
									</div>
									<div class="timeline-body">
										<p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment.</p>
									</div>
									<div class="timeline-footer">
										<p class="text-end">08.02.2016 12:00</p>
									</div>
								</div>
							</div>
							<div class="timeline-item">
								<div class="timeline-point timeline-point-danger">
									<i class="fa fa-times"></i>
								</div>
								<div class="timeline-event">
									<div class="timeline-heading">
										<h4 class="timeline-title">Nunc viverra purus sit</h4>
									</div>
									<div class="timeline-body">
										<p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment.</p>
									</div>
									<div class="timeline-footer">
										<p class="text-end">08.02.2016 11:30</p>
									</div>
								</div>
							</div>
							<div class="timeline-item">
								<div class="timeline-point timeline-point-danger">
									<i class="fa fa-times"></i>
								</div>
								<div class="timeline-event">
									<div class="timeline-heading">
										<h4 class="timeline-title">Nunc viverra purus sit</h4>
									</div>
									<div class="timeline-body">
										<p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment.</p>
									</div>
									<div class="timeline-footer">
										<p class="text-end">08.02.2016 11:00</p>
									</div>
								</div>
							</div>
							<div class="timeline-item">
								<div class="timeline-point timeline-point-danger">
									<i class="fa fa-times"></i>
								</div>
								<div class="timeline-event">
									<div class="timeline-heading">
										<h4 class="timeline-title">Nunc viverra purus sit</h4>
									</div>
									<div class="timeline-body">
										<p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment.</p>
									</div>
									<div class="timeline-footer">
										<p class="text-end">08.02.2016 10:00</p>
									</div>
								</div>
							</div>
							<span class="timeline-label">
								<span class="badge badge-pill badge-primary badge-lg">13.01.2016</span>
							</span>
							<div class="timeline-item">
								<div class="timeline-point timeline-point-success">
									<i class="fa fa-money"></i>
								</div>
								<div class="timeline-event">
									<div class="timeline-heading">
										<h4 class="timeline-title">Nunc viverra purus sit</h4>
									</div>
									<div class="timeline-body">
										<p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment.</p>
									</div>
									<div class="timeline-footer">
										<p class="text-end">13.01.2016 15:00</p>
									</div>
								</div>
							</div>
							<div class="timeline-item">
								<div class="timeline-point timeline-point-success">
									<i class="fa fa-money"></i>
								</div>
								<div class="timeline-event">
									<div class="timeline-heading">
										<h4 class="timeline-title">Nunc viverra purus sit</h4>
									</div>
									<div class="timeline-body">
										<p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment.</p>
									</div>
									<div class="timeline-footer">
										<p class="text-end">13.01.2016 10:00</p>
									</div>
								</div>
							</div>
							<span class="timeline-label">
								<a href="#" class="btn btn-info" title="More...">
									<i class="fa fa-fw fa-history"></i>
								</a>
							</span>
						</div>
					</div>
				</div>
				</div>
                <div class="col-12 col-lg-6 mb-50">
					<div class="box" id="bids_nft_quests">>
					<div class="box-header">
						<h4 class="box-title">Example One</h4>
					</div>
					<div class="box-body">
						<div class="timeline timeline-line-dotted">
							<span class="timeline-label">
								<span class="badge badge-pill badge-primary badge-lg">17.03.2016</span>
							</span>
							<div class="timeline-item">
								<div class="timeline-point timeline-point-success">
									<i class="fa fa-money"></i>
								</div>
								<div class="timeline-event">
									<div class="timeline-heading">
										<h4 class="timeline-title">Nunc viverra purus sit</h4>
									</div>
									<div class="timeline-body">
										<p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment.</p>
									</div>
									<div class="timeline-footer">
										<p class="text-end">17.03.2016 10:00</p>
									</div>
								</div>
							</div>
							<span class="timeline-label">
								<span class="badge badge-pill badge-primary badge-lg">09.03.2016</span>
							</span>
							<div class="timeline-item">
								<div class="timeline-point timeline-point-success">
									<i class="fa fa-money"></i>
								</div>
								<div class="timeline-event">
									<div class="timeline-heading">
										<h4 class="timeline-title">Nunc viverra purus sit</h4>
									</div>
									<div class="timeline-body">
										<p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment.</p>
									</div>
									<div class="timeline-footer">
										<p class="text-end">09.03.2016 09:00</p>
									</div>
								</div>
							</div>
							<span class="timeline-label">
								<span class="badge badge-pill badge-primary badge-lg">09.02.2016</span>
							</span>
							<div class="timeline-item">
								<div class="timeline-point timeline-point-success">
									<i class="fa fa-money"></i>
								</div>
								<div class="timeline-event">
									<div class="timeline-heading">
										<h4 class="timeline-title">Nunc viverra purus sit</h4>
									</div>
									<div class="timeline-body">
										<p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment.</p>
									</div>
									<div class="timeline-footer">
										<p class="text-end">09.02.2016 08:00</p>
									</div>
								</div>
							</div>
							<span class="timeline-label">
								<span class="badge badge-pill badge-primary badge-lg">08.02.2016</span>
							</span>
							<div class="timeline-item">
								<div class="timeline-point timeline-point-success">
									<i class="fa fa-money"></i>
								</div>
								<div class="timeline-event">
									<div class="timeline-heading">
										<h4 class="timeline-title">Nunc viverra purus sit</h4>
									</div>
									<div class="timeline-body">
										<p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment.</p>
									</div>
									<div class="timeline-footer">
										<p class="text-end">08.02.2016 14:00</p>
									</div>
								</div>
							</div>
							<div class="timeline-item">
								<div class="timeline-point timeline-point-success">
									<i class="fa fa-money"></i>
								</div>
								<div class="timeline-event">
									<div class="timeline-heading">
										<h4 class="timeline-title">Nunc viverra purus sit</h4>
									</div>
									<div class="timeline-body">
										<p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment.</p>
									</div>
									<div class="timeline-footer">
										<p class="text-end">08.02.2016 12:00</p>
									</div>
								</div>
							</div>
							<div class="timeline-item">
								<div class="timeline-point timeline-point-danger">
									<i class="fa fa-times"></i>
								</div>
								<div class="timeline-event">
									<div class="timeline-heading">
										<h4 class="timeline-title">Nunc viverra purus sit</h4>
									</div>
									<div class="timeline-body">
										<p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment.</p>
									</div>
									<div class="timeline-footer">
										<p class="text-end">08.02.2016 11:30</p>
									</div>
								</div>
							</div>
							<div class="timeline-item">
								<div class="timeline-point timeline-point-danger">
									<i class="fa fa-times"></i>
								</div>
								<div class="timeline-event">
									<div class="timeline-heading">
										<h4 class="timeline-title">Nunc viverra purus sit</h4>
									</div>
									<div class="timeline-body">
										<p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment.</p>
									</div>
									<div class="timeline-footer">
										<p class="text-end">08.02.2016 11:00</p>
									</div>
								</div>
							</div>
							<div class="timeline-item">
								<div class="timeline-point timeline-point-danger">
									<i class="fa fa-times"></i>
								</div>
								<div class="timeline-event">
									<div class="timeline-heading">
										<h4 class="timeline-title">Nunc viverra purus sit</h4>
									</div>
									<div class="timeline-body">
										<p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment.</p>
									</div>
									<div class="timeline-footer">
										<p class="text-end">08.02.2016 10:00</p>
									</div>
								</div>
							</div>
							<span class="timeline-label">
								<span class="badge badge-pill badge-primary badge-lg">13.01.2016</span>
							</span>
							<div class="timeline-item">
								<div class="timeline-point timeline-point-success">
									<i class="fa fa-money"></i>
								</div>
								<div class="timeline-event">
									<div class="timeline-heading">
										<h4 class="timeline-title">Nunc viverra purus sit</h4>
									</div>
									<div class="timeline-body">
										<p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment.</p>
									</div>
									<div class="timeline-footer">
										<p class="text-end">13.01.2016 15:00</p>
									</div>
								</div>
							</div>
							<div class="timeline-item">
								<div class="timeline-point timeline-point-success">
									<i class="fa fa-money"></i>
								</div>
								<div class="timeline-event">
									<div class="timeline-heading">
										<h4 class="timeline-title">Nunc viverra purus sit</h4>
									</div>
									<div class="timeline-body">
										<p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment.</p>
									</div>
									<div class="timeline-footer">
										<p class="text-end">13.01.2016 10:00</p>
									</div>
								</div>
							</div>
							<span class="timeline-label">
								<a href="#" class="btn btn-info" title="More...">
									<i class="fa fa-fw fa-history"></i>
								</a>
							</span>
						</div>
					</div>
				</div>
				</div>
                <div class="col-12 col-lg-6 mb-50">
					<div class="box" id="buy_servers_quests">>
					<div class="box-header">
						<h4 class="box-title">Example One</h4>
					</div>
					<div class="box-body">
						<div class="timeline timeline-line-dotted">
							<span class="timeline-label">
								<span class="badge badge-pill badge-primary badge-lg">17.03.2016</span>
							</span>
							<div class="timeline-item">
								<div class="timeline-point timeline-point-success">
									<i class="fa fa-money"></i>
								</div>
								<div class="timeline-event">
									<div class="timeline-heading">
										<h4 class="timeline-title">Nunc viverra purus sit</h4>
									</div>
									<div class="timeline-body">
										<p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment.</p>
									</div>
									<div class="timeline-footer">
										<p class="text-end">17.03.2016 10:00</p>
									</div>
								</div>
							</div>
							<span class="timeline-label">
								<span class="badge badge-pill badge-primary badge-lg">09.03.2016</span>
							</span>
							<div class="timeline-item">
								<div class="timeline-point timeline-point-success">
									<i class="fa fa-money"></i>
								</div>
								<div class="timeline-event">
									<div class="timeline-heading">
										<h4 class="timeline-title">Nunc viverra purus sit</h4>
									</div>
									<div class="timeline-body">
										<p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment.</p>
									</div>
									<div class="timeline-footer">
										<p class="text-end">09.03.2016 09:00</p>
									</div>
								</div>
							</div>
							<span class="timeline-label">
								<span class="badge badge-pill badge-primary badge-lg">09.02.2016</span>
							</span>
							<div class="timeline-item">
								<div class="timeline-point timeline-point-success">
									<i class="fa fa-money"></i>
								</div>
								<div class="timeline-event">
									<div class="timeline-heading">
										<h4 class="timeline-title">Nunc viverra purus sit</h4>
									</div>
									<div class="timeline-body">
										<p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment.</p>
									</div>
									<div class="timeline-footer">
										<p class="text-end">09.02.2016 08:00</p>
									</div>
								</div>
							</div>
							<span class="timeline-label">
								<span class="badge badge-pill badge-primary badge-lg">08.02.2016</span>
							</span>
							<div class="timeline-item">
								<div class="timeline-point timeline-point-success">
									<i class="fa fa-money"></i>
								</div>
								<div class="timeline-event">
									<div class="timeline-heading">
										<h4 class="timeline-title">Nunc viverra purus sit</h4>
									</div>
									<div class="timeline-body">
										<p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment.</p>
									</div>
									<div class="timeline-footer">
										<p class="text-end">08.02.2016 14:00</p>
									</div>
								</div>
							</div>
							<div class="timeline-item">
								<div class="timeline-point timeline-point-success">
									<i class="fa fa-money"></i>
								</div>
								<div class="timeline-event">
									<div class="timeline-heading">
										<h4 class="timeline-title">Nunc viverra purus sit</h4>
									</div>
									<div class="timeline-body">
										<p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment.</p>
									</div>
									<div class="timeline-footer">
										<p class="text-end">08.02.2016 12:00</p>
									</div>
								</div>
							</div>
							<div class="timeline-item">
								<div class="timeline-point timeline-point-danger">
									<i class="fa fa-times"></i>
								</div>
								<div class="timeline-event">
									<div class="timeline-heading">
										<h4 class="timeline-title">Nunc viverra purus sit</h4>
									</div>
									<div class="timeline-body">
										<p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment.</p>
									</div>
									<div class="timeline-footer">
										<p class="text-end">08.02.2016 11:30</p>
									</div>
								</div>
							</div>
							<div class="timeline-item">
								<div class="timeline-point timeline-point-danger">
									<i class="fa fa-times"></i>
								</div>
								<div class="timeline-event">
									<div class="timeline-heading">
										<h4 class="timeline-title">Nunc viverra purus sit</h4>
									</div>
									<div class="timeline-body">
										<p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment.</p>
									</div>
									<div class="timeline-footer">
										<p class="text-end">08.02.2016 11:00</p>
									</div>
								</div>
							</div>
							<div class="timeline-item">
								<div class="timeline-point timeline-point-danger">
									<i class="fa fa-times"></i>
								</div>
								<div class="timeline-event">
									<div class="timeline-heading">
										<h4 class="timeline-title">Nunc viverra purus sit</h4>
									</div>
									<div class="timeline-body">
										<p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment.</p>
									</div>
									<div class="timeline-footer">
										<p class="text-end">08.02.2016 10:00</p>
									</div>
								</div>
							</div>
							<span class="timeline-label">
								<span class="badge badge-pill badge-primary badge-lg">13.01.2016</span>
							</span>
							<div class="timeline-item">
								<div class="timeline-point timeline-point-success">
									<i class="fa fa-money"></i>
								</div>
								<div class="timeline-event">
									<div class="timeline-heading">
										<h4 class="timeline-title">Nunc viverra purus sit</h4>
									</div>
									<div class="timeline-body">
										<p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment.</p>
									</div>
									<div class="timeline-footer">
										<p class="text-end">13.01.2016 15:00</p>
									</div>
								</div>
							</div>
							<div class="timeline-item">
								<div class="timeline-point timeline-point-success">
									<i class="fa fa-money"></i>
								</div>
								<div class="timeline-event">
									<div class="timeline-heading">
										<h4 class="timeline-title">Nunc viverra purus sit</h4>
									</div>
									<div class="timeline-body">
										<p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment.</p>
									</div>
									<div class="timeline-footer">
										<p class="text-end">13.01.2016 10:00</p>
									</div>
								</div>
							</div>
							<span class="timeline-label">
								<a href="#" class="btn btn-info" title="More...">
									<i class="fa fa-fw fa-history"></i>
								</a>
							</span>
						</div>
					</div>
				</div>
				</div>
			</div>
		</section>
		<!-- /.content -->

	  </div>
  </div>
  <!-- /.content-wrapper -->

    <!-- Footer -->
    {% include('includes/footer.html') %}

</div>
<!-- ./wrapper -->

{% include('includes/javascript_include_dashboard.html') %}

<script>
$('#buy_nft_quests').slimScroll({
        height: $(window).height() + 'px'
});
</script>

</body>
</html>
