<!DOCTYPE html>
<html lang="en">
<head>
    {% include('includes/head_content.html') %}
    <title>Crypto platform</title>

</head>
<body class="layout-top-nav {% if session['theme'] == 'dark' %}dark-skin{% else %}light-skin{% endif %} theme-primary fixed">
	
<div class="wrapper">
	<div id="loader"></div>

    <!-- Top navbar -->
    {% include('includes/top_navbar.html') %}

    <!-- Navbar -->
    {% include('includes/navbar.html') %}
    
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
	  <div class="container-full">
		<!-- Content Header (Page header) -->	  
		<div class="content-header">
			<div class="d-flex align-items-center">
				<div class="me-auto">
					<h4 class="page-title">Account Setting</h4>
					<div class="d-inline-block align-items-center">
						<nav>
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="{{ url_for('BLP_general.home') }}"><i class="mdi mdi-home-outline"></i></a></li>
								<li class="breadcrumb-item active" aria-current="page">Account Setting</li>
							</ol>
						</nav>
					</div>
				</div>
				
			</div>
		</div>

		<!-- Main content -->
		<section class="content">
			<div class="row">				
				<div class="col-12">
					<h4 class="text-dark">General Settings</h4>
					<hr>
					<div class="box">
						<div class="box-body">
							<div class="d-md-flex justify-content-between align-items-center">
								<div>
									<h5 class="text-primary fw-500">Notification</h5>
									<p class="mb-0">You can disable all notifications.</p>
								</div>
								<button type="button" class="btn btn-sm btn-toggle btn-primary active" data-bs-toggle="button" aria-pressed="true" id="notifications_active">
									<span class="handle"></span>
							    </button>
							</div>
						</div>
					</div>
                    <div class="box">
					<div class="box-header with-border">
					  <h3 class="box-title">Personal details</h3>
					</div>
					<!-- /.box-header -->
					<div class="box-body">
					  <div class="row">
						<div class="col-12">
                            <div class="form-group row">
                              <label class="col-sm-2 col-form-label">New username</label>
                              <div class="col-sm-10">
                                <input class="form-control" id="newUsername" type="text" placeholder="Enter new username">
                              </div>
                            </div>
                            <div class="form-group row">
                              <label class="col-sm-2 col-form-label"></label>
                              <div class="col-sm-10">
                                <button type="button" class="btn btn-success" id="changeUsernameBtn">Change</button>
                              </div>
                            </div>
                        </div>

						<!-- /.col -->
					  </div>
					  <!-- /.row -->
					</div>
					<!-- /.box-body -->
				  </div>
				</div>
			</div>
		</section>
		<!-- /.content -->
	  
	  </div>
  </div>
  <!-- /.content-wrapper -->
 
    <!-- Footer -->
    {% include('includes/footer.html') %}

</div>
<!-- ./wrapper -->
	

	<!-- Page Content overlay -->
	
	
{% include('includes/javascript_include_dashboard.html') %}

<script>
$(document).ready(function(){
    // Étape 1: Vérifier l'état initial des notifications
    $.ajax({
        url: '/api/is_user_notification_active',
        type: 'GET',
        success: function(response) {
            // Ici, 'response' doit être un objet JSON indiquant si les notifications sont actives
            // Exemple de réponse attendue: { "active": true } ou { "active": false }
            if(response.active) {
                $("#notifications_active").addClass('active').attr("aria-pressed", "true");
            } else {
                $("#notifications_active").removeClass('active').attr("aria-pressed", "false");
            }
        },
        error: function(error) {
            console.log("Erreur lors de la vérification de l'état des notifications:", error);
        }
    });

    // Étape 2: Bascule de l'état des notifications lors du clic sur le bouton
    $("#notifications_active").click(function(){
        $.ajax({
            url: '/api/switch_notifications_active',
            type: 'POST', // Assurez-vous que votre backend accepte la méthode POST pour cette route
            success: function(response) {
                // Mettre à jour l'état du bouton basé sur la nouvelle valeur
                var newState = response.active; // Supposition: 'response' inclut un champ 'active' indiquant le nouvel état
                if(newState) {
                    $("#notifications_active").addClass('active').attr("aria-pressed", "true");
                } else {
                    $("#notifications_active").removeClass('active').attr("aria-pressed", "false");
                }
            },
            error: function(error) {
                console.log("Erreur lors du changement de l'état des notifications:", error);
            }
        });
    });

    $("#changeUsernameBtn").click(function(){
        var newUsername = $("#newUsername").val();
        if(newUsername) { // Vérifiez que le champ n'est pas vide
            $.ajax({
                url: '/api/change_username', // Remplacez <user_id> par l'ID réel de l'utilisateur
                type: 'POST',
                data: {new_username: newUsername}, // Envoyez le nouveau nom d'utilisateur comme donnée de la requête
                success: function(response) {
                    // change username in the navbar, id="username_topnav"
                    $("#username_topnav").text(newUsername);
                    // Vous pouvez ajouter ici une logique pour informer l'utilisateur du succès
                    swal("Success", response['message'], "success");
                },
                error: function(error) {
                    // Gérez les erreurs éventuelles
                    swal("Error", "An error occurred while changing the username.", "error")
                }
            });
        } else {
            swal("Error", "Please enter a new username.", "error")
        }
    });

});
</script>


</body>
</html>
