<!DOCTYPE html>
<html lang="en">
<head>
    {% include('includes/head_content.html') %}
    <title>Crypto platform</title>

</head>
<body class="layout-top-nav {% if session['theme'] == 'dark' %}dark-skin{% else %}light-skin{% endif %} theme-primary fixed">

<div class="wrapper">
    <div id="loader"></div>

    <!-- Top navbar -->
    {% include('includes/top_navbar.html') %}

    <!-- Navbar -->
    {% include('includes/navbar.html') %}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <div class="container-full">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="d-flex align-items-center">
                    <div class="me-auto">
                        <h3 class="page-title">Trading <span id="crypto-name">{{ symbol }}</span></h3>
                        <div class="d-inline-block align-items-center">
                            <nav>
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{{ url_for('BLP_general.home') }}"><i
                                            class="mdi mdi-home-outline"></i></a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Trading {{ symbol }}</li>
                                </ol>
                            </nav>
                        </div>
                    </div>

                </div>
            </div>

            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <div class="col-xl-3 col-12">
                        <div class="box">
                            <div class="box-header with-border">
                                <h4 class="box-title">Start a position</h4>
                                <p class="mb-0">{{ symbol.split('-')[0] }} Balance: <a id="crypto_amount_in_wallet"></a>
                                </p>
                            </div>
                            <div class="box-body">
                                <form class="dash-form">
                                    <!-- Price Input -->
                                    <div class="row form-group">
                                        <div class="input-group mb-10 mt-10">
                                            <span class="input-group-addon">Price ({{ symbol.split('-')[0] }})</span>
                                            <input type="number" id="price_input" step="any" class="form-control"
                                                   placeholder="1">
                                        </div>
                                        <span class="error-message" id="price_error"></span>
                                        <span class="text-info" id="price_converted"></span>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label class="form-label">Leverage:</label>
                                            <select class="form-select" id="leverage_select">
                                                <option value="no_leverage"
                                                >No leverage
                                                </option>
                                                <option value="1:2"
                                                >1:2
                                                </option>
                                                <option value="1:5"
                                                >1:5
                                                </option>
                                                <option value="1:10"
                                                >1:10
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <!-- Stop Loss Inputs -->
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label class="form-label">Stop Loss (%):</label>
                                                <input type="text" id="stop_loss_percentage" class="form-control">
                                                <span class="error-message" id="stop_loss_percentage_error"></span>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label class="form-label">Stop Loss ($):</label>
                                                <input type="text" id="stop_loss_value" class="form-control">
                                                <span class="error-message" id="stop_loss_value_error"></span>
                                            </div>
                                        </div>
                                        <!-- Take Profit Inputs -->
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label class="form-label">Take Profit (%):</label>
                                                <input type="text" id="take_profit_percentage" class="form-control">
                                                <span class="error-message" id="take_profit_percentage_error"></span>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label class="form-label">Take Profit ($):</label>
                                                <input type="text" id="take_profit_value" class="form-control">
                                                <span class="error-message" id="take_profit_value_error"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="form-group">
                                                <!-- Choose between predict the high or the low of the next candle -->
                                                <label class="form-label"> Prediction:</label>
                                                <select class="form-select" id="prediction_select">
                                                    <option value="high" selected
                                                    >High
                                                    </option>
                                                    <option value="low"
                                                    >Low
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <button type="submit" class="btn btn-success">Start</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-9 col-12">
                        <div class="box">
                            <div class="box-header with-border">
                                <h4 class="box-title">Stock Events</h4>
                            </div>
                            <div class="box-body">
                                <div class="chart">
                                    <div id="chart_stock_events" class="h-500"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12" id="div_opened_positions_table">
                        <div class="box">
                            <div class="box-header with-border">
                                <h4 class="box-title">Your opened positions</h4>
                                <!-- Table with positions -->
                                <div class="table-responsive">
                                    <table class="table mb-0">
                                        <thead>
                                        <tr>
                                            <th scope="col">Date</th>
                                            <th scope="col">Entry price</th>
                                            <th scope="col">Leverage</th>
                                            <th scope="col">Stop Loss</th>
                                            <th scope="col">Take Profit</th>
                                            <th scope="col">Prediction</th>
                                            <th scope="col">Current profit (%)</th>
                                            <th scope="col">Current profit ($)</th>
                                            <th scope="col"></th>
                                        </tr>
                                        </thead>
                                        <tbody id="opened_positions_table">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12" id="div_last_positions_table">
                        <div class="box">
                            <div class="box-header with-border">
                                <h4 class="box-title">Last 15 positions</h4>
                            </div>
                            <div class="box-body pt-0">
                                <div class="table-responsive">
                                    <table class="table mb-0">
                                        <thead>
                                        <tr>
                                            <th scope="col">Start date</th>
                                            <th scope="col">End date</th>
                                            <th scope="col">Entry price for 1 token</th>
                                            <th scope="col">Position token</th>
                                            <th scope="col">Leverage</th>
                                            <th scope="col">Prediction</th>
                                            <th scope="col">Profit ($)</th>
                                            <th scope="col">Profit (%)</th>
                                        </tr>
                                        </thead>
                                        <tbody id="last_positions_table">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- /.content -->

        </div>
    </div>
    <!-- /.content-wrapper -->

    <!-- Footer -->
    {% include('includes/footer.html') %}

</div>
<!-- ./wrapper -->

{% include('includes/javascript_include_dashboard.html') %}

<script>
    var chartData = [];
    fetchData().then(() => {
        createChart();
    });

    function fetchData() {
        // Récupération des données
        return fetch('/api/get_specific_crypto_data/{{ symbol }}')
            .then(response => response.json())
            .then(data => {
                generateChartData(data);
            })
            .catch(error => console.error('Erreur lors de la récupération des données:', error));
    }

    function fetchPositionsData() {
        // this function will be used to fetch the positions data (opened positions)
        // and build the list of jsons for the Am charts
        // thus list looks like this:
        // [
        //     {
        //        "date": new Date( 2020, 10, 19 ),
        //        "type": "flag",
        //        "backgroundColor": "#FFFFFF",
        //        "backgroundAlpha": 0.5,
        //        "graph": "g1",
        //        "text": "+",
        //        "description": "Position opened at 0.0000001234"
        //      }, ...
        // ]
        // url : /api/get_opened_positions/<symbol>
        // Return a list of json with the following keys:
        //{
        //       'id': position.id,
        //        'price': position.price,
        //        'price_format': f"{position.price} {symbol.split('-')[0]}",
        //        'leverage': position.leverage,
        //        'stop_loss_format': f"{position.stop_loss_value}$" if position.stop_loss_value else f"{position.stop_loss_percentage}%",
        //        'take_profit_format': f"{position.take_profit_value}$" if position.take_profit_value else f"{position.take_profit_percentage}%",
        //       'stop_loss_percentage': position.stop_loss_percentage,
        //       'stop_loss_value': position.stop_loss_value,
        //       'take_profit_percentage': position.take_profit_percentage,
        //       'take_profit_value': position.take_profit_value,
        //        'prediction': position.prediction,
        //        'status': position.status,
        //        'created_at': position.created_at,
        //        'current_usd_price': position.current_usd_price,
        //        'current_pourcentage_profit': position.current_pourcentage_profit,
        //       'current_usd_profit': position.current_usd_profit,
        //}

        return fetch('/api/get_opened_positions/{{ symbol }}')
            .then(response => response.json())
            .then(data => {
                return data.positions.map(position => {
                    let date = new Date(position.created_at);
                    // green : #00CC00
                    return {
                        "date": date,
                        "type": "arrowUp",
                        "backgroundColor": "#00CC00",
                        "graph": "g1",
                        "description": `Buy ${position.usd_entry_price}${position.symbol.split("-")[0]} at ${position.token_entry_price}$`,
                    };
                });
            })
            .catch(error => console.error('Erreur lors de la récupération des données:', error));
    }

    function generateChartData(data) {
        if (!data) {
            console.error('Les données reçues sont undefined.');
            return;
        }

        if (!Array.isArray(data.date) || !Array.isArray(data.price)) {
            console.error('Les données reçues ne contiennent pas de tableaux valides pour "date" et "price".');
            return;
        }

        for (let i = 0; i < data.date.length; i++) {
            var date = new Date(data.date[i]);
            var value = data.price[i];

            chartData.push({
                "date": date,
                "value": value,
            });
        }
    }


    function createChart() {
        // Configuration et création du graphique AmCharts ici
        fetchPositionsData().then(stockEvents => {
            AmCharts.makeChart("chart_stock_events", {
                "type": "stock",
                "theme": "light",
                "dataSets": [{
                    "color": "#fbae1c",
                    "fieldMappings": [{
                        "fromField": "value",
                        "toField": "value"
                    }, {
                        "fromField": "volume",
                        "toField": "volume"
                    }],
                    "dataProvider": chartData,
                    "categoryField": "date",
                    // EVENTS
                    "stockEvents": stockEvents,
                }],


                "panels": [{
                    "title": "Value",
                    "stockGraphs": [{
                        "id": "g1",
                        "valueField": "value"
                    }],
                    "stockLegend": {
                        "valueTextRegular": " ",
                        "markerType": "none"
                    }
                }],

                "chartScrollbarSettings": {
                    "graph": "g1"
                },

                "chartCursorSettings": {
                    "valueBalloonsEnabled": true,
                    "graphBulletSize": 1,
                    "valueLineBalloonEnabled": true,
                    "valueLineEnabled": true,
                    "valueLineAlpha": 0.5
                },

                "periodSelector": {
                    // set YTD by default
                    "periods": [{
                        "period": "DD",
                        "count": 10,
                        "label": "10 days"
                    }, {
                        "period": "MM",
                        "count": 1,
                        "label": "1 month"
                    }, {
                        "period": "YYYY",
                        "count": 1,
                        "label": "1 year"
                    }, {
                        "period": "YTD",
                        "label": "YTD",
                        "selected": true
                    }, {
                        "period": "MAX",
                        "label": "MAX"
                    }]
                },


                "panelsSettings": {
                    "usePrefixes": true
                },
                "export": {
                    "enabled": true
                }
            })
        });
    }

</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var symbol = "{{ symbol }}";
        var nameElement = document.getElementById('crypto-name');

        if (symbol_to_name[symbol]) {
            nameElement.textContent = symbol_to_name[symbol];
        } else {
            nameElement.textContent = symbol;
        }
    });

    // call /api/get_user_specific_balance/<symbol> to get the amount of the specific crypto in the wallet
    function updateCryptoAmountInWallet() {
        fetch('/api/get_user_specific_balance/{{ symbol }}')
            .then(response => response.json())
            .then(data => {
                var cryptoAmountInWalletElement = document.getElementById('crypto_amount_in_wallet');
                cryptoAmountInWalletElement.textContent = data.tokens;
            })
            .catch(error => alert('Erreur lors de la récupération des données:', error));
    }

    updateCryptoAmountInWallet();

</script>

<script>

    // onchange on the price field to convert the price to USD
    document.getElementById('price_input').addEventListener('input', function () {
        var price = parseFloat(this.value);
        if (isNaN(price) || price <= 0) {
            document.getElementById('price_converted').textContent = '';
            return;
        }

        // use /api/get_USD_from_crypto/<symbol>/<quantity> to convert the price to USD
        fetch('/api/get_USD_from_crypto/{{ symbol }}/' + price)
            .then(response => response.json())
            .then(data => {
                // display the converted price
                let price_converted = document.getElementById('price_converted');
                price_converted.textContent = `~ $${data.toFixed(2)}`;
                // hide the error message if it was displayed
                document.getElementById('price_error').style.display = 'none';
            })
            .catch(error => alert('Erreur lors de la récupération des données:' + error));
    });


    document.querySelector('.dash-form').addEventListener('submit', function (event) {
        event.preventDefault();
        let isValid = true;

        // Récupération des valeurs et initialisation de la visibilité des messages d'erreur
        document.querySelectorAll('.error-message').forEach(el => el.style.display = 'none');

        let price = parseFloat(document.getElementById('price_input').value);
        let stopLossPercentage = parseFloat(document.getElementById('stop_loss_percentage').value);
        let stopLossValue = parseFloat(document.getElementById('stop_loss_value').value);
        let takeProfitPercentage = parseFloat(document.getElementById('take_profit_percentage').value);
        let takeProfitValue = parseFloat(document.getElementById('take_profit_value').value);

        // Get leverage value
        let leverage = document.getElementById('leverage_select').value;
        // Get prediction value
        let prediction = document.getElementById('prediction_select').value;

        // Validation de la balance disponible
        fetch(`/api/get_user_specific_balance/{{ symbol }}`)
            .then(response => response.json())
            .then(data => {
                let balance = parseFloat(data.USD);
                let balance_token = parseFloat(data.tokens);

                // Validation du prix
                if (price <= 0) {
                    document.getElementById('price_error').textContent = "Price must be greater than 0.";
                    document.getElementById('price_error').style.display = 'block';
                    isValid = false;
                } else if (price > balance_token) {
                    document.getElementById('price_error').textContent = "You don't have enough balance to place this position.";
                    document.getElementById('price_error').style.display = 'block';
                    isValid = false;
                } else if (isNaN(price)) {
                    document.getElementById('price_error').textContent = "Price must be a number.";
                    document.getElementById('price_error').style.display = 'block';
                    isValid = false;
                }

                // Validation du stop loss
                if (!isNaN(stopLossPercentage) && !isNaN(stopLossValue)) {
                    document.getElementById('stop_loss_percentage_error').textContent = "Please provide either the percentage or the value of the stop loss, but not both.";
                    document.getElementById('stop_loss_percentage_error').style.display = 'block';
                    document.getElementById('stop_loss_value_error').textContent = "Please provide either the percentage or the value of the stop loss, but not both.";
                    document.getElementById('stop_loss_value_error').style.display = 'block';
                    isValid = false;
                } else if (!isNaN(stopLossPercentage)) {
                    if (stopLossPercentage < 1 || stopLossPercentage > 100) {
                        document.getElementById('stop_loss_percentage_error').textContent = "The stop loss percentage must be between 1% and 100%.";
                        document.getElementById('stop_loss_percentage_error').style.display = 'block';
                        isValid = false;
                    }
                } else if (!isNaN(stopLossValue)) {
                    if (stopLossValue > balance) {
                        document.getElementById('stop_loss_value_error').textContent = "The stop loss value must be less than the price.";
                        document.getElementById('stop_loss_value_error').style.display = 'block';
                        isValid = false;
                    }
                } else if (isNaN(stopLossPercentage) && isNaN(stopLossValue)) {
                    document.getElementById('stop_loss_percentage_error').textContent = "Please provide either the percentage or the value of the stop loss.";
                    document.getElementById('stop_loss_percentage_error').style.display = 'block';
                    document.getElementById('stop_loss_value_error').textContent = "Please provide either the percentage or the value of the stop loss.";
                    document.getElementById('stop_loss_value_error').style.display = 'block';
                    isValid = false;
                }

                // Validation du take profit
                if (!isNaN(takeProfitPercentage) && !isNaN(takeProfitValue)) {
                    document.getElementById('take_profit_percentage_error').textContent = "Please provide either the percentage or the value of the take profit, but not both.";
                    document.getElementById('take_profit_percentage_error').style.display = 'block';
                    document.getElementById('take_profit_value_error').textContent = "Please provide either the percentage or the value of the take profit, but not both.";
                    document.getElementById('take_profit_value_error').style.display = 'block';
                    isValid = false;
                } else if (!isNaN(takeProfitPercentage)) {
                    if (takeProfitPercentage < 1 || takeProfitPercentage > 500) {
                        document.getElementById('take_profit_percentage_error').textContent = "Le take profit doit être compris entre 1% et 500%.";
                        document.getElementById('take_profit_percentage_error').style.display = 'block';
                        isValid = false;
                    }
                } else if (!isNaN(takeProfitValue)) {
                    if (takeProfitValue < 10 || takeProfitValue > 1000000) {
                        document.getElementById('take_profit_value_error').textContent = "The take profit value must be between 10$ and 1,000,000$.";
                        document.getElementById('take_profit_value_error').style.display = 'block';
                        isValid = false;
                    }
                } else if (isNaN(takeProfitPercentage) && isNaN(takeProfitValue)) {
                    document.getElementById('take_profit_percentage_error').textContent = "Please provide either the percentage or the value of the take profit.";
                    document.getElementById('take_profit_percentage_error').style.display = 'block';
                    document.getElementById('take_profit_value_error').textContent = "Please provide either the percentage or the value of the take profit.";
                    document.getElementById('take_profit_value_error').style.display = 'block';
                    isValid = false;
                }

                if (isValid) {
                    placePosition(price, leverage, stopLossPercentage, stopLossValue, takeProfitPercentage, takeProfitValue, prediction, '{{ symbol }}');
                }
            })
            .catch(error => alert('Erreur lors de la récupération des données:' + error));
    });

    function placePosition(price, leverage, stopLossPercentage, stopLossValue, takeProfitPercentage, takeProfitValue, prediction, symbol) {
        // send all the data to the server
        // on /api/place_position
        fetch('/api/place_position', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                price: price,
                leverage: leverage,
                stopLossPercentage: stopLossPercentage,
                stopLossValue: stopLossValue,
                takeProfitPercentage: takeProfitPercentage,
                takeProfitValue: takeProfitValue,
                prediction: prediction,
                symbol: symbol
            })
        })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    // if the position was placed successfully
                    // update the amount of the specific crypto in the wallet
                    updateCryptoAmountInWallet();
                    updatePositionsTable();
                    // start swal
                    swal({
                        title: "Position placed!",
                        text: "Your position has been placed successfully.",
                        icon: "success",
                        button: "OK",
                    });
                    // empty the form
                    document.querySelector('.dash-form').reset();
                    // restart the chart
                    fetchData().then(() => {
                        createChart();
                    });
                } else {
                    // if the position was not placed successfully
                    // display an error message
                    swal({
                        title: "Error!",
                        text: data.message,
                        icon: "error",
                        button: "OK",
                    });
                }
            })
            .catch(error => console.log('Erreur lors de la récupération des données:' + error));
    }

</script>

<script>
    // call /api/get_opened_positions/<symbol> to get the positions of the specific crypto
    // and fill the table with the positions
    function updatePositionsTable() {
        // opened positions table
        fetch('/api/get_opened_positions/{{ symbol }}')
            .then(response => response.json())
            .then(data => {
                let positionsTable = document.getElementById('opened_positions_table');
                positionsTable.innerHTML = '';

                // if data is empty, hide the div
                if (data.positions.length === 0) {
                    document.getElementById('div_opened_positions_table').style.display = 'none';
                } else {
                    document.getElementById('div_opened_positions_table').style.display = 'block';
                }

                data.positions.forEach(position => {
                    let row = document.createElement('tr');
                    let date = document.createElement('td');
                    let entryPrice = document.createElement('td');
                    let leverage = document.createElement('td');
                    let stopLoss = document.createElement('td');
                    let takeProfit = document.createElement('td');
                    let prediction = document.createElement('td');
                    let currentProfitPercentage = document.createElement('td');
                    let currentProfitValue = document.createElement('td');
                    let closePosition = document.createElement('td');

                    date.textContent = position.created_at;
                    entryPrice.textContent = position.price_format;
                    leverage.textContent = position.leverage;
                    stopLoss.textContent = position.stop_loss_format;
                    takeProfit.textContent = position.take_profit_format;
                    prediction.textContent = position.prediction;
                    currentProfitPercentage.textContent = position.current_pourcentage_profit;
                    currentProfitValue.textContent = position.current_usd_profit;
                    closePosition.innerHTML = `<a class="btn btn-danger btn-xs" onclick=close_position(${position.id})>Close</a>`;

                    row.appendChild(date);
                    row.appendChild(entryPrice);
                    row.appendChild(leverage);
                    row.appendChild(stopLoss);
                    row.appendChild(takeProfit);
                    row.appendChild(prediction);
                    row.appendChild(currentProfitPercentage);
                    row.appendChild(currentProfitValue);
                    row.appendChild(closePosition);

                    positionsTable.appendChild(row);
                });
            })
            .catch(error => alert('Erreur lors de la récupération des données (opened positions):' + error));

        // last 15 positions table
        fetch('/api/get_last_closed_positions/{{ symbol }}')
            .then(response => response.json())
            .then(data => {
                let positionsTable = document.getElementById('last_positions_table');
                positionsTable.innerHTML = '';

                // if data is empty, hide the div
                if (data.positions.length === 0) {
                    document.getElementById('div_last_positions_table').style.display = 'none';
                } else {
                    document.getElementById('div_last_positions_table').style.display = 'block';
                }

                data.positions.forEach(position => {
                    let row = document.createElement('tr');
                    let startDate = document.createElement('td');
                    let endDate = document.createElement('td');
                    let entryPrice = document.createElement('td');
                    let positionToken = document.createElement('td');
                    let leverage = document.createElement('td');
                    let prediction = document.createElement('td');
                    let profitValue = document.createElement('td');
                    let profitPercentage = document.createElement('td');

                    startDate.textContent = position.start_date;
                    endDate.textContent = position.end_date;
                    entryPrice.textContent = position.token_entry_price;
                    positionToken.textContent = position.position_token;
                    leverage.textContent = position.leverage;
                    prediction.textContent = position.prediction;
                    profitValue.textContent = position.current_usd_profit;
                    profitPercentage.textContent = position.current_pourcentage_profit;

                    // text of profit percentage : value is in position.color : style="text-'+position.color+'"
                    profitValue.classList.add('text-'+position.color);
                    profitPercentage.classList.add('text-'+position.color);

                    row.appendChild(startDate);
                    row.appendChild(endDate);
                    row.appendChild(entryPrice);
                    row.appendChild(positionToken);
                    row.appendChild(leverage);
                    row.appendChild(prediction);
                    row.appendChild(profitValue);
                    row.appendChild(profitPercentage);

                    positionsTable.appendChild(row);
                });
            })
            .catch(error => alert('Erreur lors de la récupération des données (last positions):' + error));

    }

    // function to handle close position
    function close_position(position_id) {
        // call /api/close_position with position_id in the url
        fetch('/api/close_position/' + position_id)
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    // if the position was closed successfully
                    // update the amount of the specific crypto in the wallet
                    updateCryptoAmountInWallet();
                    updatePositionsTable();
                    // start swal
                    swal({
                        title: "Position closed!",
                        text: data.message,
                        icon: "success",
                        button: "OK",
                    });
                    // restart the chart
                    fetchData().then(() => {
                        createChart();
                    });
                } else {
                    // if the position was not closed successfully
                    // display an error message
                    swal({
                        title: "Error!",
                        text: data.message,
                        icon: "error",
                        button: "OK",
                    });
                }
            })
            .catch(error => console.log('Erreur lors de la récupération des données:' + error));
    }

    updatePositionsTable();

    // update the positions table every 60 seconds
    setInterval(updatePositionsTable, 60000);
</script>

</body>
</html>
