<!DOCTYPE html>
<html lang="en">
<head>
    {% include('includes/head_content.html') %}
    <title>Crypto platform</title>

</head>
<body class="layout-top-nav {% if session['theme'] == 'dark' %}dark-skin{% else %}light-skin{% endif %} theme-primary fixed">

<div class="wrapper">
    <div id="loader"></div>

    <!-- Top navbar -->
    {% include('includes/top_navbar.html') %}

    <!-- Navbar -->
    {% include('includes/navbar.html') %}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <div class="container-full">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="d-flex align-items-center">
                    <div class="me-auto">
                        <h3 class="page-title">Trading place</h3>
                        <div class="d-inline-block align-items-center">
                            <nav>
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{{ url_for('BLP_general.home') }}"><i
                                            class="mdi mdi-home-outline"></i></a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Trading place</li>
                                </ol>
                            </nav>
                        </div>
                    </div>

                </div>
            </div>

            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <div class="row">
                        {% for crypto_data in market_data.values() %}
                            <div class="col-lg-3 col-md-6">

                                <div class="box pull-up">
                                    <a href="{{ url_for('BLP_general.trading_one_crypto', symbol=crypto_data.symbol+'-USD') }}" class="stretched-link">
                                        <div class="box-body">
                                            <div class="media align-items-center p-0">
                                                <div class="no-margin">
                                                    <i class="cc {{ crypto_data.symbol }} me-5"
                                                                   title="{{ crypto_data.symbol }}"></i>
                                                </div>
                                                <div>
                                                    <h3 class="no-margin text-bold">{{ crypto_data.name }}</h3>
                                                </div>
                                            </div>
                                            <div class="flexbox align-items-center mt-5">
                                                <div>
                                                    <p class="no-margin fw-600"><span
                                                            class="">${{ crypto_data.price }}</span></p>
                                                </div>
                                                <div class="text-end">
                                                    <p class="no-margin fw-600"><span
                                                            class="text-{% if crypto_data['change_7d'] > 0 %}success{% else %}danger{% endif %}">{{ crypto_data.change_7d }} % (7D)</span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="box-footer p-0 no-border">
                                            <div class="chart">
                                                <canvas id="chartjs_{{ crypto_data.symbol }}-USD" class="h-80"></canvas>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </section>
            <!-- /.content -->

        </div>
    </div>
    <!-- /.content-wrapper -->

    <!-- Footer -->
    {% include('includes/footer.html') %}

</div>
<!-- ./wrapper -->

{% include('includes/javascript_include_dashboard.html') %}

<script>
    // call '/api/get_price_for_last_week' to get the price for the last week and update the chart for each crypto
    // the response is a dictionary with the crypto symbol as key and a list of prices as value
    function update_chart(message) {
        $.ajax({
            url: '/api/get_price_for_last_week',
            type: 'GET',
            success: function (response) {
                // update the chart for each crypto (using the id of the canvas element)
                // the id of the canvas element is 'chartjs_{symbol}-USD'
                // and it's also the key in the response dictionary
                for (const [symbol, prices] of Object.entries(response)) {

                    var dasChartjs = document.getElementById('chartjs_' + symbol).getContext('2d');

                    // color of the line : success if the price increased, danger if the price decreased
                    var color = prices[0] < prices[7] ? 'rgba(117,213,178,0.65)' : 'rgba(252,60,82,0.65)';

                    var blue_trans_gradient = dasChartjs.createLinearGradient(0, 0, 0, 100);
                    blue_trans_gradient.addColorStop(0, color);
                    blue_trans_gradient.addColorStop(1, 'rgba(255,255,255,0)');

                    var DASStats = {
                        responsive: true,
                        maintainAspectRatio: false,
                        datasetStrokeWidth: 3,
                        pointDotStrokeWidth: 4,
                        tooltipFillColor: color,
                        legend: {
                            display: false,
                        },
                        hover: {
                            mode: 'label'
                        },
                        scales: {
                            xAxes: [{
                                display: false,
                            }],
                            yAxes: [{
                                display: false,
                            }]

                        },
                        title: {
                            display: false,
                            fontColor: '#FFF',
                            fullWidth: false,
                            fontSize: 30,
                            text: '52%'
                        }
                    };

                    var DASMonthData = {
                        labels: ["J-7", "J-6", "J-5", "J-4", "J-3", "J-2", "J-1", 'J'],
                        datasets: [{
                            label: "abc",
                            data: prices,
                            backgroundColor: blue_trans_gradient,
                            borderColor: color,
                            borderWidth: 1.5,
                            strokeColor: color,
                            pointRadius: 0,
                        }]
                    };

                    var DASCardconfig = {
                        type: 'line',

                        // Chart Options
                        options: DASStats,

                        // Chart Data
                        data: DASMonthData
                    };

                    // Create the chart
                    var DASAreaChart = new Chart(dasChartjs, DASCardconfig);

                }
            }
        });
    }

    update_chart();
    // run the update_chart function every 5 minutes
    setInterval(update_chart, 300000);
</script>

</body>
</html>
