<!DOCTYPE html>
<html lang="en">
<head>
    {% include('includes/head_content.html') %}
    <title>Wallet</title>

</head>
<body class="layout-top-nav {% if session['theme'] == 'dark' %}dark-skin{% else %}light-skin{% endif %} theme-primary fixed">

<div class="wrapper">
    <div id="loader"></div>

    <!-- Top navbar -->
    {% include('includes/top_navbar.html') %}

    <!-- Navbar -->
    {% include('includes/navbar.html') %}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <div class="container-full">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="d-flex align-items-center">
                    <div class="me-auto">
                        <h4 class="page-title">Your Wallet</h4>
                        <div class="d-inline-block align-items-center">
                            <nav>
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{{ url_for('BLP_general.home') }}"><i
                                            class="mdi mdi-home-outline"></i></a>
                                    </li>
                                    <li class="breadcrumb-item active" aria-current="page">Your Wallet</li>
                                </ol>
                            </nav>
                        </div>
                    </div>

                </div>
            </div>

            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <div class="col-xl-6 col-12">
                        <div class="box">
                            <div class="box-header">
                                <h4 class="box-title">
                                    Your crypto Wallet
                                </h4>
                            </div>
                            <div class="box-body p-0">
                                <div>
                                    {% for symbol, name in zip(top_cryptos_symbols,top_cryptos_names) %}
                                        <div class="d-flex bb-1 py-10 px-15 crypto-wallet" data-symbol="{{ symbol }}">
                                            <div><i class="cc {{ symbol.split('-')[0] }}"></i></div>
                                            <div>
                                                <h4 class="mb-0">{{ name }} Wallet</h4>
                                                <p class="text-fade crypto-balance"><small></small></p>
                                                <div>
                                                    <button type="button"
                                                            class="waves-effect waves-light btn btn-outline btn-primary mb-5">
                                                        <i class="fa fa-paper-plane"></i> Send
                                                    </button>
                                                    <button type="button"
                                                            class="waves-effect waves-light btn btn-outline btn-info mb-5">
                                                        <i class="fa fa-money"></i> Receive
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12">
                        <div class="row">
                            <div class="col-lg-6 col-12">
                                <a class="box box-link-pop text-center" href="javascript:void(0)">
                                    <div class="box-body">
                                        <p class="fs-30 text-pink">
                                            <i class="fa fa-bitcoin text-muted me-5 mb-20"></i><br>
                                            <strong id="crypto_balance"></strong>
                                        </p>
                                    </div>
                                    <div class="box-body py-20 bg-light">
                                        <h3 class="fw-600 mt-0">
                                            Crypto balance
                                        </h3>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-6 col-12">
                                <a class="box box-link-pop text-center" href="javascript:void(0)">
                                    <div class="box-body">
                                        <p class="fs-30 text-pink">
                                            <i class="fa fa-image text-muted me-5 mb-20"></i><br>
                                            <strong id="web3_balance"></strong>
                                        </p>
                                    </div>
                                    <div class="box-body py-20 bg-light">
                                        <h3 class="fw-600 mt-0">
                                            Web3 balance
                                        </h3>
                                    </div>
                                </a>
                            </div>
                            <div class="col-xl-12 col-12">
                                <div class="box">
                                    <div class="box-body analytics-info">
                                        <div id="basic-pie" style="height:400px;"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-12 col-12">
                                <div class="box">
                                    <div class="box-body">
                                        <div class="tab-content">
                                            <div class="tab-pane active" id="tabid1" role="tabpanel">
                                                <h4 class="box-title mb-15">Payment Method</h4>
                                                <div class="row bb-1 pb-15 mb-15">
                                                    <div class="col-xxxl-4 col-md-6 col-12">
                                                        <div class="sel-coin-type-outer">
                                                            <input type="radio" name="pay-type" id="pay-1" checked>
                                                            <label for="pay-1" class="sel-coin-type">
                                                                <i class="fa fa-google-wallet"></i>
                                                                <span class="d-block mb-5">Wallet</span>
                                                                <span class="d-block mb-0"><small
                                                                        id="mini_wallet"></small></span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-xxxl-4 col-md-6 col-12">
                                                        <div class="sel-coin-type-outer">
                                                            <input type="radio" name="pay-type" id="pay-2">
                                                            <label for="pay-2" class="sel-coin-type">
                                                                <i class="fa fa-bank"></i>
                                                                <span class="d-block mb-5">USA Bank</span>
                                                                <span class="d-block mb-0"><small
                                                                        id="bank_wallet"></small></span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>

                                                <h4 class="box-title mb-15">Amount</h4>
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div class="buy-input-block-content row">
                                                            <div class="buy-input-box col-md-5">
                                                                <div class="form-group">
                                                                    <input type="text" class="form-control"
                                                                           id="input_usd"
                                                                           placeholder="10 USD">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-2 text-center">
                                                                <i class="fa fa-exchange dir-icon"></i>
                                                            </div>
                                                            <div class="buy-input-box col-md-5">
                                                                <div class="form-group">
                                                                    <input type="text" class="form-control"
                                                                           id="input_crypto"
                                                                           placeholder="1 BTC">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <button type="button" id="buy_button"
                                                                class="waves-effect waves-light btn btn-primary mt-10 d-block w-p100">
                                                            Buy Bitcoin
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-12">
                        <div class="box">
                            <h3 class="title w-p100 mt-10 mb-0 p-20">Last crypto transactions</h3>
                            <div class="media-list media-list-hover w-p100 mt-0">
                                <div id="wallet_history_container"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-12">
                        <div class="box">
                            <h3 class="title w-p100 mt-10 mb-0 p-20">Last NFT transactions</h3>
                            <div class="media-list media-list-hover w-p100 mt-0">
                                <h5 class="media media-single py-10 px-0 w-p100 justify-content-between">
									  <span>
									  <i class="fa fa-circle text-danger pe-10 fs-12"></i>Deal number 1548
									  <span class="subtitle ps-20 mt-10">by<span
                                              class="text-danger">Johen Doe</span></span>
									  </span>
                                    <span class="text-end pull-right"><span
                                            class="badge badge-sm badge-danger mb-10">buy</span><br>0.12458921 BTC</span>
                                </h5>
                                <h5 class="media media-single py-10 px-0 w-p100 justify-content-between">
									  <span>
									  <i class="fa fa-circle text-success pe-10 fs-12"></i>Deal number 1548
									  <span class="subtitle ps-20 mt-10">by<span
                                              class="text-success">Johen Doe</span></span>
									  </span>
                                    <span class="text-end pull-right"><span
                                            class="badge badge-sm badge-success mb-10">sell</span><br>0.12458921 BTC</span>
                                </h5>
                                <h5 class="media media-single py-10 px-0 w-p100 justify-content-between">
									  <span>
									  <i class="fa fa-circle text-success pe-10 fs-12"></i>Deal number 1548
									  <span class="subtitle ps-20 mt-10">by<span
                                              class="text-success">Johen Doe</span></span>
									  </span>
                                    <span class="text-end pull-right"><span
                                            class="badge badge-sm badge-success mb-10">sell</span><br>0.12458921 BTC</span>
                                </h5>
                                <h5 class="media media-single py-10 px-0 w-p100 justify-content-between">
									  <span>
									  <i class="fa fa-circle text-danger pe-10 fs-12"></i>Deal number 1548
									  <span class="subtitle ps-20 mt-10">by<span
                                              class="text-danger">Johen Doe</span></span>
									  </span>
                                    <span class="text-end pull-right"><span
                                            class="badge badge-sm badge-danger mb-10">buy</span><br>0.12458921 BTC</span>
                                </h5>
                                <h5 class="media media-single py-10 px-0 w-p100 justify-content-between">
									  <span>
									  <i class="fa fa-circle text-success pe-10 fs-12"></i>Deal number 1548
									  <span class="subtitle ps-20 mt-10">by<span
                                              class="text-success">Johen Doe</span></span>
									  </span>
                                    <span class="text-end pull-right"><span
                                            class="badge badge-sm badge-success mb-10">sell</span><br>0.12458921 BTC</span>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- /.content -->

        </div>
    </div>
    <!-- /.content-wrapper -->

    <!-- Footer -->
    {% include('includes/footer.html') %}

</div>
<!-- ./wrapper -->

<!-- Page Content overlay -->
{% include('includes/javascript_include_dashboard.html') %}

<script>
    /*
    // For the little graphique with value and graph (not in this page anymore)
    //[chartjs Javascript]
    $(document).ready(function () {

        'use strict';

        //----chart1
        //Get the context of the Chart canvas element we want to select
        var dasChartjs1 = document.getElementById("chartjs1").getContext("2d");
        // Create Linear Gradient
        var blue_trans_gradient1 = dasChartjs1.createLinearGradient(0, 0, 0, 100);
        blue_trans_gradient1.addColorStop(0, 'rgba(247, 147, 26,1)');
        blue_trans_gradient1.addColorStop(1, 'rgba(255,255,255,0)');
        // Chart Options
        var DASStats1 = {
            responsive: true,
            maintainAspectRatio: false,
            datasetStrokeWidth: 3,
            pointDotStrokeWidth: 4,
            tooltipFillColor: "rgba(247, 147, 26,0.8)",
            legend: {
                display: false,
            },
            hover: {
                mode: 'label'
            },
            scales: {
                xAxes: [{
                    display: false,
                }],
                yAxes: [{
                    display: false,
                    ticks: {
                        min: 0,
                        max: 85
                    },
                }]
            },
            title: {
                display: false,
                fontColor: "#FFF",
                fullWidth: false,
                fontSize: 30,
                text: '52%'
            }
        };

        // Chart Data
        var DASMonthData1 = {
            labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul"],
            datasets: [{
                label: "abc",
                data: [20, 18, 35, 60, 38, 40, 70],
                backgroundColor: blue_trans_gradient1,
                borderColor: "#F7931A",
                borderWidth: 1.5,
                strokeColor: "#F7931A",
                pointRadius: 0,
            }]
        };

        var DASCardconfig1 = {
            type: 'line',

            // Chart Options
            options: DASStats1,

            // Chart Data
            data: DASMonthData1
        };

        // Create the chart
        var DASAreaChart1 = new Chart(dasChartjs1, DASCardconfig1);


        //----chart2
        //Get the context of the Chart canvas element we want to select
        var dasChartjs = document.getElementById("chartjs2").getContext("2d");
        // Create Linear Gradient
        var blue_trans_gradient = dasChartjs.createLinearGradient(0, 0, 0, 100);
        blue_trans_gradient.addColorStop(0, 'rgba(131, 131, 131,1)');
        blue_trans_gradient.addColorStop(1, 'rgba(255,255,255,0)');
        // Chart Options
        var DASStats = {
            responsive: true,
            maintainAspectRatio: false,
            datasetStrokeWidth: 3,
            pointDotStrokeWidth: 4,
            tooltipFillColor: "rgba(131, 131, 131,0.8)",
            legend: {
                display: false,
            },
            hover: {
                mode: 'label'
            },
            scales: {
                xAxes: [{
                    display: false,
                }],
                yAxes: [{
                    display: false,
                    ticks: {
                        min: 0,
                        max: 85
                    },
                }]
            },
            title: {
                display: false,
                fontColor: "#FFF",
                fullWidth: false,
                fontSize: 30,
                text: '52%'
            }
        };

        // Chart Data
        var DASMonthData = {
            labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul"],
            datasets: [{
                label: "abc",
                data: [40, 30, 60, 40, 45, 30, 60],
                backgroundColor: blue_trans_gradient,
                borderColor: "#838383",
                borderWidth: 1.5,
                strokeColor: "#838383",
                pointRadius: 0,
            }]
        };

        var DASCardconfig = {
            type: 'line',
            // Chart Options
            options: DASStats,
            // Chart Data
            data: DASMonthData
        };

        // Create the chart
        var DASAreaChart = new Chart(dasChartjs, DASCardconfig);

        //----chart3
        //Get the context of the Chart canvas element we want to select
        var dasChartjs = document.getElementById("chartjs3").getContext("2d");
        // Create Linear Gradient
        var blue_trans_gradient = dasChartjs.createLinearGradient(0, 0, 0, 100);
        blue_trans_gradient.addColorStop(0, 'rgba(27, 197, 89,1)');
        blue_trans_gradient.addColorStop(1, 'rgba(255,255,255,0)');
        // Chart Options
        var DASStats = {
            responsive: true,
            maintainAspectRatio: false,
            datasetStrokeWidth: 3,
            pointDotStrokeWidth: 4,
            tooltipFillColor: "rgba(27, 197, 89,0.8)",
            legend: {
                display: false,
            },
            hover: {
                mode: 'label'
            },
            scales: {
                xAxes: [{
                    display: false,
                }],
                yAxes: [{
                    display: false,
                    ticks: {
                        min: 0,
                        max: 85
                    },
                }]
            },
            title: {
                display: false,
                fontColor: "#FFF",
                fullWidth: false,
                fontSize: 30,
                text: '52%'
            }
        };

        // Chart Data
        var DASMonthData = {
            labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul"],
            datasets: [{
                label: "abc",
                data: [70, 20, 35, 60, 20, 40, 30],
                backgroundColor: blue_trans_gradient,
                borderColor: "#499806",
                borderWidth: 1.5,
                strokeColor: "#499806",
                pointRadius: 0,
            }]
        };

        var DASCardconfig = {
            type: 'line',

            // Chart Options
            options: DASStats,

            // Chart Data
            data: DASMonthData
        };

        // Create the chart
        var DASAreaChart = new Chart(dasChartjs, DASCardconfig);


        //----chart4
        //Get the context of the Chart canvas element we want to select
        var dasChartjs = document.getElementById("chartjs4").getContext("2d");
        // Create Linear Gradient
        var blue_trans_gradient = dasChartjs.createLinearGradient(0, 0, 0, 100);
        blue_trans_gradient.addColorStop(0, 'rgba(28, 117, 188,1)');
        blue_trans_gradient.addColorStop(1, 'rgba(255,255,255,0)');
        // Chart Options
        var DASStats = {
            responsive: true,
            maintainAspectRatio: false,
            datasetStrokeWidth: 3,
            pointDotStrokeWidth: 4,
            tooltipFillColor: "rgba(28, 117, 188,0.8)",
            legend: {
                display: false,
            },
            hover: {
                mode: 'label'
            },
            scales: {
                xAxes: [{
                    display: false,
                }],
                yAxes: [{
                    display: false,
                    ticks: {
                        min: 0,
                        max: 85
                    },
                }]
            },
            title: {
                display: false,
                fontColor: "#FFF",
                fullWidth: false,
                fontSize: 30,
                text: '52%'
            }
        };

        // Chart Data
        var DASMonthData = {
            labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul"],
            datasets: [{
                label: "abc",
                data: [20, 50, 65, 30, 24, 60, 40],
                backgroundColor: blue_trans_gradient,
                borderColor: "#1c75bc",
                borderWidth: 1.5,
                strokeColor: "#1c75bc",
                pointRadius: 0,
            }]
        };

        var DASCardconfig = {
            type: 'line',

            // Chart Options
            options: DASStats,

            // Chart Data
            data: DASMonthData
        };

        // Create the chart
        var DASAreaChart = new Chart(dasChartjs, DASCardconfig);

    }); // End of use strict
    */
</script>

<script>
    // for currency exchange
    if ($('.coins-exchange').length) {
        $('.coins-exchange').select2();
    }
    if ($('.money-exchange').length) {
        $('.money-exchange').select2();
    }
</script>

<script>
    function updateWalletBalances() {
        /*
        Update the 2 divs with id="crypto_balance" and "web3_balance" with the balance of the user
        Update the Pie chart with the repartition of the balance
        Update the amount for each crypto in the divs with class="crypto-wallet"
        */
        // Get crypto balance from API : /api/get_user_balance
        /* That's return a JSON like this:
        {
                "crypto_balance": 0, # all crypto balance in USD,
                'web3_balance': 0,   # web3 balance in USD,
                "crypto_balance_by_symbol": {
                    "BTC": {Quantity: 0, Balance: 0},   # Quantity in BTC, Balance in USD
                    "ETH": {Quantity: 0, Balance: 0},   # Quantity in ETH, Balance in USD
                    ...
                }
            }

         */
        // using ajax to get the data
        var url = "/api/get_user_balance";
        $.ajax({
            url: url,
            type: "GET",
            success: function (data) {
                // Get the response data
                var user_balance = data;

                // Update the balance in the div with id="crypto_balance"
                $("#crypto_balance").html(user_balance.crypto_balance + " USD");
                $("#web3_balance").html(user_balance.web3_balance + " USD");

                // Pie chart
                $(function () {
                    "use strict";
                    // ------------------------------
                    // Basic pie chart
                    // ------------------------------
                    // based on prepared DOM, initialize echarts instance
                    var basicpieChart = echarts.init(document.getElementById('basic-pie'));
                    var option = {
                        // Add title
                        title: {
                            subtext: 'Balance repartition',
                            x: 'center'
                        },

                        // Add tooltip
                        tooltip: {
                            trigger: 'item',
                            formatter: "{a} <br/>{b}: {c} ({d}%)"
                        },

                        // Add custom colors
                        color: ['#689f38', '#38649f'],

                        // Display toolbox
                        toolbox: {
                            show: true,
                            orient: 'vertical',
                            feature: {
                                mark: {
                                    show: true,
                                    title: {
                                        mark: 'Markline switch',
                                        markUndo: 'Undo markline',
                                        markClear: 'Clear markline'
                                    }
                                },
                                magicType: {
                                    show: true,
                                    title: {
                                        pie: 'Switch to pies',
                                        funnel: 'Switch to funnel',
                                    },
                                    type: ['pie', 'funnel'],
                                    option: {
                                        funnel: {
                                            x: '25%',
                                            y: '20%',
                                            width: '50%',
                                            height: '70%',
                                            funnelAlign: 'left',
                                            max: 1548
                                        }
                                    }
                                },
                                saveAsImage: {
                                    show: true,
                                    title: 'Same as image',
                                    lang: ['Save']
                                }
                            }
                        },

                        // Enable drag recalculate
                        calculable: true,

                        // Add series
                        series: [{
                            name: 'Balance',
                            type: 'pie',
                            radius: '70%',
                            center: ['50%', '57.5%'],
                            data: [
                                {value: user_balance["crypto_balance"], name: 'Crypto'},
                                {value: user_balance["web3_balance"], name: 'Web3'}
                            ]
                        }]
                    };

                    basicpieChart.setOption(option);
                    //------------------------------------------------------
                    // Resize chart on menu width change and window resize
                    //------------------------------------------------------
                    $(function () {

                        // Resize chart on menu width change and window resize
                        $(window).on('resize', resize);
                        $(".sidebartoggler").on('click', resize);

                        // Resize function
                        function resize() {
                            setTimeout(function () {

                                // Resize chart
                                basicpieChart.resize();
                            }, 200);
                        }
                    });
                });

                // Display amount for each crypto
                // Go through each crypto-wallet div
                $(".crypto-wallet").each(function () {
                    var symbol = $(this).data("symbol"); // Récupérer le symbole de la cryptomonnaie
                    var balanceInfo = user_balance["crypto_balance_by_symbol"][symbol];
                    if (balanceInfo) {
                        // Update the balance in the div with id="crypto_balance"
                        $(this).find(".crypto-balance small").text(balanceInfo["quantity"] + " " + symbol + " ~ $" + balanceInfo["balance"]);
                    }
                });
            }
        });
    }

    function update_game_wallet() {
        /*
        Update the 2 divs with id="mini_wallet" and "bank_wallet" with the balance of the user
        */
        // Get game_wallet balance from API : /api/get_game_wallet
        // using ajax to get the data
        var url = "/api/get_game_wallet";
        $.ajax({
            url: url,
            type: "GET",
            success: function (data) {
                // Get the response data
                var game_wallet = data;
                // Update the balance in the div with id="mini_wallet" and "bank_wallet"
                $("#mini_wallet").html(game_wallet["mini_wallet"] + "$");
                $("#bank_wallet").html(game_wallet["bank_wallet"] + "$");
            }
        });
    }

    // Function to disable the buy button if the amount is not valid
    function validateAmount() {
        var balanceUSD = 0;  // Variable pour stocker le montant disponible
        var selectedWallet = "mini_wallet";  // Wallet sélectionné par défaut

        // Fonction pour récupérer le montant disponible dans le wallet sélectionné
        function fetchWalletBalance() {
            $.ajax({
                url: "/api/get_game_wallet",
                type: "GET",
                success: function (data) {
                    balanceUSD = data[selectedWallet];
                    validateAmount();
                }
            });
        }

        // Mise à jour du wallet sélectionné
        $("input[name='pay-type']").change(function () {
            selectedWallet = $(this).is("#pay-1") ? "mini_wallet" : "bank_wallet";
            fetchWalletBalance();
        });

        // Fonction pour valider le montant et activer/désactiver le bouton d'achat
        function validateAmount() {
            var usdAmount = parseFloat($("#input_usd").val().replace(" USD", ""));
            if (!isNaN(usdAmount) && usdAmount <= balanceUSD) {
                $("#buy_button").prop('disabled', false);
            } else {
                $("#buy_button").prop('disabled', true);
            }
        }

        // Vos fonctions existantes pour les conversions...
        // Assurez-vous d'appeler validateAmount() à la fin des fonctions success de vos appels AJAX

        // Vérifier le montant à chaque modification des valeurs
        $("#input_usd, #input_crypto").on('keyup', function () {
            validateAmount();
        });

        // Récupération initiale du montant disponible
        fetchWalletBalance();
    }

    function reset_by_usd() {
        // Reset the input fields of the buy form from USD
        $("#input_usd").val("");
        $("#input_crypto").val("");
    }

    function update_wallet_history() {
        var url = "/api/get_wallet_history";
        $.ajax({
            url: url,
            type: "GET",
            success: function (data) {
                // Effacer l'historique existant
                $("#wallet_history_container").empty();

                // Limit to the last 5 transactions
                var wallet_history = data["wallet_history"].slice(-5);
                console.log(wallet_history);

                // Créer et ajouter les éléments HTML pour chaque transaction
                wallet_history.forEach(function (transaction) {
                    var historyElement = '<h5 class="media media-single py-10 px-0 w-p100 justify-content-between">' +
                        '<span>' +
                        '<i class="fa fa-circle ' + (transaction.transaction_type === 'sell' ? 'text-danger' : 'text-success') + ' pe-10 fs-12"></i>' +
                        transaction.date + '<br>' +
                        '</span>' +
                        '<span class="text-end pull-right">' +
                        '<span class="badge badge-sm badge-' + (transaction.transaction_type === 'sell' ? 'danger' : 'success') + ' mb-10">' +
                        transaction.transaction_type + '</span><br>' +
                        transaction.quantity + ' ' + transaction.symbol +
                        '</span>' +
                        '</h5>';
                    $("#wallet_history_container").append(historyElement);
                });
            }
        });
    }


    function setupEventHandlers() {
        // Fonction pour enlever les unités de la valeur
        function cleanInputValue(value, unit) {
            return value.replace(unit, '').trim();
        }

        $("#buy_button").click(function () {
            // Récupérer le symbole de la cryptomonnaie (ici, je suppose que c'est toujours BTC-USD)
            var symbol = "BTC-USD";

            // Déterminer la source du paiement sélectionnée
            var paymentSource = $("input[name='pay-type']:checked").is("#pay-1") ? "mini_wallet" : "bank_wallet";

            // Récupérer et nettoyer les montants entrés
            var cryptoAmount = cleanInputValue($("#input_crypto").val(), "BTC");
            var usdAmount = cleanInputValue($("#input_usd").val(), "USD");

            // Construire l'URL pour l'appel AJAX
            var url = "/api/buy_crypto_with_USD/" + symbol + "/" + paymentSource + "/" + usdAmount + "/" + 'USD';

            $.ajax({
                url: url,
                type: "POST",
                success: function (response) {
                    // response is eather {'error': ...} or {'success': ...}
                    if (response.error) {
                        swal("Error", response.error, "error");
                    } else if (response.success) {
                        // Actions supplémentaires après l'achat réussi
                        updateWalletBalances();
                        update_game_wallet();
                        validateAmount()
                        update_wallet_history();
                        swal("Achat réussi!", "Votre achat de " + cryptoAmount + " BTC a été effectué avec succès.", "success");
                        reset_by_usd();
                    }
                },
                error: function () {
                    swal("Erreur!", "Une erreur est survenue lors de l'achat de cryptomonnaie.", "error");
                }
            });
        });
    }

</script>

<script>
    // Display the conversion in the exchange calculator
    $(document).ready(function () {
        // Fonction pour valider si l'entrée est un nombre
        function isValidNumber(value) {
            return !isNaN(value) && value.trim() !== '';
        }

        // Fonction pour enlever l'unité des valeurs
        function cleanInputValue(value, unit) {
            return value.replace(unit, '').trim();
        }

        // Fonction pour mettre à jour la valeur en USD lorsque la crypto change
        $("#input_crypto").on('input', function () {
            var cryptoQuantity = cleanInputValue($(this).val(), "BTC");
            var symbol = "BTC-USD";

            if (isValidNumber(cryptoQuantity)) {
                var url = "/api/get_USD_from_crypto/" + symbol + "/" + cryptoQuantity;

                $.ajax({
                    url: url,
                    type: "GET",
                    success: function (data) {
                        $("#input_usd").val(data + " USD");
                    },
                    error: function () {
                        $("#input_usd").val("Erreur");
                    }
                });
            } else {
                // if empty, set the value to '', else set it to 'Erreur'
                $("#input_usd").val(cryptoQuantity === '' ? '' : 'Erreur');
            }
        });

        // Fonction pour mettre à jour la valeur en crypto lorsque l'USD change
        $("#input_usd").on('input', function () {
            var usdAmount = cleanInputValue($(this).val(), "USD");
            var symbol = "BTC-USD";

            if (isValidNumber(usdAmount)) {
                var url = "/api/get_crypto_from_USD/" + symbol + "/" + usdAmount;

                $.ajax({
                    url: url,
                    type: "GET",
                    success: function (data) {
                        $("#input_crypto").val(data + " BTC");
                    },
                    error: function () {
                        $("#input_crypto").val("Erreur");
                    }
                });
            } else {
                // if empty, set the value to '', else set it to 'Erreur'
                $("#input_crypto").val(usdAmount === '' ? '' : 'Erreur');
            }
        });
    });
</script>


<script>
    $(document).ready(function () {
        updateWalletBalances();
        update_game_wallet();
        validateAmount();
        setupEventHandlers();
        update_wallet_history();
    });
</script>

</body>
</html>
